body {
	margin: 0;
	padding: 0;
	font-family: tahoma,Arial;
	font-size: 11px;
	color: #333;
	text-align: center;
	background-image: url('../img/admin/bg-admin.jpg');
	background-position: center center;
	direction: rtl;
}

h1 {
	color: #902F52;
	font-size: 16pt;
	padding: 15px 30px 10px 10px;
	margin: 0;
	overflow: hidden;
}

h2 a {
	color: #eee;
	font-size: 9px;
	margin: 0;
	text-shadow: 0 -1px 0 #000;
	text-decoration:none;
}

h2 a:hover {
	color: #eee;
	text-decoration: underline;
	margin: 0;
}

a {
	color: #902d50;
	text-decoration: underline;
}

a:hover {
	color: #902d50;
	text-decoration: none;
}

input, textarea, option, select {
	color: #000;
	font-family: tahoma,Arial;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

input:focus, textarea:focus {
	border: 1px solid #3293D6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

/* CONTENT */
#container {
	width: 464px;
	margin: 12% auto 1em;
	padding: 0;
}

#login {
	color: #383838;
	text-align: right;
	font-weight: bold;
	background-color:#F5F5F5;
	border-radius:9px;
	box-shadow: 0 1px 30px #333333;
}

#login h1 {
	border-bottom:1px solid #ccc;
	color:#333;
	text-shadow:0 1px 0 #fff;
}

#login a { color:#3A6EA7; }
#login label { text-shadow: 0 1px 0 #fff; }
#login form {
	border-top:1px solid #fff;
	margin: 0;
	padding: 30px;
}

#login .submit {
	margin: 1em 1px;
	padding: 0;
	display: block;
	float:right;
}

#login .submit input {
	padding: 4px 10px;
}

/* ERROR */
.error, #error {
	margin: 0;
	padding: 10px 15px;
	border: 1px solid #EC9B9B;
	background-color: #FAE2E3;
	text-align: right;
	border-radius:9px;
	box-shadow: 0 1px 30px #333333;
}

#error ol {
	margin: 15px 0 0 0;
	padding-bottom: 0;
}

#error li {
	_margin-right: 45px;
	font-family: tahoma,Georgia;
	font-size: 11px;
	font-style: italic;
}

#error h3 {
	margin: 0;
	padding: 5px 30px 12px 0px;
	background: url(../img/admin/icon-cancel.png) no-repeat right 0;
	font-size: 13px;
	text-indent:14px;
}

/* CLASS */

.input {
	border:1px solid #ccc;
	width: 365px;
	margin:0;
	padding: 6px 35px 6px 4px;
}

.email_field { background: #fff url(../img/admin/bg_form_email.png) no-repeat scroll 97% 8px; }
.password_field { background: #fff url(../img/admin/bg_form_password.png) no-repeat scroll 97% 8px; }

.button {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll right 0 transparent; 
	background: -webkit-gradient(linear, center top ,center bottom, from(#F9F9F9), to(#E3E3E3)) repeat scroll right 0 transparent;
	border-color: #CCCCCC #BBBBBB #A0A0A0;
	border-right: 1px solid #BBBBBB;
	border-radius: 3px 3px 3px 3px;
	border-left: 1px solid #BBBBBB;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	margin: 0;
	outline: medium none;
	padding: 3px 8px;
}

.button:hover {
	border:1px solid #939393;
	cursor:pointer;
}

.clear { clear: both; }
.hide { display: none; }
.bold { font-weight: bold; }

.field { margin-bottom: 20px; }

.fl { float: right; }
.fr { float: left; }

.no-margin { margin: 0; }
.margin-right-5 { margin-left: 5px; }

.padding-30 { padding: 30px; }

.center { text-align: center; }
