/* Block newsletter */
#newsletter_block_left {
	margin-top:10px;
}
#newsletter_block_left p {padding:0;}
.input-append
{
	position:relative;
}
#newsletter_block_left p.success_inline {
	color: #418B19;
	text-align: center;
	font-weight: bold;
}
#newsletter_block_left p.warning_inline {
	color: #DA0F00;
	text-align: center;
	font-weight: bold;
}
*:first-child+html #newsletter_block_left input.inputNew {position:static;}/* hack ie 7 */
#newsletter_block_left .title
{
}
#newsletter_block_left .btn
{
    background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
    height: 33px;
    line-height: 25px !important;
    margin-top: 5px;
    padding: 0 6px;
    width: 38px;
}
#newsletter_block_left .inputNew {
    height: 33px !important;
    line-height: 25px !important;
    padding: 0 10px;
    width: 100%;
}
*:first-child+html #newsletter_block_left input.btn{padding-left:24px !important; min-height:25px !important;}/* hack ie 7 */

/*\*//*/div.madiv {
#newsletter_block_left input.button_mini {
	position:relative;
	top: 4px;
}/* hack ie 8 */
}/* */
