/* reset global style  */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.lofcontent_right_col {
    float: right;
    padding-right: 10px;
}
input, textarea {
    margin-right: 0;    
}
/* ------------------ CATEGORY VIEW ------------------------*/
.lofcontent_category_item {
    background-color: #F9F9F9;
    border: 1px solid #E2E2E2;
    float: right;
    margin: 5px 0;
    padding: 5px 5px 5px 0px;
    width: 98%;
}
.lof_link_title {
    border-bottom: 1px solid #ddd;
}
.lof_link_title a {
    color: orangered;
}
lofcontent_category_item p {
    padding: 0;
    margin: 0;
}
.lofcontent_category_item > div {
    float: right;
}
.lof_item_thumb {
    width: 30%;
    margin-top: 15px;
}
.lof_item_thumb img {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px #000000;
}
.lof_item_desc {
    width: 69%;
}
.lof_item_desc .article_infor {
    float: right;
    margin: 0 !important;
    width: 59%;
}
.lof_item_desc .lof_link_title a {
    text-decoration: none;
    font-weight: bold;
}
.lof_item_desc p {
    padding: 5px 0;
}

.lof_description {
    float: right;
    width: 98%;
    margin-top: 10px;
    text-align: justify;
}

/* 404 PAGE */
.lofblogs_not_found {
    background-color: #000;
    float: right;
    width: 100%;
}
.lofblogs_not_found h3 {
    background-color: darkRed;
    color: #F1F1F1;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding-right: 5px;
}
.lofblogs_not_found .lofblogs_note {
    background-color: #F1F1F1;
    box-shadow: 1px 1px 100px #FFFFFF;
    color: #2B2B2B;
    margin-bottom: 100px;
    margin-right: 60px;
    margin-top: 100px;
    padding-bottom: 5px;
    width: 80%;
}
.lofblogs_not_found .note_title {
    background-color: darkred;
    color: #F1F1F1;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0;
    text-transform: uppercase;
}

.lofblogs_not_found .lofblogs_note ul {
    font-size: 12px;
    font-style: italic;
    list-style: square outside none;
    margin-right: 20px;
}
/* ---------------------- ARTICLE VIEW -----------------------------*/

/* main content */
.lofcontent_main_content img.primary_image {
    float: right;
    margin: 0 0 5px 5px;
}
.lofcontent_block {
    margin: 10px 0;
}
.article_infor {
    color: #ccc;
    font-style: italic;
}
.article_infor span.lofcontent_authorname {
    color: #555555;
    margin: 0 3px;
}

/* Related products */
#lofcontent_related_product ul, #lofcontent_related_product ul li a, #lofcontent_related_product ul li img {
    float: right;
    width: 100%;
    text-align: center;
}
#lofcontent_related_product ul li {
    box-shadow: 1px 1px 2px #DDDDDD;
    float: right;
    font-weight: bold;
    margin: 5px;
    padding: 2px 2px 10px;
    width: 100px;    
}
#lofcontent_related_product ul li a, #lofcontent_related_product ul li img {
    
}

.lofcontent_line input, .lofcontent_line label {
    height: 25px;
    line-height: 25px;    
}

.lofcontent_line input {
    font-style: italic;
    padding-right: 5px;
    width: 200px;
}
.lofcontent_line input:hover, .lofcontent_line textarea:hover {
    background-color: lightgoldenrodyellow;
}
/* Tags */
#lofcontent_tags h3 {
    float: right;
    margin: 0;
    padding: 5px;
    width: 10%;
}
#lofcontent_tags {
    float: right;
    width: 100%;
}
#lofcontent_tags ul {
    float: right;
    margin-top: 5px;
    width: 75%;
}
#lofcontent_tags ul li {
    float: right;
}
#lofcontent_tags ul li a {
    float: right;
    padding:0 5px;
    border-left: 1px solid #ddd;
}


/* -- comments form -- */
#lofcontent_comments {
    position: relative;
}
#lofcontent_comments, #view_comment_list, .item_comment_form {
    float: right;
    width: 100%;
}
#view_comment_list {
    
}
.loading_overlay {
    background-color: #000000;
    background-image: url("../images/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    right: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    z-index: 1000;
}
.loading_comments .loading_overlay {
    display: block;
}
.display_warning {
    background-color: lightyellow;
    border: 1px outset lightyellow;
    color: #2B2B2B;
    font-style: italic;
    padding: 15px 5px;
    width: 95%;
}
.article_subheader {
    border-bottom: 1px dotted #ddd;
    color: darkRed;
    float: right;
    font-weight: bold;
    margin: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 98%;
}
#refresh_captcha {
    cursor: pointer;
    margin-bottom: 10px;
    width: 24px;
}
.item_comment_form {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    width: 99%;
    position: relative;
}
.form_error_tip {
    display: none;
    font-style: italic;
    font-size: 0.8em;
    color: red;
}
#captcha_container {
    padding-right: 0;
}
#button_container {
    text-align: center;
    margin: 20px 0;
}
#button_container a {
    background-color: #2B2B2B;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 10px #CCCCCC;
    color: #E2E2E2;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
}

#button_container a:hover {
    background-color: #999;
    color: #2b2b2b;
    -moz-transition-duration: 1s;
}

.comment-avatar {
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.comment-avatar img {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    width: 64px;
}
.comment-main {
    float: right;
    margin-top: 10px;
    width: 82%;
}
#lofcontent_comments_list li {
    background: url("../images/bottom_line_bg.gif") repeat-x scroll right bottom transparent;
    float: right;
    margin: 15px 0;
    width: 100%;
}
.comment-name {    
    float: right;    
    width: 100%;
}
.comment-name span.author-name {
    color: #9F272A;
    font-weight: bold;
}

.comment-name span.say-text {
    color: #555555;
    font-size: 0.8em;
    font-style: italic;
    margin-right: 5px;
}
.comment-date {
    color: #9F272A;
    font-size: 0.7em;
    font-style: italic;
    margin-right: 5px;
}
.comment-content {
    float: right;
    margin-top: 10px !important;
    padding: 5px !important;
    width: 100%;
}
.comment-panel {
    float: right;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}
.comment-panel .vote_btn_container  {
    float: left;
    margin: 0 3px;
}
.comment-panel img, .comment-panel span {
    float: right;
    height: 24px;
    line-height: 24px;
    margin: 0 1px;
}
#emoticons_panel {
    width: 150px;
    max-height: 200px;
    float: left;
    overflow: auto;
}
#comment_area_col {
    width: 430px;
}
#emoticons_panel img {
    cursor: pointer;
}
#emoticons_panel img:hover {
    box-shadow: 1px 1px 1px #ccc;
}

/* Gallery style */
#lofcontent_gallery, #articleGallery {
    float: right;
    width: 100%;
}
#articleGallery li {
    float: right;
    margin: 5px;
    width: 50px;
}
#articleGallery li img {
    width: 100%;
    box-shadow: 1px 1px 5px #000;
}