/* block myaccount */
.myaccount ul {margin-bottom:10px}
.myaccount li {border-bottom: 1px solid #eee}
.myaccount li a {
   display: block;
   padding: 7px 22px 5px 11px;
   color: #333;
   background: url("../blockcms/img/arrow_right_2.png") no-repeat 10px 10px transparent;
}
.myaccount p.logout {
	padding-bottom:0;
	font-weight:bold;
	text-align:left
}


/* block myaccount in footer */
#footer .myaccount .title_block, #footer .myaccount h4  {background: none;}
#footer .myaccount .logout {display:none;}
#footer .myaccount .title_block, #footer .myaccount h4  {
	padding:0 0 10px 0;
	background:none
}
#footer .myaccount ul {margin-bottom:0}
#footer .myaccount li {border-bottom:none}
#footer .myaccount li a {
   display: block;
	padding:0;
   color: #fff;
   background: none
}
#footer .myaccount li.lnk_wishlist img {display:none
}
