/* Block best sellers */
#best-sellers_block_right ul {margin-bottom:5px}
#best-sellers_block_right li {
	float:none;
	padding:10px 0;
	border-bottom:1px dotted #ccc
}
#best-sellers_block_right li.last_item {border:none}
#best-sellers_block_right li a.content_img {
	display:block;
	float:right;
	padding:1px;
	height:47px;
	width:67px;
	text-decoration:none;
	background:#333
}
#best-sellers_block_right li span.number {
	display:block;
	float:right;
	margin-top:6px;
	width:20px;
	font-weight:bold;
	font-size:18px;
	color:#fff;
	text-align:center
}
#best-sellers_block_right li img {
	border:1px solid #ededed;
}
#best-sellers_block_right li p {
	float:right;
	margin-right:7px;
	padding:0;
	width:125px;
	font-weight:bold;
	font-size:12px
}
#best-sellers_block_right li .price {
	font-weight:bold;
	font-size:14px;
	color:#990000;

}

#best-sellers_block_right p.lnk {
	padding:0;
	text-align:left
}
#best-sellers_block_right .lnk .button_large {
	padding:0;
	border:none;
	background:none
}
#best-sellers_block_right .lnk .button_large:hover {text-decoration:underline}