<!-- MODULE Block new products -->
<div id="new-products_block_right" class="block products_block">
	<h3 class="title_block"><a href="{$link->getPageLink('new-products')}" title="{l s='New products' mod='blocknewproducts'}">{l s='New products' mod='blocknewproducts'}</a></h3>
	<div class="block_content">
	{if $new_products !== false}

		<ul class="product_images clearfix">
		{foreach from=$new_products item='product' name='newProducts'}
			{if $smarty.foreach.newProducts.index < 2}
				<li{if $smarty.foreach.newProducts.first} class="first"{/if}>
                    <a href="{$product.link}" title="{$product.legend|escape:html:'UTF-8'}">
                        <img src="{$link->getImageLink($product.link_rewrite, $product.id_image, 'medium_allinmart')}"
                             height="{$mediumSize.height}" width="{$mediumSize.width}" alt="{$product.legend|escape:html:'UTF-8'}" />
                    </a></li>
			{/if}
		{/foreach}
		</ul>

		<ul class="products">
		{foreach from=$new_products item=newproduct name=myLoop}
			<li class="s_title_block {if $smarty.foreach.myLoop.first}first_item{elseif $smarty.foreach.myLoop.last}last_item{else}item{/if}">
                <a href="{$newproduct.link}"
                   title="{$newproduct.name|escape:html:'UTF-8'}">

                    <img src="{$link->getImageLink($product.link_rewrite, $product.id_image, 'medium_allinmart')}"
                         height="{$mediumSize.height}" width="{$mediumSize.width}" alt="{$product.legend|escape:html:'UTF-8'}" />

                    {$newproduct.name|strip_tags|escape:html:'UTF-8'}</a>
            </li>
			{if $newproduct.description_short}<dd class="{if $smarty.foreach.myLoop.first}first_item{elseif $smarty.foreach.myLoop.last}last_item{else}item{/if}"><a href="{$newproduct.link}">{$newproduct.description_short|strip_tags:'UTF-8'|truncate:75:'...'}</a><br /><a href="{$newproduct.link}" class="lnk_more">{l s='Read more' mod='blocknewproducts'}</a></dd>{/if}
		{/foreach}
		</ul>

		<p class="lnk"><a href="{$link->getPageLink('new-products')}" title="{l s='All new products' mod='blocknewproducts'}" class="button_large">&raquo; {l s='All new products' mod='blocknewproducts'}</a></p>
	{else}
		<p>&raquo; {l s='No new products at this time' mod='blocknewproducts'}</p>

	{/if}
	</div>
</div>
<!-- /MODULE Block new products -->