#content {
    float: right;
}

#emoticons_container {
    background-color: #F8F8F8;
    float: right;
    padding-right: 4%;
    padding-top: 30px;
    width: 96%;
}

.editable_emotions {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    width: 24%;
}

.editable_emotions .img_preview {
    float: right;
    width: 50px;
}
#panel_bar {
    background-color: #E2E2E2;
    float: right;
    margin-bottom: 15px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.emoticon_upload {
    float: right;
    width: 100%;
    background-color: #E2E2E2;
}
.emoticon_upload h3 {
    background-color: #2B2B2B;
    border-bottom: 1px solid #CCCCCC;
    color: #E2E2E2;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin: 0 0 5px;
    padding: 0 5px 0 0px;
}
.emoticon_upload_wrapper {
    padding: 10px 5px 20px 0px;
}
.check_remove {
    background: url('../images/admin/checkbox.png') no-repeat right center transparent;
    color: #E2E2E2;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
    margin-top: 3px;
    padding-right: 20px;
    width: 85px;
}
.editable_emotions input[type="checkbox"] {
    display: none;  
}
.editable_emotions input {
    float: right;
}
.image_for_remove {
    background-image: url('../images/admin/checkbox_checked.png');
    color: darkred;
    font-size: 1em;    
}