/* ================= COMMENT FORM =============== */
.lofcontent_line {
    float: right;
    margin: 3px 0;
    width: 100%;
}
.lofcontent_line label {
    float: right;
    font-weight: bold;
    margin-left: 5px;
    text-align: left;
    width: 100px;
}

.article_rate_buttons {
    float: left;
    font-size: 0;
    height: 18px;
    line-height: 18px;
    width: 20px;
}
.article_header {
    float: right;
    width: 100%;
}
.article_infor {
    float: right;
    width: 55%;
}
.lofcontent_rating_container {
    float: left;
    width: 237px;
}
.lofcontent_rating_container > div {
    float: right;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
}
#rating_status {
    width: 235px;
}
#article_rating_total {
    margin-right: 5px;
    font-style: italic;
    margin-left: 3px;
}
#aticle_rating_note {
    display: none;
    float: left;
    font-style: italic;
    height: 30px;
    margin-right: 5px;
}
#loading_img {
    display: none;
    width: 30px;
}

img[alt="lof-emoticons"], img[alt="lofsmiles"] {
    width: auto!important;
    height: auto!important;
}

/* rating star */
.lofcontent_article_rate1 {
    background-position: right -21px !important;
}
.lofcontent_article_rate2 {
    background-position: right -44px !important;
}
.lofcontent_article_rate3 {
    background-position: right -66px !important;
}
.lofcontent_article_rate4 {
    background-position: right -89px !important;
}
.lofcontent_article_rate5 {
    background-position: right -112px !important;
}
#article_rating, .rating_star {
    background: url("../images/admin/star_rating.png") no-repeat scroll right 0 transparent;
    height: 20px;
    margin: 0;
    width: 100px;
    float: right;
}

/* Articles listing basic style */
.listing_rating {
    float: left;
}
.rating_star {
    margin: 0 0px 0 5px;
}
.listing_rating > div {
    float: right;
    height: 20px;
    line-height: 22px;
}

a.lofblogs-rss {
    float: right;
    margin-top: 20px;
    text-align: left;
    width: 100%;
}
a.lofblogs-rss img {
    width: 40px;
}

/* Article details */

.img_align_left img {
    /*float: right;*/
}

.img_align_right img {
    float: left;
}
.img_align_center {
    width: 100%;
    text-align: center;
}
.primay_img img {
    margin: 5px;
    width: auto !important;
}
.defaultSkin span.mceIcon, .defaultSkin img.mceIcon {
    width: 18px !important;
    height: 18px !important;
}
#cm_content_toolbar1 {
    width: 300px !important;
    height: auto!important;
}
/* comment paginator */
#lofcontent_comments_paginator {
    float: right;
    margin-bottom: 30px;
    width: 100%;
}

/* Custom html blocks */

.lofblogsCustomBlocksContainer {
    float: right;
}

.lofblogsCustomBlocksContainer .lofblogs_custom_block {
    float: right;
}
.lofblogs_custom_block > h4 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}