#lofjcarousel{

}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-container {
	padding:0;
	border:none;
}
div.title{
    color:#000000;
    font-family:'Myriad Pro',Tahoma;
    font-size:14px;
    font-weight:bold;
    line-height:32px;
    text-align:right;
    text-transform:uppercase;
}
div.title span{
	color:#6B777D;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-container-horizontal {
    
    padding:0;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-container-vertical {
    
    padding:0;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-clip-horizontal { 
	border-right:1px solid #d1d1d1;	
	border-left:1px solid #d1d1d1;	
	padding-bottom:10px;
	padding-top:10px;
	height:60px;
	background:#fff
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-clip-vertical {
    
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-item {
    
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-1{}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-horizontal .lof-row{
	padding:0 55px;
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-horizontal {
    width:160px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom:10px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-placeholder {
    background:#fff;
    color:#000;
}

/**
 *  Horizontal Buttons
 */
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-horizontal {
    background:url(next-pre.png) left center no-repeat;
    cursor:pointer;
    height:30px;
    left:-14px;
    position:absolute;
    top:25px;
    width:9px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-horizontal:hover {
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-horizontal:active {

}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor:pointer;
}
#wrap {
	padding:0 19px;
	background:#eee;
	border-top:1px solid #D1D1D1;
	border-bottom:1px solid #D1D1D1;
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-horizontal {
    background:url(next-pre.png) right center no-repeat;
    cursor:pointer;
    height:30px;
    right:-14px;
    position:absolute;
    top:25px;
    width:9px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor:pointer;

}

/**
 *  Vertical Buttons
 */
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-vertical {
    position:absolute;
    bottom:5px;
    right:43px;
    width:32px;
    height:32px;
    cursor:pointer;
    background:transparent url(next-vertical.png) no-repeat 0 0;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position:0 -32px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position:0 -64px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-vertical,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor:default;
    background-position:0 -96px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-vertical {
    position:absolute;
    top:5px;
    right:43px;
    width:32px;
    height:32px;
    cursor:pointer;
	border:1px solid #c3c3c3;
    /*background:transparent url(prev-vertical.png) no-repeat 0 0;*/
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position:0 -32px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-vertical:active {
   background-position:0 -64px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor:default;
    background-position:0 -96px;
}
#mycarouselHolder div.lof-row a{
	float:right;
	width:210px
	
}
#mycarouselHolder div.lof-row a span{
	color:#C4C4C4;
    display:block;
    font-size:10px;
    overflow:hidden;
    padding:2px 0;
	width:138px;
	text-align:right;
	display:none;
}
#mycarouselHolder div.lof-row a img {
    padding:12px 0 0 10px;
    width:110px;
	
}
