﻿<link rel="stylesheet" type="text/css" href="{$css_dir}revslider/dynamic-captions.css"/>
<link rel="stylesheet" type="text/css" href="{$css_dir}revslider/settings.css"/>
<link rel="stylesheet" type="text/css" href="{$css_dir}revslider/static-captions.css"/>
<link rel="stylesheet" type="text/css" href="{$css_dir}owl.theme.css"/>
<link rel="stylesheet" type="text/css" href="{$css_dir}owl.carousel.css"/>
<div class="gif">
    <img src="{$img_dir}next-arrow.gif">
</div>
<div id="main-slideshow">
    <div class="fullwidthbanner-container">
        <div class="fullwidthabanner">
            <ul >
                <li onclick="window.open('{$base_dir}samsung/468-samsung-galaxy-s5-16g.html')" data-fsslotamount="3"
                        data-fsmasterspeed="1000"
                        data-fstransition="fade"
                        data-masterspeed="1300"
                        data-slotamount="3"
                        data-transition="fade"
                        >
                    <img src="{$img_dir}revslider-static/S5.jpg">

                    {*<div*}
                            {*data-endspeed="300"*}
                            {*data-easing="easeOutSine"*}
                            {*data-start="1000"*}
                            {*data-speed="500"*}
                            {*data-y="150"*}
                            {*data-x="0"*}
                            {*class="tp-caption thin_OS_40 sfr start" style="cursor: pointer;"*}
                            {*>*}
                        {*{l s='Samsung Galaxy S5'}*}
                        {*<br>*}
                        {*<span style="font-family: wyekan;">{l s=' پیش فروش محدود اس فایو'}</span>*}
                    {*</div>*}

                    {*<div data-endspeed="300" data-easing="easeOutSine" data-start="1400" data-speed="500" data-y="337"*}
                         {*data-x="825" class="tp-caption normal_OS_20 sfr start" style="cursor: pointer;"*}
                         {*>*}
                        {*{l s=" زودتر از هر کسی صاحب گوشی پرچمدار سامسونگ شوید!"}*}
                        {*<br>*}
                        {*{l s=' آغاز پیش فروش سامسونگ گالاکسی S5 زودتر از هر سایت دیگر!'}*}
                    {*</div>*}
                    {*<div*}
                            {*data-endspeed="200"*}
                            {*data-easing="easeOutSine"*}
                            {*data-start="2200"*}
                            {*data-speed="450"*}
                            {*data-y="50"*}
                            {*data-x="430"*}
                            {*class="tp-caption sft start" style="cursor: pointer;">*}
                        {*<img alt="iphone" src="{$img_dir}revslider/galaxy-S5.png"*}
                             {*style="cursor: pointer;">*}
                    {*</div>*}
                </li>
                <li onclick="window.open('{$base_dir}content/16-saman-insurance')" data-masterspeed="1300" data-slotamount="3" data-transition="fade">
                    <!-- MAIN IMAGE -->
                    <img src="{$img_dir}revslider-static/saman2.jpg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    {*<div style="font-family:wyekan;cursor: pointer;z-index: 2; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 34px; border-width: 0px; margin: 0px; padding: 1px 4px 0px; font-size: 32px; visibility: visible; opacity: 0; top: 202.95px; left: 100px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);"*}
                         {*data-endspeed="300" data-easing="easeOutSine" data-start="1000" data-speed="560" data-y="203"*}
                         {*data-x="0" class="tp-caption thin_OS_56 sfl stl start">*}
                        {*کالای خود را با بیمه سامان جاودانه نمایید!*}
                        {*<br>*}
                        {*بهینو، اولین فروشگاه اینترنتی ارائه دهنده خدمات بیمه سامان*}
                    {*</div>*}

                    {*<div style="cursor: pointer; z-index: 4; visibility: visible; opacity: 0; top: -18px; left: 866px; transform: none;"*}
                         {*data-endspeed="300" data-easing="easeOutSine" data-start="2050" data-speed="600" data-y="100"*}
                         {*data-x="650" class="tp-caption sfr start">*}
                        {*<img alt="screenshot" src="{$img_dir}revslider/saman.png"/>*}
                    {*</div>*}
                </li>
                <li onclick="window.open('{$base_dir}index.php?id_product=467&controller=product')" data-masterspeed="1300" data-slotamount="3" data-transition="fade">
                    <img src="{$img_dir}revslider-static/htc2.jpg">
                    {*<div data-endspeed="300" data-easing="easeOutSine" data-start="1000" data-speed="550" data-y="208"*}
                         {*data-x="650" class="tp-caption thin_OS_40 sfl start" style="cursor: pointer;font-family: wyekan;font-size: 25px">*}
{*{l s='HTC M8 ساخته شده برای آنانکه توقعاتشان پایان ناپذیر است!'}*}
                    {*</div>*}

                    {*<div data-endspeed="300" data-easing="easeOutSine" data-start="1200" data-speed="550" data-y="319"*}
                         {*data-x="51" class="tp-caption normal_OS_16 sfl start" style="cursor: pointer;">*}
                    {*</div>*}
                    {*<div style="cursor: pointer; z-index: 5; visibility: visible; opacity: 0; top: 226px; left: 514px; transform: none;"*}
                         {*data-endspeed="300" data-easing="easeOutSine" data-start="2000" data-speed="580" data-y="80"*}
                         {*data-x="0" class="tp-caption sfb start">*}
                        {*<img alt="shop" src="{$img_dir}revslider/htc.png">*}
                    {*</div>*}


                </li>
                <li onclick="window.open('{$base_dir}index.php?id_product=469&controller=product')" data-masterspeed="1300" data-slotamount="3" data-transition="fade">
                    <img src="{$img_dir}revslider-static/sony2.jpg">
                    {*<div data-endspeed="300" data-easing="easeOutSine" data-start="1200" data-speed="550" data-y="319"*}
                         {*data-x="51" class="tp-caption normal_OS_16 sfl start" style="cursor: pointer;">*}
                    {*</div>*}
                    {*<div data-endspeed="300" data-easing="easeOutSine" data-start="1000" data-speed="550" data-y="208"*}
                         {*data-x="50" class="tp-caption thin_OS_40 sfl start" style="cursor: pointer;font-size: 24px;font-family: wyekan;">*}
                        {*Sony Z2، شاهکاری دیگر از سونی برای داغتر کردن رقابت غولها!*}
                    {*</div>*}

                    {*<div style="cursor: pointer; z-index: 5; visibility: visible; opacity: 0; top: 226px; left: 514px; transform: none;"*}
                         {*data-endspeed="300" data-easing="easeOutSine" data-start="2000" data-speed="580" data-y="50"*}
                         {*data-x="750" class="tp-caption sfb start">*}
                        {*<img alt="shop" src="{$img_dir}revslider/sony.png">*}
                    {*</div>*}


                </li>
            </ul>
            <div class="tp-bannertimer"></div>
            <div class="thumbnails-slider">
                <ul>
                    <li class="thumbs-img" id="thumb1">
                        <img src="{$img_dir}revslider-static/thumbs/1.jpg"/>
                    </li>
                    <li class="thumbs-img" id="thumb2">
                        <img src="{$img_dir}revslider-static/thumbs/2.jpg"/>
                    </li>
                    <li class="thumbs-img" id="thumb3">
                        <img src="{$img_dir}revslider-static/thumbs/3.jpg"/>
                    </li>
                    <li class="thumbs-img" id="thumb4">
                        <img src="{$img_dir}revslider-static/thumbs/4.jpg"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        {$HOOK_HOME}
    </div>
</div>
<div class="home-tabs">
    <div class="container hide-device">
        <ul class="home-tabs-ul" id="myTab">
            <li class="home-tabs-li new-products-li" data-div="new-products-div">
                <a href="#new-products-div">{l s='جدیدترین ها'}</a>
            </li>
            <li class="home-tabs-li best-seller-li" data-div="best-seller-div">
                <a href="#best-seller-div">{l s='پرفروش ترین ها'}</a>
            </li>
            <li class="home-tabs-li most-visited-li" data-div="most-visited-div">
                <a href="#most-visited-div">{l s='پربازدیدترین ها'}</a>
            </li>
            <li class="home-tabs-li popular-li" style="margin-left: 0" data-div="popular-div">
                <a href="#popular-div">{l s='محبوب ترین ها'}</a>
            </li>
        </ul>
        <div class="tab-content tabs-contents">
            <div class="tab-pane" id="new-products-div">
                <div class="new-loading ajax-loading"></div>
            </div>
            <div class="tab-pane" id="best-seller-div">
                <div class="best-loading ajax-loading"></div>
            </div>
            <div class="tab-pane" id="most-visited-div">
                <div class="most-loading ajax-loading"></div>
            </div>
            <div class="tab-pane" id="popular-div">
                <div class="popular-loading ajax-loading"></div>
            </div>
        </div>
    </div>
    <div class="container hide-desktop">
        <div class="row-fluid deal-row">
            <div class="span12">
                <span class="sug-title-text">جدیدترین ها</span>

            </div>
        </div>
        <div class="row-fluid">
            <div id="new-products-mobile">
                <div class="new-loading ajax-loading"></div>
            </div>
        </div>
        <div class="row-fluid deal-row">
            <div class="span12">
                <span class="sug-title-text">{l s='محبوب ترین ها'}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div id="popular-mobile">
                <div class="new-loading ajax-loading"></div>
            </div>
        </div>
    </div>
</div>
{if $HOOK_BOTTOM}
    <section id="bottom">
        <svg xmlns="http://www.w3.org/2000/svg" class="decor" width="100%" viewBox="0 0 100 100" version="1.1"
             preserveAspectRatio="none" height="78px">
            <path stroke-width="0" d="M0 100 L50 0 L100 100"/>
        </svg>
        <div class="container">
            <div class="row-fluid">
                {$HOOK_BOTTOM}
            </div>
        </div>
    </section>
{/if}
<script type="text/javascript" src="{$js_dir}revslider/hammer.js"></script>
<script type="text/javascript" src="{$js_dir}revslider/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{$js_dir}home.js"></script>
<script type="text/javascript" src="{$js_dir}owl.carousel.min.js"></script>
