{if isset($products)}
    <!-- Products list -->
    <div id="product_list" class="products_block">
        <div class="rows-fluid">
            {foreach from=$products item=product name=products}
                {if $product@iteration%4==1}
                    <div class="row-fluid">
                {/if}
                <div class="p-item span3 product_block ajax_block_product {if $smarty.foreach.products.first}first_item{elseif $smarty.foreach.products.last}last_item{/if} {if $smarty.foreach.products.index % 2}alternate_item{else}item{/if} clearfix">
                    <div class="list-products">
                        <div class="product-container clearfix">
                            <div class="center_block">
                                    <span class="quick-icon" data-idProduct="{$product.id_product|intval}">
                                        <div id="quick-box" class="quick-content">
                                            <img class="quick-loading" src="{$img_dir}loading.gif"/>
                                        </div>
                                    </span>
                                <a href="{$product.link|escape:'htmlall':'UTF-8'}" class="product_img_link"
                                   title="{$product.name|escape:'htmlall':'UTF-8'}">
                                    <img src="{$link->getImageLink($product.link_rewrite, $product.id_image, 'home_allinmart')}"
                                         alt="{$product.legend|escape:'htmlall':'UTF-8'}" {if isset($homeSize)} width="{$homeSize.width}" height="{$homeSize.height}"{/if} />
                                    {if isset($product.new) && $product.new == 1}<span
                                            class="new">{l s='New'}</span>{/if}
                                </a>
                            </div>
                            <div class="right_block">
                                <h3 class="s_title_block">
                                    <a href="{$product.link|escape:'htmlall':'UTF-8'}"
                                    title="{$product.name|escape:'htmlall':'UTF-8'}">
                                        {$product.name|escape:'htmlall':'UTF-8'|truncate:35:'...'}</a>
                                </h3>
                                {*<div style="color: #003bb3; text-align: center" > ({$product.condition}) </div>*}

                                {*<div class="product_desc"><a href="{$product.link|escape:'htmlall':'UTF-8'}"*}
                                {*title="{$product.description_short|strip_tags:'UTF-8'|truncate:360:'...'}">{$product.description_short|strip_tags:'UTF-8'|truncate:360:'...'}</a>*}
                                {*</div>*}
                                {if isset($product.on_sale) && $product.on_sale && isset($product.show_price) && $product.show_price && !$PS_CATALOG_MODE}
                                    <span class="on_sale">{l s='On sale!'}</span>
                                {elseif isset($product.reduction) && $product.reduction && isset($product.show_price) && $product.show_price && !$PS_CATALOG_MODE}
                                    <span class="discount">{l s='Reduced price!'}</span>{/if}
                                {if (!$PS_CATALOG_MODE AND ((isset($product.show_price) && $product.show_price) || (isset($product.available_for_order) && $product.available_for_order)))}
                                    <div class="content_price">
                                        {if isset($product.show_price) && $product.show_price && !isset($restricted_country_mode) && $product.quantity > 0 }
                                            <span style="color:#64A000" class="price"
                                                  style="display: inline;">
                                                {if !$priceDisplay}
                                                    {convertPrice price=$product.price}
                                                {elseif $product.price_tax_exc>0}
                                                    {convertPrice price=$product.price_tax_exc}

                                                {/if}</span>
                                            <br/>
                                            {else}
                                            <span class="price">ناموجود</span>
                                        {/if}
                                        {*{if isset($product.available_for_order) && $product.available_for_order && !isset($restricted_country_mode)}
                                            <span class="availability">{if ($product.allow_oosp || $product.quantity > 0)}{l s='Available'}{elseif (isset($product.quantity_all_versions) && $product.quantity_all_versions > 0)}{l s='Product available with different options'}{else}{l s='Out of stock'}{/if}</span>
                                        {/if}*}
                                    </div>
                                    {if isset($product.online_only) && $product.online_only}<span
                                            class="online_only">{l s='Online only!'}</span>{/if}
                                {/if}
                                {if ($product.id_product_attribute == 0 || (isset($add_prod_display) && ($add_prod_display == 1))) && $product.available_for_order && !isset($restricted_country_mode) && $product.minimal_quantity <= 1 && $product.customizable != 2 && !$PS_CATALOG_MODE}
                                    {if ($product.allow_oosp || $product.quantity > 0)}
                                        {if isset($static_token)}
                                            <a class="button ajax_add_to_cart_button exclusive"
                                               rel="ajax_id_product_{$product.id_product|intval}"
                                               href="{$link->getPageLink('cart',false, NULL, "add&amp;id_product={$product.id_product|intval}&amp;token={$static_token}", false)}"
                                               title="{l s='Add to cart'}"><span
                                                        class="icon-addcart"></span>{l s='Add to cart'}</a>
                                        {else}
                                            <a class="button ajax_add_to_cart_button exclusive"
                                               rel="ajax_id_product_{$product.id_product|intval}" href="{$link->getPageLink('cart',false, NULL, "add&amp;id_product={$product.id_product|intval}", false)} title="{l s='Add to cart'}">
                                            <span class="icon-addcart"></span>
                                            {l s='Add to cart'}</a>
                                        {/if}
                                    {else}
                                        <span class="exclusive"><span
                                                    class="icon-addcart"></span>{l s='Add to cart'}</span>
                                    {/if}
                                {/if}


                                <div class="left_block">
                                    {if isset($comparator_max_item) && $comparator_max_item}
                                        <p class="compare">
                                            <input type="checkbox" class="comparator"
                                                   id="comparator_item_{$product.id_product}"
                                                   value="comparator_item_{$product.id_product}"
                                                   {if isset($compareProducts) && in_array($product.id_product, $compareProducts)}checked="checked"{/if} />
                                            <label for="comparator_item_{$product.id_product}">{l s='Select to compare'}</label>
                                        </p>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {if $product@iteration%4==0||$smarty.foreach.products.last}
                    </div>
                {/if}
            {/foreach}
        </div>
    </div>
    <!-- /Products list -->
{/if}
