{*
<h1>{$product->name|escape:'htmlall':'UTF-8'}</h1>
<img src="{$link->getImageLink($product->link_rewrite, $cover.id_image, 'large_allinmart')}"
     title="{$product->name|escape:'htmlall':'UTF-8'}"
     alt="{$product->name|escape:'htmlall':'UTF-8'}"
     id="bigpic"/>
<div id="short_description_content" class="rte align_justify">{$product->description}</div>*}
