.lof_result{
		margin-left: 5px;
   		 width: 95%;
	}
	.lof_result li{
		width:100%;
		list-style:none;
		min-height:40px;
		margin-top:5px;
	}
	.title_reply{
		width:75%;
		float:left;
		 min-height: 20px;
	}
	.form-poll{
		width:100%;
		float:left;
	}
	.result_reply{
		border-radius: 10px 10px 10px 10px;
   		 float: left;
    	height: 15px;
	}	
	.lof_result li span{
		float:right;	
	}
	.lof-pollsurvey{
		margin-top:5px;
		border:1px solid #CCC;
		background:#EEEEEE;
		width:100%;
	}
	.lof_poll_survey input{
		float:left;
		margin-right:5px;
	}
	.lof_poll_survey span{
		float:left;
		margin-left:5px;
	}
	.lof_preload {
	height:100%;
	width:100%;
	background:url(images/loading.gif) no-repeat scroll 49% 49% #E9E9E9;
	position:absolute;
	display:block;
	z-index:0;
	top:0px;
	left:0px;
	}
	.lof_title_survey{
		border-bottom:1px solid #CCCCCC; 
	}	
	.lof_title_survey h4{
		font-family:Arial, Helvetica, sans-serif;
		text-align:center;
		color: #333;
		font-weight:bold;
		margin-top:10px;
	}
	.total_reply{
   		 width: 100%;
		 text-align:right;
		 border-top:1px solid #CCCCCC;
		 height:30px;
		}
	.lof_title_reply {
		width:95%;
		}		
	.title_survey{
		
		}
	.lof_backsurvey{
		float:left;
		margin-left:5px;
		margin-top:5px;
		}		
	.lof_totalreply{
		margin-right: 20px;
		margin-top: 7px;
		}	
	.title_survey{
		width:100%;
		border-bottom:1px solid #CCCCCC;
		text-align:center;
		}	
	.title_survey h4
		{
		font-family:Arial, Helvetica, sans-serif;
		text-align:center;
		color: #333;
		font-weight:bold;
		margin-top:10px;
		}	
	.lof_input{
		height: 25px;
		margin-left: 10px;
		margin-top: 5px;
		width: 95%;
	}	
	.lof_submitpoll{
		width:100%;
		margin-top:5px;
		border-top:1px solid #CCC;
	}
	.lof_submitpoll input{
		margin:5px;
	}
	