.lof_result{
		margin-left: 5px;
   		 width: 95%;
	}
	.lof_result li{
		width:100%;
		list-style:none;
		min-height:40px;
		margin-top:12px;
		display:inline-block;
	}
	.title_reply{
		float:left;
		min-height: 20px;
	}
	.form-poll{
		width:100%;
		float:left;
	}
	.result_reply{
		border-radius: 10px 10px 10px 10px;
   		 float: left;
    	height: 15px;
	}	
	.lof_result li span{
		float:left;
		margin-left:5px;	
	}
	.lof-pollsurvey{
		margin-top:5px;
		width:100%;
		margin-bottom: 10px;
	}
	.pollsurvey-item{
		border-top:1px solid #c3c3c3;
		padding-top: 5px;
	}
	.lof_poll_survey input{
		float:left;
		margin-right:5px;
	}
	.lof_poll_survey span{
		float:left;
		margin-left:5px;
		width:85%;
	}
	.lof_preload {
		height:100px;
		width:100%;
		background:url(../images/loading.gif) no-repeat scroll 49% 49% #E9E9E9;
		display:block;
	}
	.lof_title_survey, .title_survey{
		margin:5px 0 10px 5px;
	}	
	.lof_title_survey  label, .title_survey label{
		font-family:Arial, Helvetica, sans-serif;
		color: #333;
		font-weight:bold;
		margin-top:10px;
	}
	.total_reply, .lof_submitpoll{
   		 width: 100%;
		 margin-top:5px;
		 height:38px;
	}
	.lof_bgreply{
		background:url(../images/bg_input.png) repeat-x scroll center;
		border-radius:10px 10px 10px 10px;
		height:15px;
		}
	.lof_title_reply {
		width:95%;
		}
	.lof_backsurvey{
		float:left;
		margin-left:5px;
		margin-top:5px;
		}
	.lof_totalreply{
		float: left;
		margin-left: 20px;
		margin-top: 10px;
		}	
	.lof_input{
		display:inline-block;
		margin-left: 10px;
		margin-top: 12px;
		width:95%;
	}
	.lof_submitpoll input{
		margin:5px;
	}
	.highcharts-legend-item{
		width:200px;
		display:inline-block;
	}
	
	.lof_notice {
		color:blue;
		clear:both;
	}