/*************** Block CATEGORIES ***************/
#archive_blogs_left  li {border-bottom:1px dotted #ccc}
    #archive_blogs_left  li.last {   border:none;}
        #archive_blogs_left  li a {
            display:block;
            padding:7px 22px 5px 11px;
            color:#333;
            background:url(images/arrow_right_2.png) no-repeat 10px 10px transparent
        }
        
    #archive_blogs_left  li ul {margin-right:40px}
        #archive_blogs_left  li ul li {border:none}
            #archive_blogs_left  li ul li a {
                padding-right:0;
                background:none
            }
        
#archive_blogs_left li .OPEN,
#archive_blogs_left li .CLOSE {
    display:block;
    float:left;
    margin:10px 10px 0;
    height:9px;
    width:9px;
    background:url(images/icon/open-close.png) no-repeat right -9px;
    cursor:pointer
}
#archive_blogs_left li .CLOSE {background-position:right 0}