li.lofblogsproduct_item img {
    float: right;
    margin: 3px;
    width: 150px;
}
li.lofblogsproduct_item h4 {
	background: url(../../../../../lofblogsarticles/themes/default/assets/images/arrow_right_2_rtl.png) no-repeat 99% 4px transparent;
	padding: 0 16px 10px 0;
}

.lofblogsarticles_related div.item_descrition {
	padding-right: 6px
}