<div class="toolbar-placeholder">
    <div class="toolbarBox ">

        <div class="pageTitle">
            <h3>
            <span id="current_obj" style="font-weight: normal;">
            <span class="breadcrumb item-0 ">{$TEST}</span>
            </span>
            </h3>
        </div>
        <div class="pageTitle">
            <h3>
            <span id="current_obj" style="font-weight: normal;">
            <span class="breadcrumb item-0 ">{$test1}</span>
            </span>
            </h3>
        </div>
    </div>
</div>
