.leocamera_container {
    height:auto;
	position:relative;
	overflow:hidden
}
.camera_pag_ul {
    text-align: center !important;
}
.leo_camera_title a {
    color: #575859;
    font-weight: bold;
	font-size:32px;
}
.leo_camara_desc
{
	margin-top:10px;
}