<div id="lof_stock_ajax">
	
</div>
<script type="text/javascript">

jQuery.ajax({
						type: "POST",
						url: "{$lofajax}",
						data: jQuery('#buy_block').serialize()+'&lofcache_default_attribute={$lofcache_default_attribute}',
						success: function(msg){
							$('.lofacvand').hide();
							jQuery("#lof_stock_ajax").html(msg).show();
						}
			});
jQuery('.attribute_select').change(function(){
		jQuery.ajax({
				type: "POST",
						url: "{$lofajax}",
						data: jQuery('#buy_block').serialize(),
						success: function(msg){
							$('.lofacvand').hide();
							jQuery("#lof_stock_ajax").html(msg).show();
						}
			});
	});	
jQuery("#color_to_pick_list li").live('click', function() { 
		 jQuery.ajax({
						type: "POST",
						url: "{$lofajax}",
						data: jQuery('#buy_block').serialize(),
						success: function(msg){
							$('.lofacvand').hide();
							jQuery("#lof_stock_ajax").html(msg).show();
						}
			});
});
</script>

