.lof-button.lof-button-sendcart.block .block_content{
    padding:0.6em 0.7em !important;
}
#sendcart-form{
    position:relative;
}
.lof-button-sendcart{
    border: 0px solid #FF0000;
    height: 17px;
    list-style: none outside none;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.lof-button-sendcart a{
    text-decoration: none;
    position: relative;
    top:5px;
    font-weight: bold;
}
.lof-button-sendcart input.lof-sendcart-basic{
    background: url(bg_button.png) no-repeat scroll center center transparent;
    border: 0 solid #FF8800;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 25px;
    padding-bottom: 3px;
    position: relative;
    width: 138px;
}
.lof-button-sendcart input.lof-sendcart-basic:hover{
    background: url(bg_button_hover.png) no-repeat scroll center center transparent;
}
.lof-button-sendcart input.lof-sendcart-lr{
    border: 0 solid #FF8800;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 19px;
    margin-top: 6px;
    padding-bottom: 3px;
    position: relative;
    width: 120px;
    margin:0 auto;
}
.lof-button-sendcart input.lof-sendcart-lr:hover{
    color:#FFFFFF;
}

.form-send-email{
    position: relative;
    width:100%;
    float:left;
    padding-top: 15px;
}
.lofForm-detail .std p{
    position: relative;
    margin-bottom:0px !important;
}
.lofForm-detail .std p.submit{
    padding-left:0px !important;
}
.lofForm-detail .std p label{
    position: relative;
    width:100px;
    font-weight:bold;
    text-align: left;
    color:#000000;
}
.lofForm-detail .std p input{
    position: relative;
    margin-left:0px;
}
.lofForm-detail .std p input#ajaxButton{
    /*background-image: url(button_send.png);*/
    margin:0 auto;
    width:120px;
    color: #FFFFFF !important;
}
.lofForm-detail .std p input#ajaxButton:hover{
    /*background-image: url(button_send.png);*/
    width:120px;
    background-position: center;
}
.lofForm-detail .std p textarea{
    height:50px;
}
.lofForm-detail .std p input.input-form{
    width:300px;
    height:20px;
}
.form.std p.submit{
    padding-left: 33% !important;
}
.form.std p.submit .button{
    background-image: none !important;
    min-width:90px;
}
.lof-title-cart{
    width:100%;
    height:20px;
    border-bottom:1px #FF0000 solid;
}
.lof-title-cart div{
    position: relative;
    float:left;
    font-weight:bold;
    font-size:14px;
    color:#000000;
}
/*////////////////////////////////////////*/
.lof-title-cart .cart_product{
    width:15%;
}
.lof-title-cart .cart_description{
    width:35%;
}
.lof-title-cart .cart_ref{
    width:10%;
}
.lof-title-cart .cart_unit{
    width:15%;
}
.lof-title-cart .cart_qty{
    width:10%;
}
.lof-title-cart .cart_total{
    width:15%;
}
/*////////////////////////////////////////*/
.detail-cart{
    float: left;
    padding-top: 14px;
    position: relative;
    width:100%;
}
.lof_align_center div{
    float: left;
    position: relative;
    text-align: center;
    color:#333333;
}
/*////////////////////////////////////////*/
.lof_align_center .list-cart-images{
    width:15%;
}
.lof_align_center .list-cart-name{
    width:35%;
}
.lof_align_center .list-cart-sku{
    width:10%;
}
.lof_align_center .list-cart-price{
    width:15%;
}
.lof_align_center .list-cart-total{
    width:15%;
}
.lof_align_center .list-cart-qty{
    width:10%;
}

/*////////////////////////////////////////*/
.lof_summary{
    width:100%;
    float:left;
    text-align: right;
    border-bottom: 1px #333333 solid;
    color: #333333;
    padding: 5px 0px;
}
.lof_summary div{
    padding-right: 15px;
}
.lof_scart_title{
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    padding-top: 2px;
    width: 484px;
}

.lof_scart_price{
    color: #DA0F00;
    display: block;
    float: right;
    font-size: 1em;
    font-weight: bold;
    padding-top: 2px;
    width: 70px;
}

.lof_align_center{
    width:100%;
    float:left;
    border-bottom: 1px #333333 solid;
    padding: 5px 0px;
}



#loading.ajax-loading {
	background: url(ajax-loader.gif) no-repeat center !important;
	height: 20px;
    padding-top: 10px;
    position: absolute;
    width: 100px;
    z-index: 999999;
}
form#sendcart-form.std fieldset{
    background: none;
}
#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:450px; width:600px; color:#bbb; background-color:#FFFFFF; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a { color:#333333;text-decoration: none; font-weight: bold;}
#simplemodal-container a.modalCloseImg {background:url(x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:blue;background: #FAFAFA;font-weight:bold;}

.lofForm-detail ul li a.button_large{
    background-image: none;
    position: relative;
    bottom:10px;
    font-size:13px !important;
}
.lofForm-detail .bold{
    position: relative;
    margin-bottom: 10px;
    color:#333333;
}

.form-submit {
    float: left;
    padding-top: 15px;
    position: relative;
    width: 100%;
}
