#loftab {
    border: 1px solid #777;
    float: right;
    margin-top: 20px;
}
#loftab select, #loftab input {
    background-color: #F9F9F9;
    border: medium none;
    box-shadow: 1px 1px 1px #DDDDDD;
    color: #2B2B2B;
    font-style: italic;
    height: 21px;
    min-width: 200px;
    padding-right: 2px;
}
select:hover, input:hover, select:focus, input:focus {
    background-color: lightgoldenrodyellow !important;
    -moz-transition-duration: 1s;
    font-weight: bold;
    cursor: pointer;
}
#loftab select[multiple="multiple"] {
    height: auto !important;
}
.lofparams_line {
    float: right;
    margin: 5px 0;
    width: 100%;
}

.lofparams_line label {
    padding-right: 5px;
    text-align: right;   
    width: 239px;
    font-weight: normal;
}
.lofparams_line input {
    height: 20px;
    line-height: 20px;
}
.lofparams_line label span {
    display: none;
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal !important;
    text-shadow: 1px 1px 10px blue;
}
.lofparams_line label:hover span {
    display: block;
}
.info_lang {
    float: right;
}
.lofparams_line .language_flags {
    background-color: #E2E2E2;
    border: 1px outset #FFFFFF;
    bottom: -10px;
    right: 25px;
    position: absolute;
}
.lofparams_line .language_flags img {
    box-shadow: 1px 1px 3px #555555;
    margin: 2px;
}

.lofparams_errors {
    width: 90%;
    list-style: none;
    margin: 5px 0;
    padding: 5px;    
}
.lofparams_errors li {
    color: orangered;
    font-style: italic;
    font-weight: bold;
    margin: 5px 0;
    width: 100%;
}
.lofparams_main_view {
    min-height: 400px;
}

.lofparams_config_header {
    background-color: #F1F1F1;
    border-bottom: 1px solid #DDDDDD;
    color: orangered;
    font-weight: bold;
    margin: 10px 5px 10px 0px;
    padding: 5px;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 98%;    
}

.lofparams_config_header span {
    color: #777777;
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
}

select option[disabled="disabled"] {
    background-color: lightgoldenRodYellow;
    color: darkRed;
    text-transform: lowercase;
}
