<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
	/* add here any mobile-specific style overrides, usually with !important CSS modifier */
</style>

</head>
<body style="font-family: Helvetica,Arial,sans-serif; font-size: 13px; color: #555555; background-color: #ffffff;">

<div>
	{$product->description}
</div>

</body>
</html>