.tp-caption.thin_OS_56 {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:300;
font-size:52px;
line-height:56px;
font-family:"Open Sans", sans-serif;
padding:0px 4px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:transparent;
}

.tp-caption.normal_OS_20 {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:400;
font-size:20px;
line-height:28px;
font-family:"Open Sans", sans-serif;
padding:0px 4px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:transparent;
}

.tp-caption.thin_OS_40 {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:300;
font-size:40px;
line-height:44px;
font-family:"Open Sans", sans-serif;
padding:0px 4px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:transparent;
}

.tp-caption.normal_OS_16 {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:400;
font-size:16px;
line-height:26px;
font-family:"Open Sans", sans-serif;
padding:0px 4px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:transparent;
}

