.tp-caption.thin_OS_66 {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 66px;
    line-height: 70px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 4px;
    padding-top: 0px;
    margin: 0px;
    border-width: 2px;
    border-style: none;
    background-color: transparent;

}

.tp-caption.normal_OS_22 {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 8px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.1)

}

.tp-caption.header {
    position: absolute;
    color: #2c3641;
    text-shadow: none;
    font-weight: 300;
    font-size: 52px;
    line-height: 56px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 4px;
    padding-top: 4px;
    margin: 0px;
    border-width: 10px;
    border-style: none;
    background-color: transparent;

}

.tp-caption.normal_OS_20 {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    font-family: wyekan;
    padding: 0px 4px;
    padding-top: 1px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    background-color: transparent;

}

.tp-caption.normal_OS_16 {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    font-family: wyekan;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 1px 4px 0;
    position: absolute;
    text-shadow: none;
    text-align: center;
    right: 100px;
}
.tp-caption.thin_OS_56 {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 52px;
    line-height: 56px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 4px;
    padding-top: 1px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    background-color: transparent;

}
.tp-caption.thin_OS_40 {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 4px;
    padding-top: 1px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    background-color: transparent;

}