.lofbundle_wrapper{

}
.lofbundle_wrapper .title_block{
	background: #383838;
	color:#FFFFFF;
	padding: 6px 11px;
	text-shadow:0 1px 0 #000000;
}
.lofbundle_wrapper .bundle_list ul{

}
.lofbundle_wrapper .bundle_list ul li{
	border-bottom: 1px dotted #CCCCCC;
    display: block;
    height: 160px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}
.lofbundle_wrapper .bundle_list .bundle_item{
	
}
.lofbundle_wrapper .bundle_item .bundle_product,.lofbundle_wrapper .bundle_item .plus{
	float:left;
	height: 100px;
}
.lofbundle_wrapper .messages .bundle_item .bundle_product,.lofbundle_wrapper .messages .bundle_item .plus,.lofbundle_wrapper .messages .bundle_item .equal{
	height:60px;
}
.lofbundle_wrapper .bundle_item .add_to_cart{
	text-align: right;
	width: 100%;
}
.lofbundle_wrapper .bundle_item .plus{
	background:url(images/plus.png) no-repeat scroll center 40% transparent;
	width:16px;
	overflow: hidden;
	text-indent: -99999px;
	padding-left: 5px;
    padding-right: 5px;
}
.lofbundle_wrapper #add_to_cart2{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.price_bold{ font-weight: bold;}
.discount_wrapper .label{ font-weight: bold;}
.discount_wrapper .line_break{ border-bottom: 1px dotted #3c3c3c;}
.lofbundle_wrapper .bundle_price{
	color:#9B0000;
}
.lofbundle_wrapper .messages p{
	margin-bottom: 0px;
}
.lofbundle_wrapper .bundle_item .equal{
	background:url(images/equal.png) no-repeat scroll center 40% transparent;
	width:16px;
	overflow: hidden;
	text-indent: -99999px;
	padding-left: 5px;
    padding-right: 5px;
    float:left;
}
.float_left{float:left;line-height: 50px;}
.lofbundle_wrapper.notify{
	background: none repeat scroll 0 0 #FFFFE0;
    border: 1px solid #E6DB55;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 10px;
}
.lofbundle_wrapper .messages li {
    clear: both;
    display: block;
    float: left;
    margin: 0 0 10px !important;
}

.deal-clock{	
	height:60px;
}

.deal-clock div{	
	float: left;
    font-size: 11px;
    padding: 0 3px 3px 3px;
    text-align: center;
}

.deal-clock div b {
    background: url("images/bg-time.png") no-repeat scroll 0 0 transparent;
    clear: both;
    color: #FFFFFF;
    display: block;
    font-size: 17px;
    height: 25px;
    line-height: 1.2;
    padding: 2px 0 0 0;
    text-shadow: 0 1px 1px #000000;
    width: 25px;
}

.lof-addtocart-countdown {
	float:right;
}
/* clearfix */ 
.lofbundle_wrapper.notify:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}