/* block top currencies */
#header_right #currencies_block_top {
	float:left;
	margin: 0 0px 0 6px;
	padding: 2px 6px;
	-moz-border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background: none repeat scroll right 0 #000;
}
#header_right #currencies_block_top p {
	clear: right;
	padding-left:16px;
	font: 11px tahoma,Arial,Verdana,sans-serif;
	color: #ccc;
	text-align: left;
	background: url("img/block_languages_top_p_bg.png") no-repeat scroll left 1px transparent;
}
#currencies_block_top ul#first-currencies li {
	margin-left: 3px
}
#currencies_block_top ul#first-currencies li.selected {
	opacity: 1 !important;
}
/*languages with jquery*/
#setCurrency {
	cursor: pointer;
	position: relative;
	top: 1px;
}
#setCurrency p {
	position: relative;
	top: 0;
	margin-right: 5px;
	padding: 0;
}
#setCurrency p img {
	padding-right: 5px;
}
#setCurrency .currencies_ul{
	display:none;
	z-index: 10000;
	padding:10px;
	list-style-type:none;
}
#setCurrency .currencies_ul_hover{
	display:block;
	z-index: 5000;
	position:absolute;
	left:3px;
	padding:5px 10px;
	height:auto;
	text-align: center;
    width: auto;
	background:#000000;
}
#setCurrency .currencies_ul_hover a {color:#fff;}
