@charset "utf-8";
/* CSS Document */

#hdsubmenu ul{ padding:0;}
#hdsubmenu li{ display:inline; padding:2px 4px; background:#CCC; padding:8px 12px; font-weight:bold; font-size:11px}
#lofeditmessage .margin-form{
	padding: 0 0 1em 115px;
	text-align:left;
}
#lofeditmessage label{
	width: 110px;
}
#content {
	padding:0px;
}
