.lof-left {
	float:left;
	width:280px;
	margin-left: 50px;
}
.lof-right {
	float:left;
	width:280px;
}.lof-left input{
	width:120px;
}
.lof-right input{
	width:120px;
}
.lof-addfile {
	float:left;
	width:50px;
}
.lof-addfile a.add{
	background: url("add.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 24px;
    width: 24px;
}
.lof-addfile a.delete{
	background:url(remove.png) no-repeat scroll 0 0 transparent;
	display: block;
    height: 22px;
    width: 22px;
}
span.lof {
	color: #000000;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 2px;
}