.lof-dashboard .status ul {
	list-style:none;
	display: table;
	padding-left: 0;
	background: -moz-linear-gradient(#FFFFFF, #FAFAFA) repeat scroll 0 0 transparent;
    border: 1px solid #EFEFEF;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 10px;
	width: 100%;
}

.lof-dashboard .status ul li{
	border-right: 1px solid #E8E8E8;
    display: inline;
    float: left;
    margin: 15px 0 10px;
    padding: 0 0 4px;
    text-align: center;
    width: 125px;
}
.lof-dashboard .status ul li.last{
	border: 0 none;
}
.lof-dashboard .status ul li a{
	color: #996666;
}
.lof-dashboard .status ul li a span{
	display: block;
    position: relative;
    top: 8px;
}
.lof-dashboard .status ul li a h4{
	color: #666666;
    font-size: 34px;
    font-weight: bold;
    padding-top: 8px;
}
.lof-dashboard .status ul li a h4.lofselected{
	color: #A65252;
}
/* Massage */
.lof-dashboard .message ul {
	list-style:none;
	padding-left: 0;
}
.lof-dashboard .message ul li{
	display: table;
	clear: both;
	border-bottom: 1px solid #F7F7F7;
	padding-top: 5px;
}
.lof-dashboard .message .lofimgage{
    margin-top: 3px;
	height: 40px;
    width: 40px;
	float:left;
	border-radius: 6px 6px 6px 6px;
}

.lof-dashboard .message .image-emp{
	background: url("../../images/staff-icon.png") no-repeat scroll -4px 0 transparent;
}
.lof-dashboard .message .image-cus{
	background:url(../../images/user-icon.png) no-repeat scroll -4px -2px transparent;
}
.lof-dashboard .message .lofcontent{
	height: 50px;
    width: 838px;
	float:left;
	margin: 3px 0px 0px 10px;
}
.lof-dashboard .message ul li a{
	color: #4D769F;
}
.activity_time {
	color:#A6A6A6;
	margin-top: 6px;
}