.lof_container {
	margin-bottom:10px;
}
fieldset.loffieldset {
	font-size: 1em;
}
fieldset.loffieldset1 {
	width:840px;
	float:left;
	margin-right:10px;
}
fieldset.loffieldset2 {
	width:340px;
	float:left;
}
fieldset.loffieldset3 {
	width:340px;
	float:left;
}
.lof_star_rating {
    background: url(../../images/alt_star.gif) repeat-x scroll left top transparent;
    height: 25px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 125px;
}
.lof_star_rating li#lof_current_rating {
    background: url(../../images/alt_star.gif) repeat scroll left center transparent;
    display: block;
    height: 25px;
    position: absolute;
    text-indent: -9000px;
    z-index: 1;
}
.lof_star_rating li {
    background-image: none;
    float: left;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 25px;
}
.lof_star_rating li a{
    text-decoration:none;
}
.lof_feedback_selected_0 {
    width: 0 !important;
}
.lof_feedback_selected_1 {
    width: 30px !important;
}
.lof_feedback_selected_2 {
    width: 55px !important;
}
.lof_feedback_selected_3 {
    width: 80px !important;
}
.lof_feedback_selected_4 {
    width: 105px !important;
}
.lof_feedback_selected_5 {
    width: 130px !important;
}


.lofaddnew {
	text-align:left;
	padding-left: 5px;
	float:left;
	width:155px;
}
.lofitem {
	padding: 5px;
	text-align: left;
	clear: both;
}
.lofitem  a{
	text-decoration:none;
	color:#0B55C4;
}

.lofitem .lofheader {
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E2E2E2;
    padding: 5px;
	margin-bottom: 10px;
    overflow: hidden;
	position:relative;
}
.lofitem .lofheader .logavatar{
	float: left;
    margin-right: 10px;
}
.lofitem .lofheader .lofname .name_email,.topmessage .lofcontent h2{
	font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: 8px 0 0;
	text-shadow: 1px 1px 0 #FFFFFF;
	color: #2570BB;
	font-family: 'KreonRegular';
}
.lofitem .lofheader .lofdate{
	font-size: 11px;
    margin: 3px 0 0;
}
.lofitem .lofcontent{
	padding: 0 0 0px 10px;
}
.topmessage .lofheader {
	border:none;
	margin-bottom:0px;
}
.topmessage .lofcontainer {
	border: 1px solid #E2E2E2;
	background: none repeat scroll 0 0 #FAFAFA;
}
.lofitem .file {
	margin-left: 10px; 
}
.lofitem .file span{
	font-style: italic;
}
.topmessage .files{
	padding: 0 0 5px;
}
.topmessage .lofcontent h2 {
	text-transform:none;
	padding-left:0px;
	background:none;
}
.lofaction {
	padding-left:5px;
	margin: 10px 0;
}
.lofaction a{
    color: #374853;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
}
.lofform {
	padding-left:5px;
}
.lofitem .file a{
	color:#0B55C4;
}


table.lof {
	width:100%;
}
table.lof td{
	border-bottom:1px solid #F0F0F0;
	height: 25px;
}
table.lof td.left{
	background:#FAFAFA;
}
.information div{
	border-bottom:1px solid #F0F0F0;
	padding:5px 0px 0px 10px;
}
.information div.row{
	background:#FAFAFA;
}
.lofaction {
	margin: 15px 0;
}
.lofmessa {
	padding-left: 6px;
}
.lofaction a,a.click_reply{
	text-decoration:none;
}
.lofaction .lofnotice{
	width:120px;
	float:left;
}
.lofaction .lof-print{
	width:50px;
	float:left;
}
.lofaction .lofac{
	width:98px;
	float:left;
}
.itemlofaction {
	margin:5px 10px 5px 0px;
}
.toplofaction .lofac{
	width:120px;
	float:left;
}
