#featured-products_block_center .p-item {
    padding: 8px 0
}
#featured-products_block_center div.last_item_of_line {
    margin-right: 0;
}
#featured-products_block_center h5 {
    padding-top: 5px;
    height: 30px;
    font-size: 12px;
    color: #222
}

#featured-products_block_center .product_image {
    display: block;
    position: relative;
    overflow: hidden
}
#featured-products_block_center .product_image span.new {
    display: block;
    position: absolute;
    top: 15px;
    right: -30px;
    padding: 1px 4px;
    width: 101px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    background-color: #990000
}

#featured-products_block_center .product_desc {
    height: 49px;
    overflow: hidden
}
#featured-products_block_center .product_desc,
#featured-products_block_center .product_desc a {
    color: #666
}
#featured-products_block_center .lnk_more {
    display: inline;
    padding-right: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #0088cc;
    background: url(img/arrow_right_1.png) no-repeat 100% 3px;
}
#featured-products_block_center .price_container {
    margin-top: 10px;
    padding: 0;
}
#featured-products_block_center .p-item .ajax_add_to_cart_button {
    display: none;
}
#featured-products_block_center .p-item span.exclusive {
    display: none;
}
#featured-products_block_center {
    border: medium none !important;
    margin: 5px 8px 24px 0;
}
#featured-products_block_center h4 {
    color: #808080;
    font-size: 21px;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-right: 18px;
    text-align: center;
}
.popular-title {
    border-bottom: 1px solid #F0EFEF;
}
.popular-span {
    background: none repeat scroll 0 0 #35AAD8;
    display: block !important;
    float: none !important;
    height: 1px;
    margin-bottom: -1px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 11px;
    min-height: 0 !important;
    width: 140px !important;
}
#featured-products_block_center li {
    float: left;
    width: 100%;
    position: relative;
     right: -200px;
    margin-bottom: 11px;
}
#featured-products_block_center li a {
    /*float: left;*/
    margin-right: 10px;
}
#featured-products_block_center h4 a {
    font-family: Open Sans, arial, tahoma !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
#featured-products_block_center .price {
    color: #808080;
    font-size: 15px;
    margin-top: 15px;
}
#featured-products_block_center p {
    text-align: left;
}
.popular-name {
    float: left;
    font-family: sans-serif, arial, tahoma;
    font-size: 14px;
    font-weight: bold;
    /*width: 40%;*/
}
.price-popular {
    color: #2A83ED;
    font-size: 16px;
    margin-right: 92px;
}
.description-popular {
    text-align: justify;
    float: left;
}