@CHARSET "ISO-8859-1";
* html .clearfix {
	height:1%;
}
.clearfix {
	display:inline-block;
}
html[xmlns] .clearfix {
	display:block;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
#lofform fieldset{
	margin-top:12px;	
}
.lof_config_wrrapper{
	position: relative;
}
.lof_config_wrrapper ul,.lof_config_wrrapper li{
	list-style:none;
}
.lof_config_wrrapper .lof-config-header{
	color:#025A8D !important;
	background:none repeat scroll 0 0 #F6F6F6;
	height: 22px;
	line-height: 22px;
	border-bottom:1px; 
}
.lof_config_wrrapper .lof-config-header span{
	margin: 10px;
	font-weight: bold;
}
.lof_config_wrrapper ul > li i{
	font-size:10px;
    line-height: 10px;	
}
.lof_config_wrrapper ul > li.row{
	background-color:#FFFFFF;
	height:30px;
	background:none;
	line-height:30px;
	clear:both;
	
}
.lof_config_wrrapper ul li.row:hover{
	background-color:#E8F6FE;
}
.lof_config_wrrapper .row1{
	background-color:#F0F0F0;
	height:30px;	
	line-height:30px;
}
.lof_config_wrrapper label{
	float: none;
}
.lof_config_wrrapper ul li ul li{
	float: left;
}
.lof_config_wrrapper .lof-config-left{
	width: 40%;
	font-size: 12px!important;
}
.lof_config_wrrapper .lof-config-left LABEL{
	margin:10px 0;
}
.lof_config_wrrapper .lof-config-right{
	width: 60%;
	font-size: 13px!important;
}
.lof_config_wrrapper .lof-config-right LABEL{
	font-weight: normal;
	margin: 0 10px;
}
.lof_config_wrrapper .lof-group{
    background:#F3F3F3!important;	
	color:#025A8D!important;
	border-right:#CCC solid 5px;
	border-left:#CCC solid 5px;
	padding:0 10px!important;
	font-weight:bold;
}
.lof_config_wrrapper .lof-space-title{
    width: 100%;
}
.lof_config_wrrapper .colorwell {    
     width: 6em;
     text-align: center;
     cursor: pointer;
}
.lof_config_wrrapper .colorwell-selected {
    border: 2px solid #000;
    font-weight: bold;
}
.lof_config_wrrapper #picker{
    position: absolute;
    bottom: -3px;
    right: 100px;    
}
.lof_config_wrrapper .it-addrow-block legend{
    border: none;
    background: none;
}
.lof_config_wrrapper .it-addrow-block .add {
    background: url("add.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 26px;
    text-indent: -999cm;
    width: 26px;
}
.lof_config_wrrapper .it-addrow-block .row { padding:3px 0px;display:block;clear:both; cursor:hand; cursor:pointer;background: none; }
.lof_config_wrrapper .it-addrow-block input[type=text] {float:left; width:70%}
.lof_config_wrrapper .it-addrow-block .row .remove { display:block; float:left; background:url(remove.png) no-repeat;width:20px; height:16px;margin-left:12px}
.lof_config_wrrapper .it-addrow-block  .add{ background:url(add.png) no-repeat;width:26px; height:26px; display:block; text-indent:-999cm; cursor:hand; cursor:pointer}
.lof_config_wrrapper .spantext {
    background: none repeat scroll 0 0 #888888;
    color: #F2F2F2;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 11px 2px 8px;
    line-height: 18px;
}
.lof_config_wrrapper .remove {
    background: url("remove.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 16px;
    margin-left: 12px;
    width: 20px;
}
.lof-headding{ background:#F8F8F8; border:#CCC dotted 2px; padding:5px; font-weight:bold; color:#036 }


.area2 {
	position: relative;
	height: 15px;
	width: 180px;
	background: #CCCCCC;
	float:left;
}
 .widthpreview{
	 	font-weight:bold;
		color:#FFF; margin-right:4px;
		 position:relative;
		padding:1px 3px;
		background:#666;
		color:30px; float:left
 }
.knob2 {
	position: absolute;
	height: 15px;
	width:10px;
	background:#666;
	cursor: pointer;
}
.lof-cols{
	float:left;
	width:48%;
	position:relative;
}

.lof-cols label{
    margin: 0;
	color:#666;
	margin-left:5px;
	font-weight:bold;	 
}
 .lof-cols input, .lof-cols select{
	width:97%; 	
}
.lof-filegroup{
	background:#f2f2f2;
	position:relative;
}
.lof-fsi{
	background:#F7F7F7!important;
	border-bottom:#CCC solid 1px
}
.lof-fsi legend{
	font-size:10px;
	padding:0 5px;
	color:#999!important;
	background:#E0E0E0;
	margin:0
}
.lof-container {
	padding:1px;
	margin-top:1px;
    background:#F7F7F7;
    font-size: 65%;
}
.lof-container:hover{
	background:#E8F6FE;
}
.lof-cols{
    line-height: 20px;
}
#lof-table{
	background-color: #E7E7E7;
    border-spacing: 1px;
    color: #666666;
    width: 100%;
}
#lof-table tr{
	background-color: #FFFFFF;
    text-align: left;
}
#lof-table th{
	background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #FFFFFF;
    color: #666666;
    text-align: center;
}
#lof-table td{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 25px;
}
.lof-bottom{
	width:100%;
	margin-bottom:10px;
}
.lof-header {
	width:100%;
	height:30px;
	margin-top: 5px;
}

.lof-header .lof-left{
	width:46%;
	float:left;
}
.lof-header .lof-right{
	width:49%;
	float:left;
	position: relative;
}
.lof-header .lof-right .lofadd{
	position: absolute;
    right: 60px;
    top: 5px;
	cursor:pointer;
}
.lofdelete{
	cursor:pointer;
}
#lofhook{
	width:80px;
}
#lofmodule{
	width:130px;
}
#cus-detail {
	margin-bottom: 10px;
    margin-top: 10px;
}
#cus-detail label{
	float:left;
}
#cus-detail .addpoint{
	margin-top: 10px;
}
.lof_config_wrrapper .lof {
	float:left;
}
.lof_config_wrrapper  label{
	width: 80px;
}
.lof_config_wrrapper  .margin-form{
	padding: 0 0 1em 90px;
	font-size: 1em;
}
#id-customer {
	margin-bottom:3px;
}
.lof-paging{
	margin-top: 5px;
}
.lof-paging ul{
	margin-left: 0;
    padding-left: 0;
}
.lof-paging ul li a{
	padding-right:10px;
}
.lof-paging ul li.paging-header{
	padding-right:10px;
}
/**/
#file-management{ font-family:Verdana, Geneva, sans-serif; font-size:11px; position:relative; width:790px; height:420px; overflow:auto}
#file-management table{ width:96%; margin:0 auto; border:#CCC solid 1px;}
.lof-list-files tr{  font-size:11px; text-align:left}
.lof-list-files tr .active{ font-weight:bold; }
.tbl-header{ background:#BCBCBC; }
.tbl-header th  { padding:6px; }
.file-item a {  color:#000; text-shadow:1px 0 1px #999 }
.lof-list-files td  { padding:3px; color:#077;  text-shadow:1px 0 1px #ccc}
.lof-list-files  .odd{ background:#F7F7F7}
.lof-list-files tr:hover{ background:#EEE}

#quickuploadForm{ padding:6px; line-height:1.6em;}
.delete-file{ background:url(disabled.gif) no-repeat center center; text-indent:-999em; display:block; width:100%; height:100%;}
/***/
#files-container{ position:fixed; bottom:0; left:0; padding:10px; background:#F0F0F0; width:100%;}
#files-container > div{ width:49.5%; float:left; }
.clear { clear:both; height:1px; overflow:hidden}
.path-explain{ font-size:10px; background:#f3f3f3; padding:6px 12px ; margin:6px auto; width:93%;}
 span.text-explain{ font-size:10px; color:#666; padding:6px 0;}
 
.loffilesmanager li {
	float:left;
	display:block;
	margin: 0 15px;
	
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFF6D3;
    border-color: #FFF6D3 #DFD5AF #DFD5AF #FFF6D3;
    border-right: 1px solid #DFD5AF;
    border-style: solid;
    border-width: 1px;
    color: #268CCD;
    padding: 3px;
}
.loffilesmanager li a{
	
    color: #268CCD;

}