/* block top search */
.block-search-top {
    direction: ltr;
    /* display: table-cell;*/
    float: none;
    vertical-align: middle;
}

.block-search-top #searchbox {
    border-radius: 0 0 5px 5px;
    left: 79px;
    /*padding: 2px 6px 10px;*/
    top: 0;
    z-index: 999;
}

#search_block_top form {
    /*width:290px*/
}

#search_block_top form {
    margin: 0;
    padding: 0;
}

#search_block_top .search-input {
    position: relative;
    overflow: hidden;
    width: 28px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#search_block_top .search-input:hover {
    position: relative;
    overflow: hidden;
    width: 232px
}

#search_block_top .home-search {
    position: absolute;
    left: 0;
    background: none;
    border: none;
    line-height: 40px;
    box-shadow: none
}

#search_block_top input.search_query {
    border: 1px solid #CCCCCC !important;
    float: right;
    font-family: open sans, sans-serif;
    font-size: 15px;
    height: 33px;
    margin: 0;
    width: 89%;
    text-align: right;
}

#header_right #search_block_top p {
    /*padding: 0.4em 0 0.4em 1em*/
}

#header_right #search_block_top label, #header_right #search_block_top input {
    background: url("../../../img/search-icon.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    float: right;
    height: 26px;
    margin-left: -20px;
    text-indent: 30px;
    width: 24px;
}

#header_right #search_block_top label {
    background: url("../../../img/icon/search.gif") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    display: none;
    float: left;
    height: 18px;
    width: 19px;
}

#header_right #search_block_top input.search_query {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 0;
    color: #FFFFFF;
    float: left;
    height: 19px;
    text-indent: 0;
    text-transform: uppercase;
    width: 19em;
    text-align: left;
}

/* block left column "Quick search" */
#search_block_left input {
    margin: 2px 0 0 0
}

#search_block_left .search_query {
    width: 11em
}

#search_button {
    display: inline
}
#search_query_top:focus {
    box-shadow: none !important;
}
.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}
.adv-search-button {
    background-color: #376C69;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 1px 1px;
    color: #FFFFFF;
    float: left;
    height: 21px;
    left: 55px;
    position: relative;
    width: 89px;
}
.adv-search-button > a {
    margin-right: 5px;
}
.adv-search-button > a:hover {
    color: #F5DEB3;
}
.ac-img {
    float: left;
    height: 55px;
    margin-right: 10px;
    width: 40px;
}
.ac_even {
    padding: 0;
    background-color: #e1e1e1;
}
.ac_odd {
    background: none !important;
}
.ac_results {
    border: medium none;
    left: 456px !important;
    opacity: 0.88;
    overflow: hidden;
    text-align: left;
    width: 296px !important;
    z-index: 99999;
}
.ac_results li {
    border-color: #D3D3D3;
    border-style: solid;
    border-width: 0 0 1px;
    cursor: default;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 310px;
}
.ac_results li:hover {
    cursor: pointer;
}
.qsearch-text {
    display: inline-block;
    float: left;
    height: 25px;
    margin-top: 18px;
    vertical-align: text-top;
    width: 200px;
}
.qsearch-text-hover {
    color: #12C8B5;
}
.arrow-search {
    background-image: url("../../../img/arrow-search.png");
    float: right;
    height: 22px;
    margin-top: 27px;
    width: 12px;
}
.arrow-search-hover {
    background-image: url("../../../img/arrow-search-hover.png");
}
.button.submit_search {
    /*font-weight: normal;*/
    /*background-color: #2A83ED;*/
    font-weight: normal;
    float: right;
    background-color: #169ee4;
    height: 27px;
}
.button.submit_search:hover {
    background-color: rgba(42, 131, 237, 0.75);
    height: 27px;
}
#searchbox > label {
    margin-bottom: 0;
}
#searchbox input {
    height: 33px;
    float: right;
}
/*------------------Quick search--------------------------------------------------*/
.search-results {
    background-color: #FFFFFF;
    border: 1px solid;
    direction: rtl;
    height: 370px;
    margin-left: 16px;
    position: absolute;
    top: 34px;
    width: 700px;
    z-index: 1000;
}
.search-products {
    float: left;
    width: 50%;
}

.Psearch-li {
    border-bottom: 1px solid #D3D3D3;
    display: inline-block;
    list-style: none outside none;
    width: 96%;
    margin: auto;
}
.Psearch-li > a {
    float: left;
    width: 100%;
}
.res-product-img {
    float: left;
    /*height: 70px;*/
    margin-left: 0;
    max-width: 60px;
}
.Psearch-li span {
    margin-left: 6px;
    color: gray;
    font-size: 13px;
    float: left;
}
.search-video {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #eeeeee;
}
.search-h3 {
    background-color: #151D28;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #000000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    height: 23px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}
.video-append {
    min-height: 139px;
}
.search-no {
    text-align: center;
    padding-top: 9px;
    font-size: 14px;
    color: black;
}
.search-news {
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    color: #000022;
    font-size: 14px;
}
#retrive {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.qsearch-price-name {
    width: 255px;
}
.qsearch-name {
    color: #808080 !important;
    font-family: sans-serif, tahoma;
    margin-top: 15px !important;
    text-align: left;
    width: 250px;
    font-weight: bold;
}
.qsearch-price-name span {
    color: #2A83ED;
    margin-top: 5px;
}
.unavailable-img {
    float: left;
    margin: 11px 0 0 4px;
    width: 8px;
}
.unavailable-text {
    color: #d20000 !important;
}