a {
	color:#85909e;
}
a:hover {
	color:#fff;
}
body {
	color:#85909E;
	background:url("../img/default/bg-hitech.png") repeat scroll right top transparent;
}

#header_logo {
	background:url(../img/logo.png) right top no-repeat;
}
#header_user #shopping_cart a {
    background-image:url("../img/cart.png")!important;
}
#header_logo {
    background:url("../img/logo.png") no-repeat scroll right top transparent;
}
#header_right {
    background:url("../img/bg-header.png") repeat-x scroll right 34px transparent;
}
#headerlogo .lof_inner {
    background:url("../img/shadow-logo.png") no-repeat scroll right 34px transparent;
}
#lof-prestalove-easy-menu .sf-menu a {
	color:#c3cad4;
	text-shadow:0 1px 0 #000;
}
#lof-prestalove-easy-menu.sf-menu a:hover,#lof-prestalove-easy-menu .sf-menu li.sfHover a,#lof-prestalove-easy-menu .sf-menu a.active,#lof-prestalove-easy-menu .sf-menu li:hover a {
	color:#fff;
}
#lof-prestalove-easy-menu .sf-menu a:hover,#lof-prestalove-easy-menu .sf-menu li.sfHover a, #lof-prestalove-easy-menu .sf-menu a.active,#lof-prestalove-easy-menu .sf-menu li:hover a {
    background:url("../img/menu-hover-right.png") no-repeat scroll left center transparent;
}
#lof-prestalove-easy-menu .sf-menu li:hover,#lof-prestalove-easy-menu .sf-menu li.sfHover,#lof-prestalove-easy-menu .sf-menu li.li-current {
	background:url("../img/menu-hover-left.png") no-repeat scroll right center transparent;
}

#right_column #cart_block,
#leo-centercol,
#category #leo-centercol .content-cat,
.lof-module-featured.default {
	background:#1b2838;
}
#right_column #categories_block_left,
#right_column #cart_block,
#right_column #search_block_right {
	background:#1b2838;
	border-radius:0 0 0 0;
	box-shadow:none;
}


input#carriercompare_submit,
input#submitMessage,
#update_carriers_list,
#carriercompare_submit,
.button_small.lof-add-cart,
#toolspanel #bottombox a,
#toolspanel input,
a.button_small,
a#button_order_cart,
#order .exclusive,
a.button,
.button_large,
input.button,
input.button_compare {
 	background:none repeat scroll 0 0 #0e1822;
    border:0 none;
    border-radius:8px 8px 8px 8px;
    box-shadow:1px 1px 0 0 #426185;
    color:#85909E;
}
#order .exclusive:hover,
#update_carriers_list:hover,
#carriercompare_submit:hover,
input.button:hover {
	color:#fff;
}

#cart-buttons a {
	color:#79808C;
}
#leo-footer .lof-cmssticker-default li a:hover {
	color:#c3cad4;
}
#search_query_block {
	background:none repeat scroll 0 0 #22344b;
	border:1px solid #122135;
}

.lof-module-featured.default .lof-item-content h4 a:hover,
#leo-centercol div.products_block h5 a:hover { color:#6A7E96;}

div.lofcontrol > ol > li {
    background:url("../img/arrow-button.png") no-repeat scroll 0 2px transparent;
}


#leo-centercol h1, .content-cat h1, h4.heading-hightlight, h4.bg-heading, .lof-module-featured.default .tabs-panel li, #module-blockwishlist-mywishlist h2, #cms #leo-centercol .rte h2, #cms #leo-centercol .mceContentBody h2 {
	background:url("../img/feature-title-bg.png") no-repeat scroll right bottom transparent;
	height:34px;
	color:#0b9fcf;
	text-shadow:-1px 1px 0 #000;
}
.lof-module-featured.default li.lof-tab a.active,
#newsletter_block_left h2, #lof-custom-footer-2 h3.title-user, #product_comparison span.price, .lof-module-featured.default .lof-price {
    color:#0b9fcf;
}

#right_column #search_button {
    background:url("../img/icon-search.png") no-repeat scroll right top transparent;
}
#right_column #search_button:hover {

}
.lof-module-featured.default .product_label,
ul#product_list .lof-product, #featured-products_block_center .lof-product {
    border:2px solid #2b3f59;
}


#categories_block_left .tree li a {
    background:url("../img/shadow-li.png") no-repeat scroll right center transparent;
}
#categories_block_left .tree li a:hover,
#categories_block_left .tree li a.selected{
    background:url("../img/shadow-li-hover.png") no-repeat scroll right center transparent;
}
#categories_block_left .tree a {
	color:#fff;
}

#leo-user17 .social-gg {
    background:url("../img/icon-social.png") repeat scroll right top transparent;
}
#leo-user17 .social-fb {
    background:url("../img/icon-social.png") repeat scroll -30px top transparent;
}
#leo-user17 .social-tt {
    background:url("../img/icon-social.png") repeat scroll -57px top transparent;
}
#leo-user17 .social-rss {
    background:url("../img/icon-social.png") repeat scroll -87px top transparent;
}
div.custom.lof-social {
	background:#213044;
}
span.social {
	color:#5c5f66;
}
.lof-module-featured.default .lof-main-description,
#leo-centercol .products_block {
    color:#6A7E96;
}


#leo-footer .lof-cmssticker-default a {
    color:#1b2838;
}


#newsletter_block_left h2, #lof-custom-footer-2 h3.title-user {
    background:url("../img/bullet.png") no-repeat scroll right center transparent;
}

input.exclusive_large, a.lof-add-cart, a.exclusive,#add_to_cart input.exclusive {
    background:url("../img/button-bg.png") no-repeat scroll right 2px transparent;
	color:#85909E;
	border:0;
	box-shadow:none;
}
input.exclusive_large:hover, a.lof-add-cart:hover, a.exclusive:hover,#add_to_cart input.exclusive:hover {
	background:url("../img/button-bg-hover.png") no-repeat scroll right 2px transparent;
	color:#fff;
}

#toolspanel #bottombox input {
	background:#0b9fcf;
	
}
#toolspanel #bottombox a {
	background:#2f4259;
	color:#fff;
}

#our_price_display,
#cart_block span.price, #cart_block dl span.price, .content-cat h1, .lof-price-fix {
	color:#0b9fcf;
}

#suppliers_list li, #manufacturers_list li {
    border-top:1px solid #435469;
}
#cart_block p#cart-prices {
    border-top:1px solid #435469;
}
ul.idTabsShort li a:hover,
ul.idTabsShort li a.selected{
	background:#0b9fcf;
}
/*SLIDESHOW
------------------*/
.lofcamera_container {
    background:none repeat scroll 0 0 #1b2838;
}
.camera_pag {
    background:url("../img/slide-ul-bg.png") repeat-x scroll right top transparent;
}
.camera_next > span {
    background:url("../img/camera_skins.png") no-repeat scroll -40px 0 transparent;
}
.camera_prev > span {
    background:url("../img/camera_skins.png") no-repeat scroll 0 0 transparent;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background:url("../img/arrow-button.png") no-repeat scroll right top transparent;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
    background:url("../img/arrow-button.png") no-repeat scroll right bottom transparent;
}
/*FOOTER
---------*/
#leo-footer {
	background:url(../img/bg-ft.png) repeat-x top left;
}
	
#newsletter_block_left input[type="submit"],
#leo-footernewsletter input.button {
	background:url("../img/send.png") repeat-x scroll right top transparent!important;
}

#leo-footer,
#leo-footer a {color:#6a7e96;}
/*COLOR
-------------------------*/
#cart_block  a.button_small.lof-add-cart:hover { background:#0E1822; }
#categories_block_left  h4.heading-hightlight {
	background-position:right 6px;
}


#newsletter_block_left h4 span,
#leo-footernewsletter span,
#leo-footerlinks span {color:#168cdf;}

div.hotline strong{
	color:#168cdf;
}

/*General*/

ul.pagination li:hover, ul.pagination li.current {
    background:none repeat scroll 0 0 #0B9FCF;
}
ul.pagination li {
    background:none repeat scroll 0 0 #2F4259;
}

