/* Special style for block cart*/
#left_column #cart_block, #right_column #cart_block {
}
#header  #cart_block .title_block, #header  #cart_block h4 {
	display: none;
}
#header #cart_block {
	z-index: 10;
	display:none;
	position: absolute;
	left: 0;
	top: 65px;
	height: auto;
	width: 200px;
	-moz-border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 1px 0 #C6C6C6;
	background:#eee
}
#cart_block.cart_block_hover {display:block}
#cart_block .title_block  span, #header  #cart_block h4 {
	float: left;
	padding-right: 10px;
	text-transform: none;
	background-position: right top;
	background-repeat: no-repeat;
	cursor: pointer
}

#cart_block  .block_content {padding:8px 8px 16px 8px;}

#cart_block #cart_block_summary {display:none}
#cart_block .quantity-formated {
	display:inline-block;
	margin-left:5px;
	min-width:18px;
}
#cart_block .cart_block_product_name {font-weight:bold}
#cart_block .remove_link {
	float:left;
	display:inline-block;
	margin:1px 5px 0 0px;
	height:12px;
	width:12px
}
#cart_block .remove_link a {
	display:inline-block;
	height:12px;
	width:12px;
	background: url(img/icon/delete.gif) no-repeat right 0
}
#cart_block .price {
	float:left
}

#cart_block #cart_block_list dl {
	padding-bottom:10px
}
#cart_block #cart_block_list dt {padding:4px 0}
#cart_block #cart_block_list dt a {font-weight:bold}
#cart_block #cart_block_list dd {
	margin-right:20px
}

#cart_block #cart-prices {
	padding:10px 4px;
	line-height:20px;
	font-weight:bold;
	border-top:1px solid #999
}
#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
	float:left
}
#cart_block #cart_block_shipping_cost {font-weight:bold}

#cart_block #cart-buttons .button_small {display:none;}
#cart_block #cart-buttons  #button_order_cart {
	float:left;
	padding-right:20px
}
#cart_block #cart-buttons  #button_order_cart span {
	position:absolute;
	top:-1px;
	right:-12px;
	display:block;
	height:26px;
	width:26px;
	background:url(img/icon/pict_add_cart.png) no-repeat right 0
}
#cart_block table#vouchers {
	clear: both;
	width:100%
}
#cart_block table#vouchers tr td{
	padding: 2px;
}
#cart_block table#vouchers tr td.quantity{
	margin-left:5px;
	min-width:18px
}
#cart_block table#vouchers tr td.delete{
	padding-right: 0;
	padding-left: 0;
	text-align: left;
	width: 15px;
}

