#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-horizontal {
     background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("next-pre.png");
    background-origin: padding-box;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: -26px;
    top: 23px;
    width: 23px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-horizontal:hover {	
	 background-position: right bottom;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-horizontal:active {
	background-position: right bottom;
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: pointer;
}
#wrap {
	padding: 0 23px;
	margin-top:20px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-horizontal {
     background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("next-pre.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    height: 20px;
    left: -23px;
    position: absolute;
    top: 23px;
    width: 23px;
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
   background-position: left bottom;
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	background-position: left bottom;
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: pointer;
}
/**
 *  Vertical Buttons
 */
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}
#lofjcarousel{

}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-container {
	padding:0;
	border:none;
}
div.title{
    color: #000000;
    font-family: 'Myriad Pro',arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    text-align: left;
    text-transform: uppercase;
}
div.title span{
	color:#6B777D;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-container-horizontal {
    
    padding: 0;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-container-vertical {
    
    padding: 0;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-clip-horizontal { 
	height: 62px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-clip-vertical {
    
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-item {
    
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-1{}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-horizontal .lof-row{
	padding: 0 55px;
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-horizontal {
    width: 104px!important;
	text-align:center;
	padding-left:5px;
	
}
ul#lofjcarousel li a img
{
	border:1px solid #E6E6E6;
	background:#fff
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-horizontal  a span
{
	display:none
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */


#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-vertical,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
	border:1px solid #c3c3c3;
    /*background: transparent url(prev-vertical.png) no-repeat 0 0;*/
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-vertical:active {
   background-position: 0 -64px;
}

#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -100px;
}
#mycarouselHolder div.lof-row a{
	float:left;
	width: 210px
	
}
#mycarouselHolder div.lof-row a span{
	color: #C4C4C4;
    display: block;
    font-size: 10px;
    overflow: hidden;
    padding: 2px 0;
	width:138px;
	text-align:left;
	display:none;
}
#mycarouselHolder div.lof-row a img {
    padding: 12px 10px 0 0;
    width: 110px;
}
