/* Block specials */
.blocleokproducttabs .carousel-control {
    z-index: 10
}

#leoproducttabs .carousel {
    position: inherit;
    margin-bottom: 4px;
}
.carousel-control {
    top: 20px;
    opacity: 1;
}

.carousel-control {
    background-image: url(img/leobg_carousel-control.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.carousel-control.left {
    background-position: 0 0;
}
.carousel-control.right {
    background-position: -32px 0;
    left: 35px !important;
    right: auto;
}
.span4.product_block.ajax_block_product.last_item.p-item.clearfix {
    margin-left: 0;
}
/*.span4.product_block.ajax_block_product.alternate_item.clearfix {*/
/*margin-left: 0;*/
/*}*/
#productTabs {
    margin: auto;
    width: -moz-max-content;
}

#productTabs li a {
    background-color: #9d9d9d;
    color: #f9f9f9;
}
#productTabs li.active a {
    background: url("../../../img/bg_loftabsnews.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: thin solid #000000;
    border-right: thin solid #000000;
    border-top: thin solid #000000;
    color: #767375;
    height: 21px;
}
#productTabs a:hover {
    background-color: dimgrey;

}
.product-tabs-title.row-fluid {
    margin-top: 20px;
    border-bottom: thin solid #000000;
    background-color: #808080;
    height: 36px;
}
#leoproducttabs {
    margin: 0;
    border-top: medium none;
}
