div.addresses {
   position:relative;
   padding:15px;
   border:1px solid #ccc;
	font-size:12px;
   background:#f8f8f8
}

ul.address {
   list-style-type:none;

   position:relative;
 
}
#address_delivery { }
#address_invoice {margin-right:0}
#delivery_address { }
#order-detail-content a
{
	color:#4c4d4e;
}
#order-detail-content a:hover
{
	color:#169EE4
}
#order-detail-content a.cart_quantity_delete
{
	color:#fff
}
ul.address li.address_title {
   height: 35px;
   line-height:35px;
   color:#fff;
   background:#169EE4;
   padding:0 10px 0 0;
   text-transform:uppercase;
}

ul.address li.address_firstname,
ul.address li.address_company {
	margin-top:8px
}

ul.address  li.address_update {
	margin-top:20px
}
ul.address  li.address_update,
ul.address li.address_delete {
	font-size:11px;
   text-transform:none
}

.address_add {
   padding:20px 0
}

.address_select {
    border: 1px solid #CCCCCC;
    margin-right: 10px;
    width: 200px;
}
label[for=id_address_delivery], label[for=id_address_invoice] {
    float: right;
    margin-top: 5px;
}
.addressesAreEquals label {
	margin-left: 5px;
}
.addressesAreEquals input {
	float: left;
}
p.address_delivery, p.addressesAreEquals {
	padding-bottom: 14px
}

/* PAGE ADRESSES ******************************************************************************* */
.addresses ul.address {
   list-style-type:none;

   position:relative;

}
.addresses ul.address.alternate_item,
.addresses ul.address.last_item {margin-right:0}

.addresses ul.address .address_update {margin-top:20px}
.addresses ul.address .address_update,
.addresses ul.address .address_delete {
	font-size:11px;
   text-transform:none
}

