h1{margin-bottom:10px;}

table#cart_summary tr.cart_item.even
{
	background:#F3F3F3;
}
.subcategories .subcategories-container {
    margin: 8px 0 12px 0;
	background:#fff;
}
.subcategories-container {
    border: 1px solid #D4D4D4;
    transition: all 0.5s linear 0s;
}
.subcategories-container:hover {
    border: 1px solid #679712;
    box-shadow: 0 0 4px #679712;
}
.desc_subcategorise
{
	padding:5px 10px 10px 10px;
	background:#F9F9F9
}
.content_scene_cat {
	text-align:center;
	background:#fff;
	margin-bottom:20px;
	padding:0px 10px 0px 10px
}

.cat_desc {
	font-size:12px;
	line-height:18px;
}
.cat_desc p {padding:0 10px 5px 10px}
.cat_desc .lnk_more {
   padding:0 10px;
   color:#0088CC;
	background:url(../img/arrow_right_1.png) no-repeat 100% 4px transparent;
}
/* ************************************************************************************************
      SUB CATEGORIES
************************************************************************************************ */
.inline_list {
	list-style-type:none;
}
.inline_list  li {
	padding:10px 0;
}
.inline_list  li .img {
	float:left;
	margin-right:15px;
	background:#fff
}
.inline_list  li img {
	border:1px solid #ccc
}
.inline_list  li .cat_name {
	font-weight:bold;
	font-size:13px
}