table#product_comparison {
	width:100%;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.comparison_infos .product-container
{
	border:0;
}
.wrapper-comparison {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 10px;
}
#product_comparison tr.comparison_header {font-weight:bold}
#product_comparison td {
	padding:3px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	vertical-align:top;
    font-size: 12px;
}
#product_comparison td.td_empty{
	/*border:none;*/
}
#product_comparison tr.comparison_header,
#product_comparison td.comparison_feature_even {background:#f8f8f8}

#product_comparison .product_image {
	display:block;
	text-align:center
}
/*#product_comparison .product_image img { width:100% }*/
#product_comparison .s_title_block {
	margin-bottom:10px;
	font-size:12px;
	color:#000;
	font-weight:bold;
	 padding-bottom: 0;
}
#product_comparison .lnk_more {
	display:block;
	margin-bottom:10px;
	color:#0088cc;
    text-align: center;
}

.product_block .product-container:hover
{
	/*border:0;*/
}
.product_block .price_container
{
	margin:0
}
.prices_container {height:25px; overflow:hidden}
.price_container {padding-bottom:10px}
.discount {
   display:inline-block;
   padding:1px 5px;
   font-size:10px;
   font-weight:bold;
   color:#fff;
   text-transform:uppercase;
	background:#9B0000
}

.comparison_availability_statut {display:none}

#product_comparison .cmp_remove {
    display: block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto 10px;
    padding-right: 7px;
    text-align: center;
    width: 50px;
}

.ajax_add_to_cart_button {
	margin-left:9px;
}
.ajax_add_to_cart_button span {
   display: block;
   position: absolute;
   top: -1px;
   height: 26px;
   left: -12px;
   width: 26px;
	background: url(../../img/icon/pict_add_cart.png) no-repeat 0 0 transparent
}
body#products-comparison div.star
{
    height: 11px !important;
}
#product_list a.product_img_link img, .product_block a.product_image img {
    height: 140px;
    width: 120px;
}
#cmp-offer-list div.p-item {
    float: left !important;
    width: 195px;
}
#cmp-offer-list{
    border: 1px solid #AAAAAA;
    padding: 15px 10px 10px;
}
#search-cmp {
    margin: 15px;
}
.search-cmp-h3 {
    float: right;
    margin: 13px 0 0;
    width: 192px;
}
#ProductItemName {
    float: left;
    margin: 7px;
    width: 300px;
    text-align: center;
}
#products-comparison .title_category{
    font-size: 16px;
    line-height: 44px;
    text-align: right;
}
#products-comparison .discount {
    display: none;
}
.prd_add {
}
.compare-results {
    background-color: #FFFFFF;
    border: 1px solid;
    height: 300px;
    left: 198px;
    position: absolute;
    width: 299px;
    z-index: 1000;
}
body#products-comparison div.center_block {
    margin-bottom: 0 !important;
}
body#products-comparison .right_block {
    padding: 0;
}
body#products-comparison .p-item {
    margin-left: 0 !important;
}
.prd_add, .delete_cookie {
    font-size: 11px;
}
.our-copmare {
    margin: 5px 0;
    color: #ffffff;
}
.title-compare {
    font-size: 26px !important;
    line-height: 12px;
    margin: 20px 0;
    text-align: center;
}
.description-compare {
    font-size: 16px;
}
.back-color {
    background-color: #eaeaea !important;
}
.back-top-color {
    background-color: #778899;
    padding: 5px;
    margin-bottom: 10px;
}
.new-product-title1 {
    color: #373A41 !important;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 46px 0 22px;
    text-align: center;
    word-spacing: 5px;
}
.border-title-main {
    border-bottom: 1px solid #F0EFEF;
    color: #35AAD8;
    display: block;
    margin-bottom: 22px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 10px;
    width: 40%;
}
.border-title-main span {
    background: none repeat scroll 0 0 #35AAD8;
    display: block;
    height: 1px;
    margin-bottom: -11px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 28px;
    width: 140px;
}
#next1{
    background: url("../img/next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    position: absolute;
    right: 550px;
    text-align: center;
    top: -37px;
    width: 32px;
}
#prev1{
    background: url("../img/prev.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    position: absolute;
    right: 588px;
    text-align: center;
    top: -37px;
    width: 32px;
}
#retrive-compare {
    margin: 10px auto auto;
}
.controls {
    float: right;
    position: relative;
    top: 43px;
}
.suggest-links {
    margin-left: 19px;
}