
#contact fieldset {
    padding: 12px;
    border: 1px solid #ccc;
    background: url("../img/bg_loftabsnews.png") repeat;
    margin: 0 !important;
}
#contact #center_column p {
    margin: 0;
    padding: 0 0 10px 0;
}
#contact #center_column p.desc_contact {
    padding-left: 10px;
    padding-right: 195px;
    text-align: right;
}

#contact p.text label,
#contact p.select label,
#contact p.select span,
#contact p.textarea label {
    display: inline-block;
    padding: 6px 15px;
    width: 150px; /* 180 */
    font-size: 12px;
    text-align: right
}
#contact p.textarea label {
    vertical-align: top
}
#contact p.text input,
#contact p.select input {
    padding: 0 5px;
    height: 22px;
    width: 229px; /* 270 */
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    line-height: 17px;
}
#contact p.select select {
    margin-right: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666
}
#contact p.textarea textarea {
    height: 80px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666
}
#contact p.submit input {
    margin-left: 185px;
}
#contact p.submit input:hover {
    background: #88b828
}
