/* ****************************************************************************
		reset
**************************************************************************** */

@media print {
    a:link:after, a:visited:after {
        content: "";
    }
}

html {
    color: #000;
    /*background: #FFF;*/
}
body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    line-height: 18px;
    color: #777879
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset, img {
    border: 0
}
address, caption, cite, code, dfn, em, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit
}
del, ins {
    text-decoration: none
}
caption, th {
    text-align: right
}
q:before, q:after {
    content: ''
}
abbr, acronym {
    border: 0;
    font-variant: normal
}
sup {
    color: #FF0000;
    font-family: arial;
    font-size: 15px;
    top: 0;
    vertical-align: baseline;
}
sub {
    vertical-align: baseline
}
legend {
    color: #000
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}
input, button, textarea, select {
    font-size: 100%
}
.clear {
    clear: both;
}
.fs9 {
    font-size: 9px;
}
.fs10 {
    font-size: 10px;
}
.fs11 {
    font-size: 11px;
}
.fs12 {
    font-size: 12px;
}
.fs13 {
    font-size: 13px
}
.fs14 {
    font-size: 14px
}
.fs14 {
    font-size: 15px
}

/***************Fix google map no show control left********************/
#map img {
    max-width: inherit;
}

/***************Fix zoom product********************/
.zoomdiv img.bigimg {
    max-width: inherit;
}

/* ************************************************************************************************
		struture
************************************************************************************************ */
#page {
}
#header {
    z-index: 10;
}
#columns {
    z-index: 1;
    /*background: url("../img/bg_lof_custom.png") repeat-x center top;*/
    padding-top: 7px
}
#left_column {
}
#center_column {
}
#right_column {
}
#footer {
    border-top: solid 2px #555555;
}

/* ************************************************************************************************
		generic style
************************************************************************************************ */
body {
    font-family: WYekan, tahoma;
    line-height: 0; /*18px*/
    font-family: 12px;
    color: #646566;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
}
@font-face {
    font-family: 'WYekan';
    src: url('web-yekan/web-yekan.eot');
    src: url('web-yekan/web-yekan.eot?#iefix') format('embedded-opentype'), url('web-yekan/web-yekan.woff') format('woff'), url('web-yekan/web-yekan.ttf') format('truetype'), url('web-yekan/web-yekan.svg#WebYekan') format('svg');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0600 – 06 FF;
}

/* positionnement ****************************************************************************** */
.hidden {
    display: none
}
.f_right {
    float: left
}
p.center {
    text-align: center
}
.clearBoth {
    clear: both
}

/* title *************************************************************************************** */
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px 10px 0px;
    line-height: 20px;
}
h1 {
    color: #FFFFFF;
    font-size: 22px;
    margin: 20px 0;
}
h2 {
    font-size: 20px;
    color: #585859
}
h3 {
    font-size: 15px
}
h5 {
    font-size: 13px;
}
/* text **************************************************************************************** */
p {
    padding: 0 0 10px
}
p em {
    font-style: italic
}
.warning {
    margin: 0;
    padding: 10px;
    border: 1px solid #e6db55;
    font-size: 13px;
    background: #fff
}

.success {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #DEDEDE;
    font-size: 13px;
    background: #F7F7F7
}
.error {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #990000;
    font-size: 13px;
    background: #ffcccc
}
.error ol {
    margin-right: 20px
}
.error p.lnk {
    margin-top: 20px;
    padding: 0;
    font-size: 11px
}
.required {
    color: #990000;
    font-family: tahoma;
}
.nav-item {
    float: right;
    position: relative;
    cursor: pointer;
}
.nav-item:hover {
}
.nav-item span {
    font-size: 11px;
}
.nav-item a {
    text-transform: capitalize;
    font-size: 12px;
    color: #fff;
}
.nav-item a:hover {
    text-decoration: none
}
.nav-item a:visited {
}
.nav-item form {
    margin: 0;
    padding: 0
}

.nav-item .item-top {
    padding: 0px 15px;
}
/* link **************************************************************************************** */
a, a:active, a:visited {
    text-decoration: none;
    outline: medium none
}
a {
    cursor: pointer;
    color: #6e6f70
}
a:hover, .lnk a:hover {
    color: #2A83ED;
    text-decoration: none;
}
/* HACK IOS ipad, iphone */
input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="submit"], input[type="image"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
/*buttons ************************************************************************************** */
input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
    position: relative;
    display: inline-block;
    padding: 6px 7px 8px 7px;
    /*font-weight: bold;*/
    color: #fff;
    background: #169EE4;
    cursor: pointer;
    border: 0
}
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.button_mini_disabled:hover, input.button_small_disabled:hover, input.button_disabled:hover, input.button_large_disabled:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
input.exclusive_mini_disabled:hover, input.exclusive_small_disabled:hover, input.exclusive_disabled:hover, input.exclusive_large_disabled:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover,
a.exclusive_mini:hover, a.exclusive_smal:hover, a.exclusive:hover, a.exclusive_large:hover,
span.button_mini:hover, span.button_small:hover, span.button:hover, span.button_large:hover,
span.exclusive_mini:hover, span.exclusive_small:hover, span.exclusive:hover, span.exclusive_large:hover, span.exclusive_large_disabled:hover {
    background: #a6a7a4;
    color: #fff
}
*:first-child + html input.button_mini, *:first-child + html input.button_small, *:first-child + html input.button, *:first-child + html input.button_large,
*:first-child + html input.button_mini_disabled, *:first-child + html input.button_small_disabled, *:first-child + html input.button_disabled, *:first-child + html input.button_large_disabled,
*:first-child + html input.exclusive_mini, *:first-child + html input.exclusive_small, *:first-child + html input.exclusive, *:first-child + html input.exclusive_large,
*:first-child + html input.exclusive_mini_disabled, *:first-child + html input.exclusive_small_disabled, *:first-child + html input.exclusive_disabled, *:first-child + html input.exclusive_large_disabled {
    border: none
}
/* input button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled {
    /*padding-bottom:2px*/
}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
    /*background-position:right -36px;
	cursor:default;
	color:#888!important*/
}
/*.btn:hover {
    color: #fff;
    background: #A6A7A4
}*/
/* exclusive button */
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
    /*color:white!important*/

}
a.btn-readmore {
    background: #169EE4;
}
a.btn-readmore span {
    color: #FFF;
    background: url("../img/icon-viewnew.png") no-repeat center right;
    padding-left: 22px;
    font-weight: normal;
}

/* exclusive disabled button */
input.exclusive_mini_disabled, input.exclusive_small_disabled,
input.exclusive_disabled, input.exclusive_large_disabled, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
    /*color:#488c40!important*/
}

/* hover button */
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover,
a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
    text-decoration: none;
    background-position: right -50px
}

/* exclusive hover button */
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover,
input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
}

/* active button */
input.button_mini:active, input.button_small:active, input.button:active, input.button_large:active,
input.exclusive_mini:active, input.exclusive_small:active, input.exclusive:active, input.exclusive_large:active,
a.button_mini:active, a.button_small:active, a.button:active, a.button_large:active,
a.exclusive_mini:active, a.exclusive_small:active, a.exclusive:active, a.exclusive_large:active {
    background-position: right -100px
}

/* classic buttons */
input.button_small, input.button_small_disabled, input.exclusive_small, input.ex.product_block .right_block .exclusive span
input.button_disabled, input.exclusive_disabled, span.exclusive {
    border: 1px solid #ccc;
    color: #999;
    cursor: default;
}
span.exclusive {
    background: #169EE4;
    color: #fff;
    cursor: not-allowed;
}
span.exclusive:hover {
    background: #A6A7A4;
}
input.button_large, input.button_large_disabled, input.exclusive_large,
input.exclusive_large_disabled, a.button_large, a.exclusive_large,
span.button_large, span.exclusive_large, span.exclusive_large_disabled {
    /*width:180px;
	background-image:url('../img/button-large.png')*/
}

/* exclusive button */
/*input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive { background-image:url('../img/button-medium_exclusive.png') }
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini { background-image:url('../img/button-mini_exclusive.gif') }
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small { background-image:url('../img/button-small_exclusive.gif') }
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large, span.exclusive_large_disabled { background-image:url('../img/button-large_exclusive.gif') }*/

/* form **************************************************************************************** */
form.std fieldset {
    margin: 20px 0;
    border: 1px solid #ccc
}
.authentication-page form.std fieldset {
    margin-top: 0;
}
/* table *************************************************************************************** */
.form-horizontal .control-group {
    margin-right: 10px;
    margin-left: 10px;
}
table.std,
table.table_block {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
    background: white;
}
table.std th,
table.table_block th {
    padding: 14px 12px;
    font-size: 16px;
    color: #4C4D4E;
    /*font-weight: bold;*/
    text-transform: uppercase;
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {
    background-color: #f3f3f3
}
table.std td,
table.table_block td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    vertical-align: inherit;
}

/* BLOCK .block ******************************************************************************** */
.block {
    margin-top: 20px
}
#footer .block {
    margin-bottom: 0
}
.block .title_block, .title_block, .block .title_block a, .block .title_block a {
    /* font-weight: bold;*/
    margin: 0;
    font-size: 14px;
    color: #4c4d4e
}
.block .title_block a:hover, .s_title_block a:hover, .block .button_large:hover
.block .bm_title_block, .bm_title_block, .block .bm_title_block a:hover, .bm_title_block a:hover {
    color: #169EE4
}
.block .bm_title_block, .bm_title_block, .block .bm_title_block a, .bm_title_block a {
    color: #4C4D4E;
    font-size: 16px;
    font-weight: normal
}
.block .s_title_block, .s_title_block, .s_title_block a, .block .s_title_block a {
    color: #4C4D4E;
    font-size: 13px;
    font-weight: normal;
    height: 18px;
    overflow: hidden
}

.block .b_title_block, .b_title_block {
    font-weight: normal;
    color: #169EE4;
    font-size: 25px;
}

.block .button_large {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #4C4D4E;
    padding: 0;
    font-weight: normal;
}
.block ul {
    list-style-type: none
}
.block li.last {
    border: none
}
.block li a {
    display: block;
    color: #4c4d4e;
    margin: 0;

}
/*.title_category {*/
/*background: none repeat scroll 0 0 #169EE4;*/
/*color: #FFFFFF;*/
/*font-size: 16px;*/
/*font-weight: normal;*/
/*line-height: 32px;*/
/*margin: 0;*/
/*padding-right: 10px;*/
/*}*/
.title_category {
    background: none repeat scroll 0 0 #169EE4;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: normal;
    line-height: 79px;
    margin: 0;
    padding-right: 10px;
    text-align: center;
}
#center_column .no-border .block {
    border: 0;
}
#contentbottom .product-sellers {
    /*border: 1px solid #DEDEDE;*/
}
#contentbottom .list-new {
    border: 1px solid #DEDEDE;
}
/* BLOCK .products_block *********************************************************************** */
.products_block {
    margin-bottom: 10px;
}
.products_block li {
    float: right
}
.products_block li img {
}
.product-height {
    height: 255px;
}
.no-img-height {
    height: 140px;
}
/*Relatedproducts*/
#relatedproducts h3.title_category {
    margin: 0 0px 8px 0px;
}
.compare-btn {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #FFFFFF;
    float: left;
    height: 28px;
    margin: 5px 0 0 4px;
    padding: 0 13px 5px 0;
    width: 258px;
    line-height: 29px;
}
.compare-btn:hover {
    border-radius: 3px;
    color: #169EE4;
    background-color: #ffffff;
}
/* BLOCK customer privacy ******************************************************************* */
.account_creation label {
    float: right;
    padding-top: 5px;
    width: 8%;
    text-align: right;
    cursor: pointer
}
/* BLOCK .footer_links (cms pages) ************************************************************* */
ul.footer_links {
    list-style-type: none;
    margin-bottom: 20px
}
ul.footer_links li {
    float: right
}
ul.footer_links li.f_right {
    float: left
}
ul.footer_links li .icon {
    position: relative;
    top: -3px;
    right: 0
}

/* barre comparaison / tri ********************************************************************* */
.content_sortPagiBar {
    margin: 0px 0px 20px 0px
}
#center_column .sortPagiBar {
    margin-bottom: 20px;
    color: #666
}
#center_column .sortPagiBar strong {
    color: #000;
}
#center_column .sortPagiBar p {
    padding: 0;
}
#center_column .sortPagiBar form {
    display: inline-block;
}
.sortPagiBar select {
    width: 85px
}
#center_column form p.select {
    border-right: none;
    border-left: none;
}

.sortPagiBar #productsSortForm {
    float: right;
}
.sortPagiBar .productsCompareForm {
    float: left;
}
.sortPagiBar select#selectPrductSort {
    margin: 0 10px 0 0;
    color: #000;
    border: 1px solid #ccc;
    width: 140px;
}
#bt_compare {
    background: none repeat scroll 0 0 #169EE4;
    border: medium none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 15px;
}
.sortPagiBar label {
    display: inline
}
.sortPagiBar .nbrItemPage {
    margin-right: 90px;
    margin-top: 0
}

.sortPagiBar .PrductSort {
    float: right;
}

.sortPagiBar .nbrProduct {
    display: inline-block;
    padding: 0 10px;
}

.sortPagiBar #nb_item {
    border: 1px solid #ccc
}

/* pagination ********************************************************************************** */
form.pagination {
    display: none;
}

div.pagination {
    margin: 10px 0;
    text-align: center;
}
ul.pagination {
    list-style-type: none;
    float: right;
    margin: 12px 0
}
ul.pagination li {
    display: inline;
    margin-right: 2px
}
ul.pagination a, ul.pagination span {
    display: inline-block;
    height: 27px;
    width: 24px;
    -moz-border-radius: 3px;
    /*font-weight: bold;*/
    -webkit-border-radius: 3px;
    border-radius: 2px;
    font: 11px/24px WYekan, Tahoma, Verdana;
    color: #4C4D4E;
    background: #F4F3F2;
    border: 1px solid #e6e6e6;
    font-size: 14px
}
ul.pagination a {
    text-align: center;
    /*font-weight: bold;*/
}
ul.pagination a:hover {
    color: #169EE4;
    border: 1px solid #e6e6e6;
    border-radius: 3px 3px 3px 3px;
    background: #f4f3f2;
    /*font-weight: bold;*/
}
ul.pagination .current span {
    color: #169EE4;
    background: #F4F3F2;
    border: 1px solid #e6e6e6;
    text-align: center;
    /*font-weight: bold;*/
}
ul.pagination li.disabled span {
    color: #ccc
}
#pagination_previous a, #pagination_previous span,
#pagination_next a, #pagination_next span {
    padding: 0 8px;
    width: auto;
}
#pagination_previous span,
#pagination_next span {
    border: 1px solid #e6e6e6;
    border-radius: 3px 3px 3px 3px;
    background: #f4f3f2;
}

/* CART steps *********************************************************************** */
ul#order_step {
    background-color: white;
    margin: 0 0px 20px 0;
    width: 100%;
}
ul.step {
    height: 34px;
    list-style-type: none;
}
ul.step li {
    background: none repeat scroll 0 0 #EFEFEF;
    float: right;
    font-family: 'WYekan', Tahoma, Helvetica;
    font-weight: 300;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
}
ul.step li a, ul.step li.step_current span, ul.step li.step_current_end span {
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
ul.step li.step_current {
    color: #FFFFFF;
    background: #169EE4
}

ul.step li.step_current_end {
    /*font-weight: bold;*/
    background: #169EE4
}
ul.step li.step_current_end span {
    color: #fff
}
ul.step li.step_todo span {
    display: inline-block;
    font-size: 16px;
}
ul.step li.step_done {
    /*  font-weight: bold;*/
}
.address_update a {
    font-size: 14px;
    color: #4C4D4E;
}
ul.step li.step_done a {
    color: #169EE4
}

/* module productcomments ********************************************************************** */
.rating {
    clear: both;
    display: block;
    margin: 2em;
    cursor: pointer;
}
.rating:after {
    content: '.';
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden
}
.cancel, .star {
    overflow: hidden;
    float: right;
    margin: 0 0 0 1px;
    width: 16px;
    height: 16px;
    text-indent: -999em;
    cursor: pointer
}
.cancel, .cancel a {
    background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important
}
.star, .star a {
    background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0
}
.cancel a, .star a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0
}
div.star_on a {
    background-position: 0 -16px
}
div.star_hover a, div.star a:hover {
    background-position: 0 -32px
}
.pack_content {
    margin: 10px 0 10px 0
}
.pack_price {
    float: left;
    margin-left: 3px;
    font-size: 12px
}
.confirmation {
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid #e6db55;
    font-size: 13px;
    background: none repeat scroll 0 0 #ffffe0;
}
#page .rte {
    background: transparent none repeat scroll 0 0;
}

.listcomment {
    list-style-type: none;
    margin: 0 0 !important 0 20 px;
}
.listcomment li {
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    color: #666
}
.listcomment .titlecomment {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #333
}
.listcomment .txtcomment {
    display: block;
    padding: 5px 0;
    color: #333
}
.listcomment .authorcomment {
}

/* ************************************************************************************************
		HEADER
************************************************************************************************ */
.header {
    background: url('../img/menu-header-back.png') repeat-x 0 0;
    background-position: center top;
    background-repeat: repeat;
    border-bottom: medium none;
    box-shadow: 0 1px 0 0 rgba(5, 38, 57, 0.05);
    position: relative;
    z-index: 10;
    height: 40px;
}
.topbar {
    background: url("../img/topbar.png") repeat-x scroll 25px 36px rgba(0, 0, 0, 0);
    border-color: #ABABAB;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 0 0 0;
    color: #FFFFFF;
    font-size: 12px;
}
.top-bar:after {
    background-color: rgba(131, 137, 146, 0.25);
}
#header .topbar .container {
    position: relative;
}
.topbar .item-top a:hover {
    color: #fff;
}
#header > div {
    background: url(../img/bg_header_div.png) repeat-y;
    min-height: 133px;
}
#header_right {
    float: right;
    position: relative;
}
#header_logo {
    display: table-cell;
    vertical-align: middle;
    float: left;
}
#languages_block_top .item-data ul {
    background: #679712;
    padding: 2px 5px 2px 5px;
    border-radius: 0 0 0 5px;

}
#languages_block_top #first-languages img {
    max-width: 16px;
}
#languages_block_top .item-data ul li {
    padding: 2px 4px 2px 4px;
    opacity: 0.5;
    line-height: 16px;
}
#languages_block_top .item-top {
    padding: 0 10px 0px 10px
}
#languages_block_top .item-data ul li:hover {
    opacity: 1
}
/**Search**/
#search_query_top {
    /*height:23px;*/
}
/* ************************************************************************************************
		SLIDESHOW
************************************************************************************************ */
#slideshow {
    padding: 0 0px 5px 0px;
    padding-top: 20px;
    background: url(../img/bg_slideshow.jpg) repeat-x top center #fff;
}
/* ************************************************************************************************
		PROMOTE TOP
************************************************************************************************ */
#promotetop {
    background: #e1e1e1;
    padding: 12px 0
}
/* ************************************************************************************************
		BREADCRUMB
************************************************************************************************ */
.breadcrumb {
    margin: 11px 0 11px 0px;
    font-size: 12px;
    padding: 0;
    background: none;
}
.breadcrumb .navigation-pipe {
    color: #4C4D4E !important;
    float: right;
    margin: 0 4px;
}
.breadcrumb img {
    position: relative;
    top: 5px
}
.leo-breadscrumb {
    background-color: #F4F4F4;
}
.breadcrumb > li {
    /*font-weight: bold;*/
    color: #169EE4;
    font-size: 13px
}
.breadcrumb > li a {
    color: #4C4D4E;
    float: right;
    font-size: 14px;
    font-weight: normal;
}
.breadcrumb > li > .divider {
    color: #4C4D4E !important;
}
.breadcrumb > .active {
    color: #169EE4
}
/*********************************************************************************************
		CENTER
************************************************************************************************/
.wrapper {
    background: url("../img/bg_loftabsnews.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 1px;
    padding: 10px 12px;
}
.wrapper-newproducts {
    padding: 12px;
}
.product-container .lnk_more {
    display: none;
}
.product_block .price_container {
    height: 15px;
    text-align: center;
}
.product_block .exclusive {
    background: none repeat scroll 0 0 #A6A7A4;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    height: 20px;
    margin: 15px auto 5px;
    padding: 5px 30px 5px 10px;
    width: 8.4em;
    display: none;
}
.product_block .price {
    display: block;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 12px;
    color: #db4a38;
    display: inline
}

#center_column .block {
    /*background: url("../img/bg_loftabsnews.png") repeat scroll 0 0 transparent;*/
    border: 1px solid #dedede;
    position: relative;

}
#columns .block_content {
    padding: 12px 12px 12px 12px;
}
#contentbottom .block .title_block {
    background-image: url("../img/bg-tittlenew-sellers.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 14px;
    height: 20px;
    line-height: 13px;
    margin: 0 auto;
    padding: 12px 11px 12px 0;
    width: 140px;
}
.gray .title_block A {
    color: #FFF;
}
#right_column .block_content {
    border: 1px solid #dedede;
    background: #fff;
}
#right_column .block .title_block {
    background: url("../img/icon-navright.png") no-repeat scroll 253px center #F9F9F9;
    border-color: #DEDEDE;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    line-height: 20px;
    padding: 10px 30px 10px 11px;
}
#right_column .block li a {
    color: #4c4d4e;
    font-size: 12px;
    font-weight: normal
}
    }
#contentbottom .title_block,
#contentbottom .title_block a,
#contentbottom .title_block span {

    color: #fff;
    font-weight: bold;
}
    }
/* ************************************************************************************************
		BOTTOM
************************************************************************************************ */
#bottom {
    background: #e7e7e7;
    padding: 12px 0
}

/* ************************************************************************************************
		FOOTER
************************************************************************************************ */
#footer {
    color: #777879;
}
.blockcategories_footer,
#footer .myaccount,
#block_various_links_footer,
#social_block,
#block_contact_infos {
    float: right;
}
.blockcategories_footer {
    margin-right: 0
}
#footer .title_block,
#footer .title_block a {
    font-weight: normal;
    color: #fff;
    margin-top: 5px
}
#footer #footer-bottom {
    background: #3B3B3B;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
#footer .copyright p {
    font-size: 11px;
    color: #fff;
    margin: 0px;
    line-height: 20px;
    padding: 0;
}
#footer ul {
    list-style-type: none
}
#footer-bottom, #footer-bottom .copyright, #footer-bottom a {
    color: #fff;
}
#footer-bottom .copyright a, #footer-bottom a:hover {
    color: #169EE4
}
.footnav li {
    display: inline-block;
    color: #FFF;
    margin-right: 10px;
}
.footnav .block, .footnav .block .block_content {
    padding: 0;
    margin: 0;
    background: none
}
.footnav .title_block {
    display: none
}

/* ****************PRODUCT PAGE************************************************************* */
.carousel {
    margin-bottom: 8px
}
/* BLOCK idTabs ******************************************************************************** */

.idTabs {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
}
ul.idTabs li {
    float: right;
    margin-left: 0px
}
.idTabs a {
    display: block;
    padding: 10px 10px 7px 10px;
    font-weight: bold;
    text-decoration: none;
    color: #646566;
}
.idTabs .selected {
    color: #fff;
    background: #169EE4
}
.idTabs .selected:hover {
    color: #fff;
    background: #169EE4
}
#more_info_sheets {
    color: #646566;
    padding: 10px 20px;
}
#more_info_sheets h1 {
    color: #585859
}
#more_info_sheets p {
    color: #646566;
    font-size: 13px;
    line-height: 1.8;
    text-align: justify;
    width: 90%;
}
#more_info_sheets ul,
#more_info_sheets ol,
#more_info_sheets dl {
    margin-right: 0px;
    list-style-type: none
}
#more_info_sheets em {
    font-style: italic
}
#more_info_block .rte {
    margin-top: 0;
}
#more_info_sheets .product_desc {
    margin-top: 5px;
    color: #4C4D4E
}

#more_info_sheets .product_desc .product_image {
    float: right
}
#more_info_sheets .product_desc .block_description {
    float: right;
    margin-right: 10px;
    width: 420px
}
#more_info_sheets .product_desc .clear_product_desc {
    clear: both;
    height: 0px;
    line-height: 0px
}
/* Make sure lists are correctly displayed in tinyMCE BO edition mode too */
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {
    margin-right: 0px
}

.block_hidden_only_for_screen {
    display: none
}

/* ************************************************************************************************
		PAGE AUTHENTIFICATION
************************************************************************************************ * /
#authentication #left_column {display:none}
#authentication #center_column{width:757px}


/* ************************************************************************************************
		PAIMENT - PAGE ORDER
************************************************************************************************ */

/* nav bottom ********************************************************************************** */
/*
#order #left_column , #order-confirmation #left_column {display:none}
#order #center_column, #order-confirmation #center_column{width:757px}
*/
.cart_navigation {
    margin: 20px 0
}
.cart_navigation .exclusive,
.cart_navigation .exclusive_large {
    float: left
}
.cart_navigation .exclusive:hover,
.cart_navigation .exclusive_large:hover {
    color: #fff
}
.cart_navigation .button,
.cart_navigation .button_large {
    background: #169EE4
}
.cart_navigation .button,
.cart_navigation .button_large:hover {
    color: #fff
}
/* step 1 - cart ******************************************************************************* */
.cart_last_product {
    display: none
}

/*p.cart_navigation .multishipping-button { margin-left:10px }*/

#order-detail-content {
    margin: 10px 0px 20px 0px
}

table#cart_summary th {
    padding: 8px 3px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background: #169EE4
}
table#cart_summary th.cart_product {
    text-align: center
}
table#cart_summary td {
    padding: 10px 6px;
    border-left: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    font-size: 14px;
    vertical-align: top
}
table#cart_summary td.cart_delete,
table#cart_summary td.price_discount_del {
    border-left: none;
    text-align: center
}
table#cart_summary .last_item td {
    border-bottom: 1px solid #999
}

table#cart_summary tr.cart_item.odd,
table#cart_summary tr.cart_total_delivery,
table#cart_summary tr.cart_total_price,
table#cart_summary tr.cart_total_voucher {
    background-color: #fff
}
table#cart_summary tr.cart_item.even {
    background-color: #f3f3f3
}

table#cart_summary tr.customization.odd {
    background-color: #fff
}
table#cart_summary tr.customization.even {
    background-color: #f3f3f3
}

table#cart_summary tr ul {
    list-style: none;
}
table#cart_summary .cart_product {
    width: 15%;
    text-align: center
}
table#cart_summary tbody tr:last-child td {
    border-bottom: 1px solid #999;
}
table#cart_summary .cart_product img {
    border: 1px solid #ccc
}
table#cart_summary .cart_description {

}
table#cart_summary .cart_unit {
    text-align: center
}
table#cart_summary td.cart_unit {
    text-align: left
}
table#cart_summary .cart_quantity {
    width: 55px
}
table#cart_summary .customization .cart_quantity {
    padding: 8px 12px 0;
}
.cart_quantity .cart_quantity_input {
    float: right;
    height: 22px;
    margin-right: 5px;
    margin-top: -3px;
    width: 23px;
}
.cart_quantity .cart_quantity_button {
    float: right;
    position: relative;
    top: -5px
}
table#cart_summary .cart_total {
    width: 20%;
    text-align: center
}
table#cart_summary td.cart_total {
    text-align: left
}
table#cart_summary .cart_delete {
    width: 50px;
    text-align: center
}
table#cart_summary .cart_discount_price {
    text-align: left
}

#customer_cart_total td.price {
    border-right: 1px solid #CCCCCC;
    font-size: 14px;
    width: 40%;
}
.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
    background: none repeat scroll 0 0 #808080;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 4px;
}

.cart_total_price .total_price_container {
    border-left: none;
}

table#cart_summary .cart_total_price td.cart_voucher {
    border-bottom: 1px solid #999;
    vertical-align: middle
}

table#cart_summary #total_price_container {
    border-bottom: 1px solid #999;
}

.cart_voucher .title_block, .cart_voucher h4
.cart_voucher p {
    float: right;
}
.cart_voucher .title_block, .cart_voucher h4 {
    margin-left: 12px;
    padding: 5px 0;
    font-size: 13px
}
.cart_voucher p {
    padding-bottom: 0;
}
.cart_voucher #display_cart_vouchers {
    clear: both;
    line-height: 16px;
    color: #666;
    font-weight: normal;
    border-top: 1px dotted #ccc
}
.cart_voucher #display_cart_vouchers .title_offers {
    margin-top: 10px
}
.cart_voucher #display_cart_vouchers span {
    font-weight: bold
}
.cart_voucher input.discount_name {

    width: 170px; /* 180 */
    border: 1px solid #ccc;
    font-weight: normal;
    background: url(../img/bg_discount_name.png) repeat-x 0 0 #fff
}
.cart_voucher .submit input.button {
    margin-right: 2px;
    border: 1px solid #000;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 #333;
    background: url(../img/bg_cart_voucher_submit.png) repeat-x 0 0 #000
}

#cart_summary .price {
    border-left: none;
    text-align: left;
    white-space: nowrap;
}
.total_price_container p {
    text-align: right
}

table#cart_summary .cart_total_price .total_price_container {
    padding: 0;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
.cart_total_price .total_price_container p {
    display: block;
    padding: 8px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #169EE4
}
.cart_total_price .total_price_container span {
    display: block;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #000
}

#order_carrier {
    clear: both;
    margin-top: 20px;
    border: 1px solid #999;
    background: #fff
}
#order_carrier .title_block {
    padding: 0 15px;
    height: 29px;
    font-weight: bold;
    line-height: 29px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background: url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#order_carrier span {
    display: block;
    padding: 15px;
    font-weight: bold
}
.order_delivery .first_item {
}
.multishipping_close_container {
    text-align: center;
}

table#cart_summary .gift-icon {
    color: white;
    background: #0088CC;
    line-height: 20px;
    padding: 2px 5px;
    border-radius: 5px;
}

/* step 2 - authentification ******************************************************************* */
#create-account_form, #authentication #login_form {
    clear: none;
    float: right;
    margin-top: 0 !important;
}
#authentication #create-account_form fieldset,
#authentication #login_form fieldset {
    background: #fff
}

#authentication #create-account_form .form_content,
#authentication #login_form .form_content {
    padding: 5px 12px 12px;
}
#create-account_form .title_block {
    background-color: #169EE4;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 22px;
    padding: 10px;
}
#login_form .title_block {
    background-color: #169EE4;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 22px;
    padding: 10px;
}

#create-account_form label,
#login_form label {
    display: inline-block;
    width: 110px;
    color: #666
}

#order-opc #login_form_content label {
    display: block;
    margin: 0 0 10px 0
}

#create-account_form #email_create,
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {

    width: 220px; /* 230 */
    border: 1px solid #ccc;
    color: #666;
    background: url(../img/bg_discount_name.png) repeat-x 0 0 #fff margin : 0;
    width: 220px;

}

#create-account_form #SubmitCreate,
#login_form #SubmitLogin {
    float: left;
}
#login_form {
    margin: 10px 20px 20px 0 !important;
}
.lost_password {
    float: right;
    width: 200px
}
.lost_password a {
    color: #666
}

#order-opc .lost_password {
    display: block;
    float: none;
    margin: 5px 0 10px;
    width: auto;
    font-size: 11px;
    color: #666
}

#ordermsg p {
    padding-bottom: 0
}
#ordermsg p.txt {
    float: right;
    margin: 0px 0px 10px 25px;
    /*width: 220px*/
}
/*#ordermsg .textarea {float:left}*/
#ordermsg .textarea textarea {
    height: 90px;
    width: 96%;
    border: 1px solid #ccc
}

/* step 3 - address ************************************************************************** */

.address-form-multishipping {
    padding: 10px 0px;
}
#multishipping_mode_box {
    border: 1px solid #D0D3D8;
    background: url("../img/form_bg.jpg") repeat-x scroll right top #D0D1D5;
    margin-bottom: 10px;
    padding: 5px;
}
#multishipping_mode_checkbox {
    vertical-align: middle;
    margin-left: 5px;
}
#multishipping_mode_box.on {
    border: 1px solid #ddd;
}
#multishipping_mode_box .title {
    padding: 5px;
    font-weight: bold;
}
#multishipping_mode_box .description, #multishipping_mode_box .description_off {
    padding: 5px;
}
#multishipping_mode_box .description_off {
    display: none;
    padding: 5px;
}
#multishipping_mode_box .description_off div {
    margin-bottom: 10px;
}
#multishipping_mode_box .description_off a, #multishipping_mode_box .description a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 160px;
    border: 1px solid #ccc;
    background: #ddd;
}
#multishipping_mode_box .description_off a:hover, #multishipping_mode_box .description a:hover {
    background: #f3f3f3;
    border: 1px solid #ccc;
}
#multishipping_mode_box.on .description_off {
    display: block;
}

/* step 4 - paiement ************************************************************************** */

.delivery_options {
    border: 1px solid #BDC2C9;
    border-top: 0;
}

#order .delivery_option_radio, #order-opc .delivery_option_radio {
    float: right;
    margin: 21px 12px;
}
#order .delivery_option label, #order-opc .delivery_option label {
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
}
#order .delivery_option label > table.resume, #order-opc .delivery_option label > table.resume {
    height: 46px;
    width: 685px;
}
#order .delivery_option.item, #order-opc .delivery_option.item {
}
#order .delivery_option.alternate_item, #order-opc .delivery_option.alternate_item {
    border-top: 1px solid #bdc2c9;
    background: #f1f2f4;
    border-bottom: 1px solid #bdc2c9;
}
#order .delivery_option label > table.resume td, #order-opc .delivery_option label > table.resume td {
    padding: 0 8px;
}
#order .delivery_option label > table.resume td + td, #order-opc .delivery_option label > table.resume td + td {
    width: 300px;
}
#order .delivery_option label > table.resume td + td + td, #order-opc .delivery_option label > table.resume td + td + td {
    width: 100px;
    text-align: left;
}
#order .delivery_option_carrier td {
    width: 200px
}
#order .delivery_option_carrier td + td {
    width: 280px;
}
#order .delivery_option_carrier td + td + td {
    width: 200px
}
#order .delivery_options_address .delivery_option_logo, #order .delivery_option_carrier .delivery_option_logo, #order-opc .delivery_options_address .delivery_option_logo {
    padding-right: 10px;
    width: 160px;
}
#order .delivery_options_address .delivery_option_logo img, #order-opc .delivery_options_address .delivery_option_logo img {
    /*height:40px;*/
}
#order .delivery_option_carrier .first_item, #order-opc .delivery_option_carrier .first_item {
    padding: 3px 12px 3px 5px;
    background: url(../img/arrow_right_2.png) no-repeat 3px 7px
}

.order_carrier_content {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #4C4D4E;
    background: url("../img/bg_loftabsnews.png") repeat scroll
}
.order_carrier_content h3.carrier_title {
    padding-top: 0;
    font-weight: normal;
}
.order_carrier_content input {
    position: relative;
    top: 1px
}
.order_carrier_content h3 {
    margin-bottom: 0;
}
#carrierTable {
    border: 1px solid #999;
    border-bottom: none;
    background: #fff
}

#carrierTable tbody {
    border-bottom: 1px solid #999;
}
#carrierTable th {
    padding: 0 15px;
    height: 29px;
    font-weight: bold;
    line-height: 29px;
    color: #fff;
    text-transform: uppercase;
    background: url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#carrierTable td {
    padding: 15px;
    font-weight: bold;
    border-left: 1px solid #e9e9e9
}
#carrierTable td.carrier_price {
    border: none
}

#gift_div {
    display: none;
    padding-bottom: 10px
}
#gift_div label {
    display: block;
    margin-bottom: 5px
}
#gift_div #gift_message {
    height: 50px;
    width: 720px;
    border: 1px solid #999
}

a.iframe {
    font-weight: bold
}

.hook_extracarrier {
    margin-top: 5px;
    padding: 5px;
}

/* step 5 - paiement ************************************************************************** */
.paiement_block {
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #000;
    background: #f8f8f8
}

.payment_module {
    position: relative;
    padding-top: 20px;
    border-top: 1px dotted #ccc;
    text-transform: uppercase;
}
.payment_module a {
    display: block;
}
.payment_module img {
    float: right !important;
    margin-left: 10px
}
/*.payment_module span {
	position:absolute;
	top:50px;
	right:145px
}*/

.payment_module:before,
.payment_module:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden
}
.payment_module:after {
    clear: both
}
.payment_module {
    zoom: 1
}

/* ************************************************************************************************
		PAGE ORDER-OPC
************************************************************************************************ * /
#order-opc #left_column {display:none}
#order-opc #center_column{width:757px}
/***/

#order-opc h2 {
}
#order-opc h2 span {
    display: inline-block;
    padding: 5px 7px;
    color: #fff;
    background: #333;
}

#order-opc #login_form fieldset {
    border: none;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 10px;
}
#order-opc #login_form fieldset p {
    padding: 0
}
#order-opc #login_form fieldset p a {
    padding: 0
}

#order-opc #new_account_form p.submit {
    margin-left: 120px;
    text-align: left
}
#order-opc #new_account_form p.opc-required {
    margin-right: 20px
}

#order-opc .addresses {
    margin-bottom: 20px
}

#order-opc #opc_delivery_methods h3 {
    margin-top: 20px;
}
#order-opc #opc_delivery_methods textarea {
    height: 60px;
    width: 80%;
    border: 1px solid #ccc
}

#order-opc #opc_payment_methods {
    margin-bottom: 20px
}
#order-opc #opc_payment_methods #opc_payment_methods-content p {
    margin: 0
}

.delivery_option_carrier td {
    width: 200px
}
.delivery_option_carrier td + td {
    width: 280px;
}
.delivery_option_carrier td + td + td {
    width: 200px
}
.delivery_option_carrier {
    margin: 5px 45px 0 0;
    width: 670px;
    display: none;
}
.delivery_option_carrier tr td {
    padding: 5px;
}
.delivery_option_carrier.selected {
    display: table;
}
.delivery_option_carrier.not-displayable {
    display: none;
}
.delivery_option_title {
    font-weight: bold;
}

/* ************************************************************************************************
	express checkout
************************************************************************************************ */
#new_account_form {
    clear: both;
    margin-bottom: 20px
}
#new_account_form h3 {
    margin-bottom: 20px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background: url(../img/bg_form_h3.png) repeat-x 0 0 #989898
}
#center_column #new_account_form p {
    margin: 0;
    padding: 0 0 10px 0
}
#new_account_form p.required {
    color: #222
}
#new_account_form p.required sup {
    color: #990000
}
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
    display: inline-block;
    padding: 6px 15px;
    width: 230px;
    font-size: 14px;
    text-align: left
}
#new_account_form p.radio label {
    float: none;
    padding-left: 10px;
    width: auto;
    font-size: 14px;
}
#new_account_form p.checkbox label {
    float: none;
    width: auto;
    font-size: 12px;
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
    height: 22px;
    padding: 0 5px;
    width: 360px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666
}
#new_account_form p.checkbox input {
    margin-right: 260px;
}

#new_account_form #submitGuestAccount {
    float: left
}

/* ************************************************************************************************ */

/* ************************************************************************************************
		paiment - CONFIRMATION
************************************************************************************************ * /
#orderconfirmation #left_column {display:none}
#orderconfirmation #center_column{width:757px}
/****/

/* ************************************************************************************************
		PAGE PASSWORD
************************************************************************************************ */
#form_forgotpassword fieldset {
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #eee
}
#form_forgotpassword p.text label {
    display: inline-block;
    padding-left: 10px;
    width: 174px;
    font-weight: bold;
    font-size: 12px;
    text-align: left
}
#form_forgotpassword p.text input {
    padding: 0 5px;
    height: 20px;
    width: 288px;
    border: 1px solid #ccc;
    background: url(../img/bg_input.png) repeat-x 0 0 #fff
}
#form_forgotpassword p.submit {
    margin-left: 25px;
    padding-bottom: 5px;
    text-align: left
}

#password .icon {
    position: relative;
    top: 6px;
}

/* ************************************************************************************************
		PAGE ADRESSES
************************************************************************************************ * /
#addresses #left_column {display:none}
#addresses #center_column{width:757px}
/**/
#address p.inline-infos {
    margin: 0 0 !important 100 px 0;
    font-size: 12px;
    color: #666;
}

/* ************************************************************************************************
		PAGE ADD ADRESS
************************************************************************************************ * /
#address #left_column {display:none}
#address #center_column{width:757px}
/**/
form#add_address {
}
#add_address fieldset {
    margin: 0;
    border: 1px solid #ccc;
    background: #F8F8F8;
    padding: 12px
}

#center_column #add_address p {
    margin: 0;
    padding: 0 0 10px 0
}
#add_address p.required {
    color: #222
}
#add_address p.required sup {
    color: #990000
}

#add_address p.text label,
#add_address p.password label,
#add_address p.select label,
#add_address p.select span,
#add_address p.textarea label {
    display: inline-block;
    padding: 6px 15px;
    width: 230px; /* 260 */
    font-size: 14px;
    text-align: left
}
#add_address p.text input,
#add_address p.password input,
#add_address p.select input {
    padding: 0 5px;
    height: 22px;
    width: 360px; /* 370 */
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666
}
#add_address p.checkbox input {
    margin-right: 260px;
}
#add_address p.select select {
    margin-left: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666
}
#add_address p.textarea label {
    vertical-align: top
}
#add_address p.textarea textarea {
    height: 80px;
    width: 370px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666
}
#center_column #add_address p.submit2 {
    margin-top: 20px;
    text-align: left
}

#add_address span.form_info,
#add_address span.inline-infos {
    display: block;
    margin: 5px 265px 0 0;
    color: #666
}

/* ************************************************************************************************
		PAGE ORDER-SPLIP
************************************************************************************************ * /
#order-slip #left_column {display:none}
#order-slip #center_column{width:757px}
/**/
#order-slip #order-list {
    border-bottom: 1px solid #999
}
#order-slip #order-list td {
    border-top: 1px solid #ccc;
    border-bottom: none
}
#order-slip #order-list td.history_invoice {
    border-left: none
}

/* ************************************************************************************************
		PAGE DISCOUNT
************************************************************************************************ * /
#discount #left_column {display:none}
#discount #center_column{width:757px}
/**/
#discount .table_block tr.last_item td {
    border-bottom: 1px solid #999
}
#discount .table_block td.discount_expiration_date {
    border-left: 1px solid #999
}
#discount .table_block td.discount_value {
    white-space: nowrap
}

/* ************************************************************************************************
		PAGE ORDER FOLLOW
************************************************************************************************ * /
#order-follow #left_column {display:none}
#order-follow #center_column{width:757px}
/**/

/* ************************************************************************************************
		PAGE NEW-PRODUCTS
************************************************************************************************ */
#newproducts .sortPagiBar {
    margin-bottom: 20px
}

/* ************************************************************************************************
		PAGE BEST SALES
************************************************************************************************ */
#bestsales .sortPagiBar {
    margin-bottom: 20px
}

/* ************************************************************************************************
		PAGE PRICES DROP SALES
************************************************************************************************ */
#pricesdrop .sortPagiBar {
    margin-bottom: 20px
}

/* ************************************************************************************************
		PAGE MANUFACTURER
************************************************************************************************ */
#manufacturer .nbrmanufacturer {
    margin: 15px 0 10px;
    padding: 8px 7px;
    font-size: 12px;
    color: #000;
    background: none repeat scroll 0 0 #f0f0f0
}

#manufacturer #product_list {
    margin-top: 15px;
}

ul#manufacturers_list {
    list-style-type: none;
    background: url("../img/bg_loftabsnews.png") repeat scroll 0 0 transparent;
    border: 1px solid #DEDEDE
}
ul#manufacturers_list li {
    margin-bottom: 14px;
    padding: 12px 8px;
    border: 1px solid #eee;
    background: #fff;
    margin: 12px;

}

ul#manufacturers_list li a.lnk_img {
    display: block;
    float: right;
    margin-left: 5px;

}
ul#manufacturers_list li img {
    display: block;
    float: right;
    margin-left: 14px;
    border: 1px solid #ccc;
    vertical-align: bottom
}
ul#manufacturers_list li .description {
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    color: #666
}
#manufacturers_list .description a {
    display: block
}
ul#manufacturers_list li .right_side {
    float: left;
}

.description_box {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #E2E2E2;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
    background: #fff;
}
.description_box p {
    margin: 0;
    padding: 0 10px 5px;
}
.description_box .hide_desc {
    display: none;
}
.description_box .lnk_more {
    background: url("../img/arrow_right_1.png") no-repeat scroll 100% 4px transparent;
    color: #0088CC;
    padding: 0 10px;
}
.description_box ul {
    padding-right: 30px;
    padding-bottom: 10px;
}

/* ************************************************************************************************
		PAGE SUPPLIER
************************************************************************************************ */
#supplier .nbrmanufacturer {
    margin: 15px 0 10px;
    padding: 8px 7px;
    font-size: 12px;
    color: #000;
    background: none repeat scroll 0 0 #f0f0f0
}
ul#suppliers_list {
    list-style-type: none
}
ul#suppliers_list li {
    margin-bottom: 14px;
    padding: 12px 8px;
    border: 1px solid #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
ul#suppliers_list li a.lnk_img {
    display: block;
    float: right;
}
ul#suppliers_list li img {
    display: block;
    float: right;
    margin-left: 14px;
    border: 1px solid #ccc;
    vertical-align: bottom
}
ul#suppliers_list li h3 {
    padding: 0 0 10px;
    font-size: 13px;
    color: #000
}
ul#suppliers_list li .description {
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    color: #666
}
ul#suppliers_list li .right_side {
    float: left;
}

/* ************************************************************************************************
		PAGE SEARCH
************************************************************************************************ */
#search h3.nbresult {
    margin: 0 0 10px 0;
    padding: 5px 10px 5px 10px;
    border: 1px solid #e6db55;
    font-size: 13px;
    background: #fff
}
#search .sortPagiBar {
    margin-bottom: 20px
}

/* ************************************************************************************************
		PAGE 404
************************************************************************************************ */
#pagenotfound #left_column,
#pagenotfound #right_column,
#pagenotfound #footer {
    display: none
}

#pagenotfound #left_column,
#pagenotfound #right_column,
#pagenotfound #footer {
    display: none
}

#pagenotfound #center_column {
}

#pagenotfound .pagenotfound {
    padding: 30px 0 0 300px;
    height: 330px;
    font-size: 14px;
    background: url(../img/bg_404.png) no-repeat 100% 0
}
#pagenotfound h3 {
    font-weight: normal;
    font-size: 14px
}
#pagenotfound fieldset {
    border: none
}
#pagenotfound fieldset label {
    color: #333
}
#pagenotfound #search_query {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    border-left: 1px solid #fff !important;
    border-top: 1px solid #666;
    padding: 0 5px;
    height: 24px;
    width: 200px;
    color: #ccc;
    background: url(../../../modules/blocksearch/img/bg_search_input.png) repeat-x scroll 0 0 #fff
}
#pagenotfound .button_small {
    padding: 4px 7px;
    border: medium none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    background: url("../../../modules/blocksearch/img/bg_search_submit.png") repeat-x scroll 0 0 #101010
}
#pagenotfound .pagenotfound a {
    font-weight: bold;
    color: #333
}
#pagenotfound .pagenotfound .icon {
    position: relative;
    top: 3px
}

/* ************************************************************************************************
		addons payment cheque
************************************************************************************************ * /
#module-cheque-payment #left_column {display:none}
#module-cheque-payment #center_column{width:757px}
/**/

/* ************************************************************************************************
		addons payment bankwire
************************************************************************************************ * /
#module-bankwire-payment #left_column {display:none}
#module-bankwire-payment #center_column{width:757px}


/* ************************************************************************************************
		addons google checkout
************************************************************************************************ * /
#module-gcheckout-payment #left_column {display:none}
#module-gcheckout-payment #center_column{width:757px}

/* ************************************************************************************************
		addons paypal
************************************************************************************************ * /
#module-payment-submit #left_column {display:none}
#module-payment-submit #center_column{width:757px}


/* ************************************************************************************************
		addons cashondelivery validation
************************************************************************************************ * /
#module-cashondelivery-validation #left_column {display:none}
#module-cashondelivery-validation #center_column{width:757px}


/* ************************************************************************************************
		addon RerversoForm
************************************************************************************************ */
#account-creation_form fieldset.reversoform {
    padding: 10px !important
}
#account-creation_form fieldset.reversoform .text label {
    display: block;
    padding: 0 0 10px 0;
    width: 100%;
    text-align: right;
}
#account-creation_form fieldset.reversoform .infos-sup {
    padding: 0 !important;
    font-size: 10px;
    font-style: italic;
    text-align: left
}
/* ************************************************************************************************
		addon customer privacy
************************************************************************************************ */
#account-creation_form fieldset.customerprivacy label {
    padding-bottom: 0;
    font-size: 14px;
    text-align: right;
    cursor: pointer
}

/* ************************************************************************************************
		addon referralprogram
************************************************************************************************ * /
#module-referralprogram-referralprogram-program #left_column {display:none}
#module-referralprogram-referralprogram-program #center_column{width:757px}
/**/
#footer .myaccount li.referralprogram img {
    display: none
}

#module-referralprogram-referralprogram-program .sheets {
    padding-top: 10px
}

#module-referralprogram-referralprogram-program form p.checkbox {
    font-weight: bold
}
#module-referralprogram-referralprogram-program form p.checkbox a {
    text-decoration: underline
}
#module-referralprogram-referralprogram-program form p.submit {
    text-align: left
}
#module-referralprogram-referralprogram-program form p.see_email {
    padding-right: 10px;
    color: #0088cc;
    background: url(../img/arrow_right_1.png) no-repeat 0 4px;
}
#module-referralprogram-referralprogram-program form p.see_email a {
    color: #0088cc;
    text-decoration: underline
}

/* ************************************************************************************************
		addon loyalty
************************************************************************************************ * /
#module-loyalty-default #left_column {display:none}
#module-loyalty-default #center_column{width:757px}
/**/
#product p#loyalty {
    color: #008000;
    font-size: 20px;
    text-align: center;
}

#footer .myaccount li.loyalty img {
    display: none
}

/* ************************************************************************************************
		addon Livezilla
************************************************************************************************ */
#livezilla_lnk {
    margin: 10px 0;
    text-align: left
}
#livezilla_lnk a {
    display: inline-block;
    padding: 6px 8px 8px 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: bold 10px WYekan, Tahoma, Verdana;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    background: url(../img/bg_bt_compare.gif) repeat-x scroll 0 0 #000
}
#livezilla_lnk a:hover {
    text-decoration: none
}

/* ************************************************************************************************
		addons comments products
************************************************************************************************ */
form#sendComment fieldset {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee
}
form#sendComment h3 {
    font-size: 14px;
}
#new_comment_form p.text {
    margin-bottom: 0;
    padding-bottom: 0;
}
#sendComment p.text label,
#sendComment p.textarea label {
    display: block;
    margin: 12px 0 4px;
    font-weight: bold;
    font-size: 12px;
}
#sendComment p.text input {
    padding: 0 5px;
    height: 28px;
    width: 498px;
    border: 1px solid #ccc;
    background: url(../img/bg_input.png) repeat-x 0 0 #fff;
}
#sendComment p.textarea textarea {
    height: 80px;
    width: 508px;
    border: 1px solid #ccc;
}
#sendComment p.submit {
    padding: 0;
    text-align: left
}

#sendComment p.closeform {
    float: left;
    padding: 0;
    height: 12px;
    width: 12px;
    text-indent: -5000px;
    background: url(../img/icon/delete.gif) no-repeat 0 0
}

.star {
    position: relative;
    top: 2px;
    float: right;
    height: 12px;
    width: 12px;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer
}
.star, .star a {
    background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0
}
div.star_on a {
    background-position: 0 -12px
}
div.star_hover a, div.star a:hover {
    background-position: 0 -12px
}

/* ************************************************************************************************
		xxxxx
************************************************************************************************ */

/* ************************************************************************************************
		guest tracking
************************************************************************************************ */

#guest-tracking fieldset p:first-child {
    padding-top: 10px;
}
#guest-tracking fieldset p:last-child {
    padding-bottom: 10px;
}

/* ************************************************************************************************
		CSS Modules
************************************************************************************************ */

/******* IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.************/

/*************** Block ADVERTISING ***************/
.advertising_block {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 20px
}

/*************** Block CATEGORIES ***************/
#categories_block_left li {
    border-bottom: 1px dotted #ccc
}
#categories_block_left li.last {
    border: none;
}
#categories_block_left li a {
    display: block;
    padding: 0;
    color: #6E6F70;
    font-weight: bold;
}
#categories_block_left li ul li {
    border: none
}
#categories_block_left li ul li a {
    padding: 0px;
    background: none;

}
#categories_block_left li .OPEN,
#categories_block_left li .CLOSE {
    display: block;
    float: left;
    margin: 10px 10px 0;
    height: 9px;
    width: 9px;
    background: url(modules/blockcategories/img/icon/open-close.png) no-repeat 0 -9px;
    cursor: pointer
}
#categories_block_left li .CLOSE {
    background-position: 0 0
}
#categories_block_left li .OPEN {
    background-position: 0 0
}
p.block_content {
    padding: 10px;
}
/* footer */
.blockcategories_footer {
    padding: 15px 10px;
}
.blockcategories_footer ul ul {
    display: none !important
}
/*************** Block CMS ***************/
/* footer */
#footer .block_various_links {
    padding: 15px 10px;
}

/* Block CMS links */
.informations_block_left li {
    border-bottom: 1px dotted #eee
}
.informations_block_left li.last {
    border: none;
}
.informations_block_left li a {
    display: block;
    padding: 7px 22px 5px 11px;
    color: #333;
    background: url(../../../modules/blockcms/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}

tr.subitem > td:first-child + td {
    padding-right: 10px;
}
.cms-wrapper {
    margin-top: 20 PX;
}
/*************** Block CONTACTINFOS ***************/

#block_contact_infos {
    padding: 15px 10px;
}
#block_contact_infos li {
    padding: 0 !important;
    line-height: 20px;
}
#block_contact_infos li strong {
    font-weight: normal;
    font-size: 13px;
}
#block_contact_infos li pre {
    font: 11px/20px WYekan, Tahoma, Verdana;
}

/*************** Block LINK ***************/
#links_block_left .block_content li {
    border-bottom: 1px dotted #eee
}
#links_block_left .block_contentt li.last {
    border: none;
}
#links_block_left .block_content li a {
    display: block;
    padding: 7px 22px 5px 11px;
    color: #333;
    background: url(../../../modules/blocklink/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}

/*************** Block MANUFACTURER ***************/
.blockmanufacturer li {
    border-bottom: 1px dotted #ccc
}
.blockmanufacturer li.last {
    border: none;
}
.blockmanufacturer li a {
    display: block;
    padding: 7px 22px 5px 11px;
    color: #333;
    background: url(../../../modules/blockmanufacturer/img/arrow_right_2.png) no-repeat 10px 14px transparent
}

.blockmanufacturer form {
    margin-top: 10px;
}
.blockmanufacturer p {
    padding: 0;
    text-align: center
}

/*************** Block LOGO PAYMENT ***************/

.paiement_logo_block {
    width: 191px;
    text-align: center;
}
.paiement_logo_block a {
    text-decoration: none
}
.paiement_logo_block img {
    margin: 0 0.5em
}

/*************** Block RSS ***************/
#rss_block_left p {
    margin: 0;
    padding: 10px;
}

#rss_block_left li {
    border-bottom: 1px dotted #ccc
}
#rss_block_left li.last {
    border: none;
}
#rss_block_left li a {
    display: block;
    padding: 7px 22px 5px 11px;
    color: #333;
    background: url(../../../modules/blockrss/img/arrow_right_2.png) no-repeat 10px 10px transparent
}

/*************** Block SOCIAL ***************/

#social_block {
    padding: 10px 0px 10px 0px
}
#social_block ul li {
    padding: 0px;
    margin: 0px 10px 0px 0px;
    line-height: 27px;
    float: right;
    opacity: 0.8;
    font-weight: bold
}
#social_block ul li.facebook a {
    background-position: 0px 0px;
}
#social_block ul li.twitter a {
    background-position: -30px 0px;
}
#social_block ul li.rss a {
    background-position: -60px 0px;
}
#social_block ul li.skype a {
    background-position: -89px 0px;
}
ul.lof-items li.lof-module {
    padding-right: 3px
}
ul.lof-items li.lof-module #social_block li a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(modules/blocksocial/img/sprite_pict_social_block.png);
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: right;
    height: 30px;
    text-indent: 9999px;
    width: 25px;
}
#social_block .title_block {
    float: right;
    line-height: 22px;
    padding: 0;
}
#lofadvafooterfooter #lofadva-pos-1 {
    background: #3b3b3b
}
#newsletter_block_left p.title_block {
    display: none
}
.view_scroll_spacer a.hidden {
    visibility: inherit
}
#lofadva-pos-1 .lof-block-wrap {
    margin: 0px 20px 0px 0px;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul li a {
    display: inline-block;
    margin: 4px 27px 0 0;
    padding-right: 0px;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}
#lofadvafooterfooter #social_block ul {
    float: right;
    margin-right: 5px;
    padding-top: 2px
}
#lofadvafooterfooter .lof-module #social_block ul li a {
    display: block;
    text-indent: -9999px
}
#lofadvafooterfooter .lof-items .lof-module {
    float: right;
}
#lofadvafooterfooter .lof-items .lof-text strong {
    color: #4C4D4E
}
#lofadvafooterfooter .lof-items .lof-text {
    float: left;
}

.lof-text li.money {
    background: url(modules/blocksocial/img/icon-money.png) no-repeat right center;
}
.lof-text li.exchang {
    background: url(modules/blocksocial/img/icon-exchang.png) no-repeat right center;
}
.lof-text li.secured {
    background: url(modules/blocksocial/img/icon-secred.png) no-repeat right center;
}
/*************** Block STORE ***************/
.blockstore img {
    margin: 10px 0 0 0
}
.blockstore p {
    padding-bottom: 0;
    font-weight: bold;
    text-align: left
}
.blockstore p.store_image {
    padding-bottom: 10px;
    text-align: center
}

/*************** Block SUPPLIER ***************/
.blocksupplier li {
    border-bottom: 1px dotted #ccc
}
.blocksupplier li.last {
    border: none;
}
.blocksupplier li a {
    display: block;
    padding: 7px 22px 5px 11px;
    color: #333;
    background: url(../../../modules/blocksupplier/img/arrow_right_2.png) no-repeat 10px 10px transparent
}

.blocksupplier form {
    margin-top: 10px;
}
.blocksupplier p {
    padding: 0;
    text-align: center
}

/* BLOCK #reinsurance_block ******************************************************************** */
#footer #reinsurance_block li {
    float: right;
    padding: 15px 0 !important;
    font-size: 13px;
    color: #333;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff
}
#footer #reinsurance_block .width1 li {
    width: 100%
}
#footer #reinsurance_block .width2 li {
    width: 50%
}
#footer #reinsurance_block .width3 li {
    width: 33%
}
#footer #reinsurance_block .width4 li {
    width: 25%
}
#footer #reinsurance_block .width5 li {
    width: 20%
}
#footer #reinsurance_block li img {
    float: right;

}
#footer #reinsurance_block li span {
    float: right;
    padding-top: 12px;

}

/**************************************************
 PATTERN
****************************************************/
.pattern1 {
    background: url(../img/patterns/pattern1.png);
}
.pattern2 {
    background: url(../img/patterns/pattern2.png);
}
.pattern3 {
    background: url(../img/patterns/pattern3.png);
}
.pattern4 {
    background: url(../img/patterns/pattern4.png);
}
.pattern5 {
    background: url(../img/patterns/pattern5.png);
}
.pattern6 {
    background: url(../img/bg-body.png) repeat;
}
.pattern7 {
    background: url(../img/patterns/pattern7.png);
}
.pattern8 {
    background: url(../img/patterns/pattern8.png);
}
.pattern9 {
    background: url(../img/patterns/pattern9.png);
}
.pattern10 {
    background: url(../img/patterns/pattern10.png);
}
.pattern11 {
    background: url(../img/patterns/pattern11.png);
}
.pattern12 {
    background: url(../img/patterns/pattern12.png);
}
.pattern13 {
    background: url(../img/patterns/pattern13.png);
}
.pattern14 {
    background: url(../img/patterns/pattern14.png);
}
.pattern15 {
    background: url(../img/patterns/pattern15.png);
}
.pattern16 {
    background: url(../img/patterns/pattern16.png);
}

/**Sitemap-top**/
.all-nav-item {
    display: table;
    margin: 5px auto;
}
.all-nav-item .nav-item {
    background: url(../img/bg_nav-item.jpg) no-repeat 6px 9px;
}
#languages_block_top {
    cursor: pointer;
    position: relative;
}
#languages_block_top .item-data {
    position: absolute;
    top: 18px;
    right: 0;
    z-index: 1000
}
.nav-item #first-languages .item-top .first-item {
    background: url(../img/arrow.png) left 7px no-repeat;
    clear: right;
    color: #666666;
    padding: 1px 0px;
    text-align: left 0px 15px;
}

.currencies .item-top {
    background: url(../img/arrow.png) left center no-repeat;
    clear: right;
    color: #666666;
    padding: 0 10px;
    text-align: left 0px 15px;
}
/**Nav-top**/
#searchbox {
    *z-index: 50;
}
.leo-search-button {
    background: #262626 url(../img/icon-search.png) center center no-repeat;
    height: 45px;
    width: 46px;
    display: none;
}
.block-search-top .item-top {
    display: none;
}
#topnavigation {
    background: url(../img/bg_topnavigation.jpg) repeat-x;
}
/** Suffix Class **/
#center_column .nopadding .block_content {
    padding: 0
}
#center_column .gray .title_block {
    background-position: 0 0
}

/**PRODUCT**/
.product_desc a:hover {
    color: #169EE4
}
/*#leoproducttabs .nav
{
	margin-bottom:8px;
}*/
.product_block .product-container {
    padding: 5px;
}
.product_block .center_block {
    margin-bottom: 10px;
    min-height: 120px;
}
.product_block span.new {
    display: block;
    position: absolute;
    top: 13px;
    right: -19px;
    padding: 1px 4px;
    width: 79px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: url(../img/icon-new.png) no-repeat;

}
.product_block a.product_image img {
    vertical-align: bottom;
}
.product_block a.product_image {
    overflow: hidden;
    position: relative;
    display: block;
    text-align: center
}
.product_block .right_block {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #DEDEDE;
    background: #f9f9f9;
    padding: 0px 10px 0px 10px;
    min-height: 66px;
}
.view-list .product_block .right_block {
    float: right;
}
.product_block .right_block .exclusive:hover {
    background: #169EE4;
}
.product_block .right_block .exclusive:hover {
    background: #169EE4;
    color: #fff;
}
.product_block .right_block .exclusive span.icon-addcart {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../img/button_marker.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 14px;
    right: 5px;
    position: absolute;
    top: 6px;
    width: 14px;
}
.product_block a:hover {
    text-decoration: none
}
.product_block .product_desc {
    height: 35px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
}
.bottom-compare .productsCompareForm {
    float: left;
    margin-top: 10px
}

/**lof producttabs**/
.lof-module-tabsnews {
    border-style: solid solid #e1e1e1;
    border-width: 1px 1px 1px 1px;
}
.navbar .nav > li:hover {
    background: none repeat scroll 0 0 #4D4D4D;
}

.nav-tabs > li > a {
    font-size: 14px;
}
#topnavigation #searchbox input {
    float: right;
    margin-right: 5px;
}
#topnavigation #searchbox input.button {
    background: #169EE4;
}

.navbar .btn-navbar {
    float: right !important
}
#send_friend_form .submit input:hover {
    background: #169EE4;
}
#usefull_link_block #favoriteproducts_block_extra_added {
    display: none;
}
#usefull_link_block #favoriteproducts_block_extra_removed {
    display: none;
}
/*#usefull_link_block #favoriteproducts_block_extra_add {*/
    /*display: none;*/
/*}*/
.controls input#submitAddress:hover {
    background: #169EE4
}
.address_add .button_large:hover {
    background: #169EE4
}
.list-products {
    /*background: url(../img/li-bg.png) center bottom no-repeat;*/
    padding: 0px 3px 7px 3px;
    margin-bottom: 10px
}
.view-list .list-products {
    background: none
}
.product_block .product-container:hover {
    border: 1px solid #808080;
    box-shadow: 0 0 3px #808080;
}
/**Custom home**/
.box-customtop {
    background: url(../img/img-big-custom.jpg) no-repeat;
    padding: 5px 100px 0px 125px
}
.lof-custom-content h2 {
    margin: 0 0 10px 0;
    padding-top: 5px;
}
.lof-custom {
    position: relative;
    width: 100%;
    margin: 20px 0px 15px 0px
}
.top-custom {
    background: url(../img/bg_lof_custom.png) center bottom repeat-x;
    margin-top: 20px;
    padding-bottom: 8px
}
.top-custom p {
    color: #c1c1c1
}
/** Latest New **/

.customlatestnew li {
    padding-bottom: 12px;
    display: table;
}
.customlatestnew li img {
    width: 100%
}
.customlatestnew .view_more {
    padding: 0;
    clear: both
}
/*------------------------Cart-------------*/
#order-detail-content p {
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 0;
}
/*.authentication-page fieldset {*/
/*padding: 0 0 20px;*/
/*}*/
.authentication-page .s_title_block {
    height: 40px;
}
body#authentication .title_content {
    color: #4C4D4E;
    font-size: 27px;
    text-align: center;
}
.title_content {
    color: #4C4D4E
}
#mycarouselHolder {
    float: right;
}
#newsletter_block_left .block_content {
    height: 50px;
}
.navbar-form.pull-left {
    padding: 5px 55px;
}
.modal-body img#bigpic {
    float: right;
    height: 250px;
    margin-top: 0;
    width: 100%;
}
.modal-body h1 {
    color: #6495ED;
    margin: 0 0 15px;
    text-align: center;
}
.modal-body #short_description_content > p {
    text-align: justify;
    width: 90%;
    margin: auto;
}
.nav-li {
    /*float: right;*/
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: auto;
}
.nav-li-active {
    background-color: #7f7f7f;
    box-shadow: 0 13px 11px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
    text-decoration: none;
}
.main-nav-a {
    border: 1px solid rgba(0, 0, 0, 0);
   /* border-radius: 8px;*/
    color: #ffffff;
    display: block;
    height: 23px;
    padding: 6px 8px;
}
.nav-li-active a {
    border: 1px solid rgba(0, 0, 0, 0);
    color: #FFFFFF !important;
}
#searchbox input[type="submit"] {
    background: url("../img/search-advance2.png") no-repeat scroll center center / 20px auto #158AF3;
    height: 33px;
    text-indent: -9999px;
    top: 0px;
    width: 32px;
}
/*.main-nav-a:after {
    content: "";
    display: block;
    height: 6px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 9px;
}*/
#main-nav:before {
    content: "";
    display: table;
}
#main-nav:after {
    clear: both;
    content: "";
    display: table;
}
#main-nav {
    line-height: 0;
    padding: 5px 0 4px;
}
.icon-nav {
    float: right;
    height: 20px;
    line-height: 21px;
    margin-top: 2px;
    width: 20px;
}
#nav-home {
    background: url("../img/home.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#nav-mobile {
    background: url("../img/mobile.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/*.nav-li:hover #nav-mobile {*/
    /*background: url("../img/mobile2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/*}*/
#nav-tablet {
    background: url("../img/tablet.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/*.nav-li:hover #nav-tablet {
    background: url("../img/tablet2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}*/
#nav-accesoris {
    background: url("../img/accesoris.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/*.nav-li:hover #nav-accesoris {
    background: url("../img/accesoris2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}*/
#nav-search-advance {
    background: url("../img/search-advance.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/*.nav-li:hover #nav-search-advance {*/
    /*background: url("../img/search-advance2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/*}*/
#nav-star {
    background: url("../img/star.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/*.nav-li:hover #nav-star {*/
    /*background: url("../img/star2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/*}*/

.nav-label {
    float: right;
    font-size: 14px;
    padding: 1px 5px 0 0 !important;
    color: white;
}
.main-nav-a:hover {
    background-color: rgba(179, 179, 179, 0.87);
    box-shadow: 0 13px 11px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
    text-decoration: none;
}
#main-slideshow {
    overflow: hidden;
    clear: both;
    position: relative;
    z-index: 1;
    margin-top: -25px;
    cursor: pointer;
}
#phantom {
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity 0.4s ease 0s;
    width: 100%;
    z-index: 9399;
    opacity: 0;
    visibility: hidden;
}
#phantom .ph-wrap {
    background: none, linear-gradient(to top, rgba(21, 29, 40, 0.75) 0px, rgba(21, 29, 40, 0.8) 10px, rgba(21, 29, 40, 0.86) 20px, rgba(21, 29, 40, 0.9) 30px, rgba(21, 29, 40, 0.94) 40px, rgba(21, 29, 40, 0.98) 50px, rgba(21, 29, 40, 0.99) 60px, #151D28 70px);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    transition: background-color 500ms ease 0s;
}
#phantom .ph-wrap .ph-wrap-content {
    -moz-box-sizing: border-box;
    margin: 0 auto;
    padding: 5px 40px;
}
#phantom .ph-wrap.with-logo .ph-wrap-inner {
    display: table;
    position: relative;
    width: 100%;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .logo-box {
    line-height: 0;
    text-align: left;
    height: 20px;
}
#phantom .ph-wrap.with-logo .ph-wrap-inner > div {
    display: table-cell;
    vertical-align: middle;
}
.menu-box > ul {
    text-align: right;
}
.search-box .block-search-top {
    height: 0 !important;
}
.sub-nav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: relative;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    /*padding: 10px 0;*/
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 496px;
    z-index: 200;
    border-radius: 8px;
    transition: all 0.5s ease 0s;
}
.sub-nav > li {
    display: inline-block;
    /*margin-bottom: 2px;*/
    /*padding: 0;*/
    /*position: relative;*/
    /*width: 200px;*/
    /*word-spacing: normal;*/
}
.sub-nav a {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    color: rgba(55, 58, 65, 0.7);
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    transition: all 1.3s ease 0s;
    width: 94px;

    -webkit-transition: all 1.3s ease 0s;
    -moz-transition: all 1.3s ease 0s;
    -o-transition: all 1.3s ease 0s;
    -ms-transition: all 1.3s ease 0s;
    transition: all 1.3s ease 0s;
}
.brand-name {
    font-family: open-sans, sans-serif, tahoma;
}
.sub-nav li a > span {
    display: table-cell;
}
.menu-item:hover a {
    background-color: rgba(55, 58, 65, 0.07);
    color: #373A41;
    border-radius: 8px;

    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}

.promotion-box {
    /*
        background-color: #FFFFFF;
    */
    /* box-shadow: 2px 2px 5px 0 #808080;*/
    height: 350px;
}
.wonder-model-price {
    /*   background-color: #C0C0C0;
       height: 60px;
       width: 100%*/;
    line-height: 2;
}
.wonder-model {
    color: #1C3F4F;
    display: block;
    float: left;
    font-family: open-sans, tahoma;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}

.wonder-model-price a {
    text-decoration: none;
    color: #1C3F4F;
    display: block;
    float: left;
    font-family: open-sans, tahoma;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 100%;

}

.wonder-price {
    font-size: 16px;
    padding: 0;
    text-align: center;
    text-decoration: line-through;
}
.wonder-price-new {
    padding: 8px 0 0;
    text-align: center;
    color: #015FA0;
    font-size: 19px;
}
.promote {
    margin-top: 17px !important;
}
#promote-back {
    background-color: #EBE8E8;
}
.wonder-label {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
#f1_container {
    cursor: pointer;
    position: relative;
    /*margin: 30px auto;*/
    z-index: 1;
    perspective: 1000;
    -webkit-perspective: 1000; /* Safari and Chrome */
}

#f1_card {
    width: 100%;
    height: 350px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1.0s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#f1_container:hover #f1_card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    /*    -webkit-box-shadow: -5px 5px 5px #aaa;
        box-shadow: -5px 5px 5px #aaa;*/
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome and Safari */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
}

.face.back {
    color: #FFFFFF;
    display: block;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

}
.promote-device-img {
    display: block;
    margin: auto;
    position: relative;
}
.promotion-label {
    color: #808080;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    margin: -35px 0 15px;
    text-align: center;
}
/*.promotion-box > img {
    height: 100%;
}*/
.special-banner {
    /*    background: url("../img/special-banner.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    width: 75px;
}

.cell {
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#holder {
    width: 603px;
    height: 383px;
    margin: auto;
}
.digits {
    margin-top: -61px;
    position: relative;
    z-index: 2147483647;
    margin-left: 1px;
}
.cntSeparator {
    display: none;
}
.cntDigit {
    margin-top: 18px !important;
}
.cntDigit#cnt_0 {
    margin-left: 32px;
}
.cntDigit#cnt_2, .cntDigit#cnt_4, .cntDigit#cnt_6 {
    margin-left: 7px;
}
.promotion-price {
    color: slategray;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    font-family: Tahoma;
}
.promotion-back {
    box-shadow: 1px 1px 2px 0 #696969;
    display: block;
    margin: 0 auto 9px;
    padding: 5px 0;
    text-align: center;
    width: 200px;
}
.back-box {
    /* padding-top: 30px;*/
}
.full-width-separator {
    background: url("../img/back-brand.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 100%;
}
.full-width-separator div.content.pattern {
    background-image: url("../img/pattern-1.png");
}
.clients-wrapper {
    direction: ltr;
    height: 100px;
    margin: auto;
    max-width: 1100px;
    overflow: hidden;
    width: 100%;
}
.clients-wrapper ul.clients li.client {
    display: inline-block;
    height: 82px;
    margin-right: 5px;
    padding-top: 28px;
}
.clients-wrapper ul.clients li.client a:link {
    display: block;
    height: inherit;
    line-height: 192px;
    text-align: center;
    width: inherit;
}
.carousel-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0;
    width: 100%;
}
.clients-wrapper ul.clients li.client img {
    max-width: 100%;
    vertical-align: middle;
}
#bottom {
    background-color: #EBE8E8;
    box-shadow: 0 0 0 1px rgba(218, 222, 225, 0.86) inset;
}
.footer {
    background-color: #333333;
    color: #BBBBBB;
    /*height: 360px;*/
}
.foorer-box {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 35px;
}
.footer-h3 {
    color: #777777;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    padding-bottom: 2px;
}
.footer-item {
    border-bottom: 1px dotted #555555;
    display: block;
    padding: 10px 0;
}
.footer-item > a {
    color: #BBBBBB;
}
.footer-item > a:hover {
    color: #0BB697;
}
/*.footer .container {*/
    /*padding: 40px 0;*/
/*}*/
.footer-last {
    border: none;
}

.grid-icon-container #bigTriangleColor {
    bottom: -100px;
    position: absolute;
    background-color: #EBE8E8;
}
svg#bigTriangleColor {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);

}
svg#bigTriangleColorhome {
    pointer-events: none;
    background-color: #ffffff;

}
svg:not(:root) {
    overflow: hidden;
}
.grid-icon-container #bigTriangleColor path {
    fill: #ECF0F1;
    stroke: #ECF0F1;
    stroke-width: 2;
}
#bigTriangleColor path {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 2;
}
#bigTriangleColorhome path {
    fill: #EBE8E8;
    stroke: #EBE8E8;
    stroke-width: 2;
}
.border-title-main {
    border-bottom: 1px solid #F0EFEF;
    color: #35AAD8;
    margin-bottom: 22px;
    padding-bottom: 10px;
    width: 40%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;;
}
.border-title-main span {
    background: none repeat scroll 0 0 #35AAD8;
    display: block;
    height: 1px;
    margin: 28px 0 -11px;
    width: 140px;
    margin-left: auto !important;
    margin-right: auto !important;
}
#add_adress .title_block {
    background-color: #169EE4;
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    padding: 12px;
}
.wonder-off {
    text-align: center;
    padding: 7px 0 0 0;
    color: red;
    font-size: 16px;
}
.adv-div {
    display: block;
    float: none !important;
    height: 278px !important;
    margin: -287px auto !important;
    padding: 10px 10px 20px;
    position: relative;
    z-index: 10;
}
.decor-top {
    bottom: 100%;
    height: 60px;
    left: 0;
    position: absolute;
    width: 100%;
    background: none repeat scroll 0 0 #E74C3C;
    color: #FFFFFF;
}

.decor {
    display: block;
    margin: 0 auto;
    position: relative;
    fill: #EBE8E8;
    stroke: #ffffff;
    background: none repeat scroll 0 0 #ffffff;
}
svg:not {
    overflow: hidden;
}
.gif {
    position: fixed;
    right: 2%;
    top: 540px;
    z-index: 2147483647;
}

.title-top {
    text-align: center;
    background-color: rgba(42, 131, 237, .75);
    margin-bottom: 15px;
    color: #ffffff;
}
.title-top:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(42, 131, 237, .75) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 0;
    margin-left: -10px;
    position: absolute;
    width: 0;
}
.space-media {
    margin: 0 5px;
    border-bottom: solid 1px #eaeaea;
}
.media-title-top {
    padding-top: 10px;
}
.images {
    text-align: center;
}
.top-mid-back {
    background-color: rgba(35, 44, 58, 0.9);

}
.price-meter {
    background: url("../img/compare/line.png") no-repeat center bottom;
    color: #FFFFFF;
    display: block;
    font-size: 17px;
    line-height: 36px;
    cursor: pointer;
}

.price-meter a {
    text-decoration: none;
    color: #FFFFFF;
}

.offer-price {
    color: red;
    font-size: 40;
}

.offer-text {
    font-size: 28;
    line-height: 1;
    text-align: right;
}

.line-mid {
    background: url("../img/compare/line.png") no-repeat center bottom;
}
#notify-bar {
    background-color: rgba(230, 230, 230, 0.5);
    border-radius: 0 0 26px 34px;
    height: 37px;
    margin: auto;
    padding-right: 3%;
    text-align: right;
    width: 88%;
}
#notify-bar > h4 {
    float: right;
    font-size: 15px;
    font-weight: normal;
    margin: 0 !important;
    padding-top: 10px;
    width: 92%;
    text-align: center;
}
#notify-bar > span {
    background: url("../img/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    height: 24px;
    margin-right: 33px;
    margin-top: 10px;
    width: 29px;
}
.contact-phone {
    margin-bottom: 40px;
}
.contact-title {
    font-size: 19px !important;
    margin: 10px 0 !important;
    padding: 0 15px;
}
.contact-checkbox {
    width: 30px;
    float: right;
    margin-top: 2px;
    margin-left: 0 !important;
}
.register-style {
    font-size: 19px;
    height: 45px !important;
    width: 140px !important;
    float: none !important;
}

.same-next-pr {
    top: -78px !important;
}
.c-left {
    background: url("../img/prev.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    position: absolute;
    right: 545px;
    text-align: center;
    width: 32px;
    margin-top: 18px;
}
.c-right {
    background: url("../img/next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    position: absolute;
    right: 506px !important;
    text-align: center;
    width: 32px;
    margin-top: 18px;
}
#bigpic {
    margin: auto;
}

.best-name {
    width: 100% !important;
}
/* DELETE THIS SECTION AFTER KHORSHID HAS FIXED THE BUG */
/*
.price-popular {
display:none !important;
}

.price-best {
display:none !important;
}

.new-price
{
display:none !important;
}
*/
/* END DELETE */

.attribute_list #color_to_pick_list li.selected {
    border: 3px solid #000;
}
.counter-home-page {
    margin-top: -53px;
    z-index: 100000000000;
    position: relative;
}
/*.xdsoft {
    margin-top: -43px !important;
    z-index: 10000000000000;
    position: relative;
}*/
.discount-price {
    text-decoration: line-through;
    display: block;
    font-size: 18px;
    margin-top: 24px;
}
.price-wonder {
    display: block;
    font-size: 25px;
    color: red;
    margin-top: 10px;
}
.midd-nav {
    background-color: #FBFBFB;
    border-bottom: medium none;
    height: 47px;
    position: relative;
    z-index: 100000000;
    padding: 5px;
}
.responsive-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent !important;
    background-image: none !important;
}
.top-banners {
    height: 120px;
}
.banner-row {
    padding: 10px 0px;
}
.splite {
    float: right;
    height: 18px;
    margin-top: 5px;
    position: relative;
    right: 7px;
    width: 4px;
}
.logo {
    width: 90px;
}
.nav-left{
    float: left !important;
}
.footer-item:last-child {
    border: none;
}