#history #center_column h1 {
    margin-top: 20px
}
#history #center_column .title_block {
    margin: 20px 0;
    padding: 15px 20px;
    background: #ccc
}
#history #center_column .title_block input {
    position: relative;
    top: -8px;
    float: left;
    font-weight: normal;
}

.info-order {
    margin-bottom: 20px;
}
.info-order p {
    padding-bottom: 10px
}
.info-order p .icon {
    position: relative;
    top: 2px;
    left: 0
}

#order-list {
    background: none repeat scroll 0 0 #169EE4;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    padding: 14px 12px;
}
#order-list th {
    background: none repeat scroll 0 0 #4682B4;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
}
#order-list tr.alternate_item {
    background-color: #f3f3f3
}
#order-list td {
    padding: 12px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    font-size: 12px;
    vertical-align: top
}
#order-list td.history_detail {
    border-right: none;
}

#order-list .last_item td {
    border-bottom: 1px solid #999
}

.adresses_bloc {
    margin-bottom: 20px
}
.adresses_bloc .item {
   /* margin-right: 60px*/
}

.detail_step_by_step {
    width: 100%
}
.detail_step_by_step tr.last_item td {
    border-bottom: 1px solid #999
}

#order-detail-content table {
    width: 100%
}
#order-detail-content table .order_qte_input {
    display: none
}
#order-detail-content table tr.totalprice td {
    border-bottom: 1px solid #999
}
#order-detail-content table tr:nth-child(even) {
    background: #f3f3f3;
}

#sendOrderMessage {
    margin-bottom: 20px
}
#sendOrderMessage p {
    padding-bottom: 10px
}

#returnOrderMessage .textarea textarea,
#sendOrderMessage .textarea textarea {
    width: 100%;
    border: 1px solid #999
}
.first_item {
    background-color: #F3F3F3;
}
.last_item {
    background-color: #F3F3F3;
}
.item {
    background-color: #F3F3F3;
}
#history .title_category{
    color: #4682B4;
    background: none;
}