.iPhoneCheckContainer {
    cursor: pointer;
    display: inline-block;
    height: 27px;
    margin: 0 3px -8px 0;
    overflow: hidden;
    position: relative;
    width: 60px !important;
}
.iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
.iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
.iPhoneCheckContainer, .iPhoneCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iPhoneCheckDisabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

label.iPhoneCheckLabelOn {
    color: white;
    background: url('../img/iphone-style-checkboxes/on.png?1284697268') no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px; }
label.iPhoneCheckLabelOn span {
    padding-left: 8px; }
label.iPhoneCheckLabelOff {
    color: #8b8b8b;
    background: url('../img/iphone-style-checkboxes/off.png?1284697268') no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0; }
label.iPhoneCheckLabelOff span {
    padding-right: 8px; }

.iPhoneCheckHandle {
    background: url("../img/iphone-style-checkboxes/slider_left.png?1284697268") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 27px;
    padding-left: 6px;
    position: absolute;
    top: 0;
}

.iPhoneCheckHandleRight {
    background: url("../img/iphone-style-checkboxes/slider_right.png?1284697268") no-repeat scroll right 0 rgba(0, 0, 0, 0);
    height: 100%;
    padding-right: 3px;
    width: 100%;
}

.iPhoneCheckHandleCenter {
    background: url("../img/iphone-style-checkboxes/slider_center.png?1284697268") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    }

.iOSCheckContainer {
    position: relative;
    height: 27px;
    cursor: pointer;
    overflow: hidden; }
.iOSCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
.iOSCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
.iOSCheckContainer, .iOSCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iOSCheckDisabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

label.iOSCheckLabelOn {
    color: white;
    background: url('../img/ios-style-checkboxes/on.png?1284697268') no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px; }
label.iOSCheckLabelOn span {
    padding-left: 8px; }
label.iOSCheckLabelOff {
    color: #8b8b8b;
    background: url('../img/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0; }
label.iOSCheckLabelOff span {
    padding-right: 8px; }

.iOSCheckHandle {
    display: block;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url('../img/ios-style-checkboxes/slider_left.png?1284697268') no-repeat;
    padding-left: 3px; }

.iOSCheckHandleRight {
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('../img/ios-style-checkboxes/slider_right.png?1284697268') no-repeat right 0; }

.iOSCheckHandleCenter {
    height: 100%;
    width: 100%;
    background: url('../img/ios-style-checkboxes/slider_center.png?1284697268'); }
