/* ---- demos ---- */

.demo .isotope,
.demo.isotope {
    border: 2px solid #484542;
    background: hsla(0, 0%, 0%, 0.15);
}

/* horizontal examples need height */
.isotope.horizontal {
    height: 334px;
}

.demo .button {
    margin-bottom: 0.8em;
}

/* clearfix */
.isotope:before,
.isotope:after {
    content: " ";
    display: table;
}

.isotope:after {
    clear: both;
}

/* ---- item elements ---- */

.element-item {
    background: none repeat scroll 0 0 #888888;
    color: #262524;
    float: left;
    height: 250px !important;
    margin: 3px;
    position: relative;
    width: 300px;
    border: 1px solid #CFCFCF;
}

.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;

    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}

.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}

/* varying sizes */
.is-varying-sizes .element-item.width2 {
    width: 210px;
}
.is-varying-sizes .element-item.height2 {
    height: 210px;
}

/* ---- mini items ---- */

/*.item,*/
.mini-item {
    float: left;
    width: 50px;
    height: 50px;
    background: #e6e5e4;
    border: 2px solid #b6b5b4;
    border-color: hsla(0, 0%, 0%, 0.4);
}

.mini-item.w2 {
    width: 100px;
}
.mini-item.h2 {
    height: 100px;
}

.mini-item.w3 {
    width: 150px;
}
.mini-item.h3 {
    height: 150px;
}

.mini-item.gigante {
    width: 150px;
    height: 200px;
}

.clickable .mini-item:hover {
    border-color: #28F;
    background: #8CF;
    cursor: pointer;
}

/* ---- flexible 5 columns ---- */

.flex-5-col .grid-sizer,
.flex-5-col .mini-item {
    width: 20%;
}
.flex-5-col .mini-item.w2 {
    width: 40%;
}

/* ----  ---- */

.rainbowed > *:nth-child(10n+0) {
    background: hsl(0, 100%, 50%);
}
.rainbowed > *:nth-child(10n+1) {
    background: hsl(36, 100%, 50%);
}
.rainbowed > *:nth-child(10n+2) {
    background: hsl(72, 100%, 50%);
}
.rainbowed > *:nth-child(10n+3) {
    background: hsl(108, 100%, 50%);
}
.rainbowed > *:nth-child(10n+4) {
    background: hsl(144, 100%, 50%);
}
.rainbowed > *:nth-child(10n+5) {
    background: hsl(180, 100%, 50%);
}
.rainbowed > *:nth-child(10n+6) {
    background: hsl(216, 100%, 50%);
}
.rainbowed > *:nth-child(10n+7) {
    background: hsl(252, 100%, 50%);
}
.rainbowed > *:nth-child(10n+8) {
    background: hsl(288, 100%, 50%);
}
.rainbowed > *:nth-child(10n+9) {
    background: hsl(324, 100%, 50%);
}

/* ---- individual demos ---- */

#masonry-bottom-spaced .mini-item {
    margin-bottom: 10px;
}

#masonry-flex-gutter .gutter-sizer {
    width: 3%;
}

#masonry-horizontal-right-spaced .mini-item {
    margin-right: 10px;
}

/* ---- fit width ---- */

#masonry-fit-width {
    border: 2px solid white;
}

/* center container with CSS */
#masonry-fit-width .isotope {
    margin: 10px auto;
}

/* ---- counting ---- */

.isotope.counting {
    counter-reset: item;
}

.isotope.counting .mini-item:before,
.isotope.counting .item:before {
    counter-increment: item;
    content: counter(item);
    display: block;
    color: #555;
    padding-top: 0.2em;
    text-align: center;
    font-size: 18px;
}

/* ---- measurement demos ---- */

#gutter-opt-demo2 .item {
    margin-bottom: 10px;
}

/* responive column width */
#column-width-demo2 .grid-sizer {
    width: 20%;
}
#column-width-demo2 .item {
    width: 20%;
}
#column-width-demo2 .item.w2 {
    width: 40%;
}

#row-height-demo2 .grid-sizer {
    height: 60px;
}

#gutter-opt-demo3 .gutter-sizer {
    width: 3%;
}

/* ---- stamp ---- */

.has-stamp {
    position: relative;
}

.demo .stamp {
    position: absolute;
    width: 30%;
    height: 60px;
    background: orange;
    border: 4px dotted black;
}

#stamp-opt-demo .stamp1 {
    left: 30%;
    top: 10px;
    width: 20%;
    height: 100px;
}

#stamp-opt-demo .stamp2 {
    right: 10%;
    top: 20px;
    width: 70%;
    height: 30px;
}

#stamp-demo .stamp {
    right: 10%;
    top: 10px;
    width: 35%;
    height: 70px;
}

#stamp-demo .mini-item {
    opacity: 0.8;
}

/* ---- clickable ---- */

.clickable .item:hover {
    border-color: white;
    background: #A2C;
    cursor: pointer;
}

/* ---- vertical table-like ---- */

.table-like {
    list-style: none;
    margin: 0;
    padding: 0;
}

.table-like > li {
    width: 100%;
    clear: both;
    border-top: 1px solid;
    border-color: hsla(0, 0%, 100%, 0.2);
}

/* clearfix */
.table-like > li:after {
    display: block;
    content: '';
    clear: both;
}

.table-like > li > * {
    float: left;
    padding: 2px 4px;
}

.table-like .name {
    width: 30%;
}
.table-like .symbol {
    width: 10%;
}
.table-like .weight {
    width: 15%;
}
.table-like .number {
    width: 10%;
}
.table-like .category {
    width: 20%;
}

/* ----  ---- */

#fit-columns-feature-demo {
    height: 448px;
}

/* ---- insert-demo ---- */

#insert-demo .mini-item .number {
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #777;
    text-align: center;
    line-height: 50px;
}

/* ---- animate-item-size ---- */

/* item is invisible, but used for layout */
.isotope.animate-item-size-demo .item,
.isotope.animate-item-size-demo .item-content {
    width: 60px;
    height: 60px;
}

.isotope.animate-item-size-demo .item {
    border: none;
    background: transparent;
}

/* item-content is visible, and transitions size */
.animate-item-size-demo .item-content {
    width: 60px;
    height: 60px;
    background: #8DF;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    -webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    -o-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
}

.animate-item-size-demo .item:hover .item-content {
    border-color: white;
    background: #4BF;
}

/* both item and item content change size */
.animate-item-size-demo .item.is-expanded,
.animate-item-size-demo .item.is-expanded .item-content {
    width: 180px;
    height: 120px;
}

.animate-item-size-demo .item.is-expanded {
    z-index: 2;
}

.animate-item-size-demo .item.is-expanded .item-content {
    background: #F90;
}

/* ---- animate item size responsive ---- */

#animate-item-size-responsive .item,
#animate-item-size-responsive .grid-sizer {
    width: 20%;
}

#animate-item-size-responsive .item-content {
    width: 100%;
    height: 100%;
}

/* item has expanded size */
#animate-item-size-responsive .item.is-expanded {
    width: 60%;
}
.button-group {
    text-align: center;
}
.line {
    position: absolute;
    width: 100%;
    height: 18px;
    border-bottom: solid thin #3dbbed;
}
.btn {
    position: relative;
    width: 100%;
    /*height: 46px;*/
    z-index: 100;
}
/* CSS3 STYLE GENERIC */
.view {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 180px;
}

.view .mask, .view .content {
    width: 180px;
    height: 180px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    /*height: 200px;*/
    position: relative;
    /*width: 180px;*/
}
.view a.info {
    background-image: url(../img/isotope/link.png);
    display: inline-block;
    text-decoration: none;
    padding: 0;
    text-indent: -9999px;
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
}
/*.main-text {*/
/*background-color: #F6F6F6;*/
/*color: #848486;*/
/*font-size: 16px;*/
/*width: 100%;*/
/*-webkit-transition: all 1s;*/
/*-moz-transition: all 1s;*/
/*-ms-transition: all 1s;*/
/*-o-transition: all 1s;*/
/*transition: all 1s;*/
/*}*/

/*.main-text:hover {*/
/*background: none repeat scroll 0 0 rgba(22, 158, 228, 0.9);*/
/*color: #ffffff;*/
/*}*/

.blue {
    background: none repeat scroll 0 0 rgba(22, 158, 228, 0.9);
    color: #ffffff;
}
#filters {
    margin: 25px 0;
}

/* CSS3 EFFECTS */

/* FIFTH EFFECTS */
.effect img {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 180px;
    height: 180px;

}
.effect .mask {
    opacity: 0;
    overflow: visible;
    /*border-color:rgba(0,0,0,0.7) transparent transparent transparent;
    border-style:solid;
    border-width:150px;*/
    width: 100%;
    height: 100%;
    background: none repeat scroll 0 0 rgba(53, 170, 216, 0.9);
    /*width:0;
    height:0;*/
    -moz-transform: translateY(-125px);
    -webkit-transform: translateY(-125px);
    -o-transform: translateY(-125px);
    -ms-transform: translateY(-125px);
    transform: translateY(-125px);
    -moz-transition: -moz-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
    -o-transition: -o-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
    transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
}
.effect a.info {
    opacity: 0;
    -moz-transform: translateY(-125px);
    -webkit-transform: translateY(-125px);
    -o-transform: translateY(-125px);
    -ms-transform: translateY(-125px);
    transform: translateY(-125px);
    -moz-transition: -moz-transform 0.3s ease-in, opacity 0.1s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.1s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in, opacity 0.1s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in, opacity 0.1s ease-in-out;
    transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;

}
.effect:hover img {
    transform: scale(1.5, 1.5) rotate(20deg);
    transition: 0.6s;
}
.effect:hover .mask {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.effect:hover a.info {
    opacity: 1;
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}
.new-model {
    color: #36AAD8;
    display: block;
    font-family: wyekan;
    font-size: 13px;
    margin-top: 6px;
    text-align: center;
}
.new-price {
    background-color: #5DBD28;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    margin: 5px auto auto;
    width: 130px;
    height: 20px;
}
#container {
    display: block;
    margin: auto;
    width: 930px;
}
.new-product-title1 {
    color: #373A41 !important;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 46px 0 22px;
    text-align: center;
    word-spacing: 5px;
}
.new-product-title2 {
    color: #373A41 !important;
    display: block;
    font-size: 31px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 2px auto -22px;
    text-align: right;
    width: 80%;
    word-spacing: 5px;
    border-bottom: solid 1px #eaeaea;
    padding-bottom: 10px;
}
.border-title-main-isotop {
    background: none repeat scroll 0 0 #35AAD8;
    display: block;
    height: 1px;
    margin-bottom: -11px;
    margin-left: auto !important;
    margin-top: 21px;
    width: 140px;
}
.home-tabs {
     /*height: 500px;*/
    background-color: #ebe8e8;
}
.home-tabs-ul {
    margin: 20px auto;
    position: relative;
}
.home-tabs-li {
    background-color: #FFFFFF;
    box-shadow: 2px 3px 2px 0 #B5B3B3;
    cursor: pointer;
    float: right;
    height: 100px;
    margin-left: 0.7%;
    width: 24.4%;
}
.home-tabs-li > a {
    color: #57A6B9;
    font-size: 19px;
    margin-right: 20px;
    padding-top: 45px;
    position: absolute;
    vertical-align: middle;
}
.home-tabs-li-active {
    background-color: #57A6B9 !important;
}
.home-tabs-li-active a {
    color: #FFFFFF !important;
}
.tabs-contents {
    background-color: #FFFFFF;
    height: 300px;
    margin: 134px auto auto;
    position: relative;
    overflow: visible;
}
.tab-img {
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}
.new-products-li {
    background: url("../img/tabs/new1.png") no-repeat scroll 31px 22px #FFFFFF;
}
.best-seller-li {
    background: url("../img/tabs/best-seller1.png") no-repeat scroll 31px 22px #FFFFFF;
}
.most-visited-li {
    background: url("../img/tabs/most-visit1.png") no-repeat scroll 31px 12px #FFFFFF;
}
.popular-li {
    background: url("../img/tabs/popular1.png") no-repeat scroll 31px 29px #FFFFFF;
}

.new-products-li:hover, .new-products-li-active {
    background: url("../img/tabs/new2.png") no-repeat scroll 31px 22px #57A6B9;
}
.best-seller-li:hover, .best-seller-li-active {
    background: url("../img/tabs/best-seller2.png") no-repeat scroll 31px 22px #57A6B9;
}
.most-visited-li:hover, .most-visited-li-active {
    background: url("../img/tabs/most-visit2.png") no-repeat scroll 31px 12px #57A6B9;
}
.popular-li:hover, .popular-li-active {
    background: url("../img/tabs/popular2.png") no-repeat scroll 31px 29px #57A6B9;
}
.home-tabs-li:hover a, .new-products-li-active a, .best-seller-li-active a, .most-visited-li-active a, .popular-li-active a {
    color: #FFFFFF;
}
.flesh:after {
    background: url("../img/tabs/triangle.png") no-repeat scroll 0 100px rgba(0, 0, 0, 0);
    content: "";
    display: table;
    height: 295px;
    width: 156px;
}
.tab-pane {
    padding: 20px 34px 0 0;
}
.tab-left-arrow {
    background: url("../img/tabs/left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 39px;
    margin-left: 11px;
    margin-top: -145px;
    width: 15px;
    cursor: pointer;
}
.tab-right-arrow {
    background: url("../img/tabs/right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 39px;
    margin-right: -22px;
    margin-top: 115px;
    position: relative;
    width: 15px;
    cursor: pointer;
}
.tab-left-arrow:hover {
    background: url("../img/tabs/left-hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.tab-right-arrow:hover {
    background: url("../img/tabs/right-hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ajax-loading {
    background: url("../img/loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100px;
    margin: 30px auto;
    width: 100px;
    display: none
}
.alwaysHide{
    display: none;
}