.view-list .row-fluid [class*="span"] {
    width: 100% !important;

    margin-left: 0 !important;
}
.view-list .center_block {
    float: right;
    overflow: hidden;
    width: 30%;
}
.view-list .product_img_link {
    display: block;
}
.view-list .right_block {
    display: block;
    width: 66%;
}
ul#product_list {
    list-style-type: none
}
.product-container {
    border: 1px solid #eee;
    background: #fff;
    transition: all 0.5s linear 0s

}
.product_block .content_price {
    margin: 0 0 10px;
    text-align: center;
    width: 100%;
}
#product_list .p-item .left_block {
    display: block;
    clear: both
}
#product_list .p-item .left_block .compare label {
    display: inline;
    font-size: 12px
}
#product_list .p-item p.compare input {
    vertical-align: text-bottom;
    font-size: 12px;
    margin: 3px 2px;
}
.product_block a.product_img_link {
    overflow: hidden;
    position: relative;
    display: block;
    text-align: center;

}
#product_list a.product_img_link img {
    vertical-align: bottom;
}
.center_block h3 {
    line-height: 20px;
}
.center_block h3 a {
    font-weight: bold;
    font-size: 14px;
}
.product_block p.product_desc {
    overflow: hidden;
    padding: 0;
    line-height: 16px;
}
.product_block p.product_desc,
.product_block p.product_desc a {
    color: #666;
}
#product_list .p-item .discount, ul#product_list .p-item .on_sale, ul#product_list .p-item .online_only {
    display: block;
    font-weight: bold;
    color: #990000;
    text-transform: uppercase
}
#product_list .p-item .discount {
    position: absolute;
    top: -8px;
    right: 0;
    display: inline-block;
    font-weight: bold;
    padding: 1px 5px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    background: none repeat scroll 0 0 #9B0000
}
#product_list .p-item .online_only {
    margin: 0 0 10px 0
}
#product_list .p-item span.availability {
    display: none;
    color: #488C40
}
.online_only {
    display: none;
}
#product_list .p-item .lnk_view {
    display: none;
    margin-top: 15px;
    padding: 0 10px;
    border: none;
    font-weight: bold;
    color: #0088CC;
    background: url(../img/arrow_right_1.png) no-repeat 100% 4px transparent
}
#product_list .p-item .lnk_view:hover {
    text-decoration: underline
}
.s_title_block {
    text-align: center;
}
.quick-view.btn {
    border-radius: 0;
    display: block;
    margin: 0 auto 15px;
    width: 8.3em;
}
.compare {
    text-align: center;
}
.quick-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
    display: none;
    float: right;
    height: auto;
    left: 429px;
    position: relative;
    top: -44px;
    width: 406px;
    z-index: 100;
}
.quick-content:before {
    background-image: url("../img/quick-arrow.png");
    background-repeat: no-repeat;
    content: "";
    float: left;
    height: 27px;
    margin: 43px 0 0 -21px;
    width: 21px;
}
.quick-content2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    box-shadow: -2px 2px 2px;
    display: none;
    float: right;
    height: auto;
    position: relative;
    right: 47px;
    top: -44px;
    width: 406px;
    z-index: 100;
}
.quick-content2:before {
    background-image: url("../img/quick-arrow.png");
    background-repeat: no-repeat;
    content: "";
    float: right;
    height: 27px;
    margin: 43px -22px 0 0;
    right: 0;
    transform: rotate(180deg);
    width: 21px;
}
.quick-icon {
    background-image: url("../img/information.png");
    float: right;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.quick-icon:hover {
    background-image: url("../img/information-hover.png");
}
.feature-name-quick {
    float: right;
    font-size: 14px;
    margin: 0 3px 0 6px;
    text-align: left;
    width: 107px;
}
.quick-p {
    float: right;
    padding: 2px 0 0 !important;
    width: 100%;
}
.feature-value {
    float: right;
    font-size: 12px;
    margin-bottom: 2px !important;
}
.quick-img {
    display: block;
    margin: auto;
    width: 75%;
}
.quick-loading {
    display: block;
    margin: auto;
}
.p-item {
    float: right !important;
}
