/* product desc */
/* primary_block ***************************************************************************** */
#center_column #primary_block {
    background: url("../img/bg_loftabsnews.png") repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    margin-top: 20px;
    padding-bottom: 12px;
}
.warning_inline {
    color: #169EE4
}
/* pb-right-column ***************************************************************************** */
#pb-right-column {
    float: right;
    /*width:266px;*/
    position: relative;
}

#pb-right-column #image-block {
    background-color: #FFFFFF;
    border: 1.9px solid #B4B4B4;
    box-shadow: 0 5px 10px 1px;
    height: 487px;
    margin-left: 0 !important;
    position: relative;
    text-align: center;
}
#pb-right-column #image-block #view_full_size {
    display: block;
    cursor: pointer;
}

#pb-right-column #image-block #view_full_size .span_link {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/icon/zoom.png");
    background-position: 10px 5px;
    background-repeat: no-repeat;
    border-radius: 12px 12px 12px 12px;
    color: #FFFFFF;
    float: right;
    line-height: 20px;
    margin-right: 90px;
    padding: 5px 44px 0;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
    width: 45%;
}

#pb-right-column #image-block #view_full_size .span_link img {
    position: relative;
    top: 3px;
    right: -3px;
    border: none;
    padding-left: 2px;
}

/* miniatures */
#thumbs_list {
    float: left;
    height: 86px;
    overflow: hidden;
    width: 212px;
}
#pb-right-column #views_block {
    background-color: #FFFFFF;
    border: 1px solid #B4B4B4;
    display: block;
    float: right;
    height: 90px;
    margin: 25px auto 0 0;
    position: relative;
    width: 317px;
}
#thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-right: 2px;
    width: 100%
}
#thumbs_list li {
    width: 100%
}
span.view_scroll_spacer {
}

.resetimg {
    padding: 10px 0 0 0
}

/* link list */
#view_full_size h3 {
    color: #4C4D4E;
    cursor: pointer;
    font-size: 19px;
    font-weight: normal;
    margin-top: 0px;
    line-height: 20px;
    padding: 15px 0px 10px 0px;
}
/*div.leo-product-suffix {*/
/*position: absolute;*/
/*top: 259px;*/
/*width: 319px;*/
/*}*/
#quantity_wanted_p {
    float: right;
    margin-left: 10px;
    padding: 5px 0;
    display: none !important;
}
.content_prices #add_to_cart {
    float: right;
    margin-top: 5px;
    padding: 0;
    position: relative;
}
.product_attributes p.bg-stock {
    background: none repeat scroll 0 0 #169EE4;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 5px;
    text-transform: uppercase;
    margin: 5px 0px 10px 0px;
}
#usefull_link_block li.print {
    padding-right: 20px;
    background: url(../img/icon/print.png) no-repeat 33px 5px;
}

#usefull_link_block li.sendtofriend {
    padding-right: 23px;
    background: url(../img/icon/send_friend.png) no-repeat 99px 8px;
}
#quantityAvailable {
    font-size: 18px;
    color: #000;
    font-weight: bold
}
#usefull_link_block li#left_share_fb {
    background: url("../img/icon/picto_fb.png") no-repeat scroll 105px 5px rgba(0, 0, 0, 0);
    float: right;
    padding-right: 20px;
}
/* pb-left-column ****************************************************************************** */
#pb-left-column {
    float: right;
    display: table;
    margin: 0 14px 0 0;
}
.title_detailproduct {
    color: #77B607;
    float: left;
    font-family: arial, tahoma;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.title_detailproduct_right p {
    color: #77B607;
    float: right;
    font-family: B Yekan;
    font-size: 18.33px;
    font-weight: bold;
    text-align: right;
}
#pb-left-column #short_description_block {
    color: #646566;
    padding-left: 10px
}
#pb-left-column #short_description_block .buttons_bottom_block {
    display: none;
}

/* form */
#pb-left-column #buy_block {
    margin-top: 10px;
}

#pb-left-column #buy_block label {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
}

/* short description pack */
.short_description_pack {
    display: none;
}

/* color_picker */
#pb-left-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700;
}
#attributes fieldset {
}
#attributes fieldset label {
    float: right;
    font-size: 17px;
}
.attribute_list span {
    font-size: 14px;
    margin-right: 1px;
}
#attributes .attribute_list {
    display: inline-block;
    padding-right: 5px
}
.attribute-pull-right {
    float: right;
}

.attribute_list #color_to_pick_list {
    float: right;
    font-size: 13px;
    font-weight: bold;
    /*margin-right: 27px;*/
    vertical-align: top;
}

.attribute_list #color_to_pick_list li {
    float: right;
    margin: 0 0 8px 8px;
    padding: 1px;
    border: 1px solid #ccc;
}

.attribute_list #color_to_pick_list li.selected {
    border: 2px solid #4169E1;
    list-style-type: none;
}
.attribute_list li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}
.attribute_list li:first-child {
    margin-right: 0;
}
.attribute_radio {
    margin: 0 !important;
}
.attribute_list #color_to_pick_list a.color_pick {
    display: block;
    height: 15px;
    width: 15px;
}

.product_attributes {
    padding: 0px;
}
/* attributes */
#attributes select {
    width: 120px;
    border: 1px solid #cdcdcd;
}

/* quantity_wanted */
#quantity_wanted_p input {
    width: 50px;
    border: 1px solid #cdcdcd;
}

/* availability_statut */
#availability_statut {
    display: inline-block !important;
    /* margin-right:42px;*/
    float: right;
}
#buy_block p#availability_statut {
    background: none repeat scroll 0 0 #169EE4;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-top: 0px;
    padding: 6px 5px 3px;
    text-transform: uppercase;
}
p #availability_statut {
    margin: 5px 0 10px 0;
    float: right;
}
.product_attributes #attributes {
    clear: both;
    margin-top: 0px;
}
#availability_statut span#availability_label {
    display: inline-block;
    font-size: 17px;
    text-align: left;
    width: 54px;
}

#availability_statut #availability_value {
    color: #00841C;
    display: inline;
    font-size: 14px;
}

#availability_statut #availability_value.warning_inline {
}

/* prices */
.content_prices {
    /*margin: 5px 0px 0px 10px;*/
    text-align: left;
}

#buy_block p.price {
    padding: 0;
}

.discount {
    display: none;
}

#buy_block p#old_price {
    font-size: 14px;
    color: #646566;
    text-decoration: line-through;
}

.our_price_display {
    color: #70B808;
    font-size: 25px;
    line-height: 25px;
    text-align: right;
}
#add_to_cart input.exclusive {
    /*display: block;*/
    margin: 0 auto;
}

#reduction_percent, #reduction_amount {
    display: block;
    float: right;
    margin-right: 10px;
    padding: 0 10px 0 0;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    background: url(../img/bg_reduction.png) no-repeat 0 0 transparent;
}

#reduction_percent span, #reduction_amount span {
    display: block;
    line-height: 17px;
    padding: 0px 0 1px 5px;
    background: url(../img/bg_reduction.png) no-repeat 100% 0 transparent;
}

/* online_only */
#buy_block p.online_only {
    font-weight: 700;
    font-size: 11px;
    color: #900;
    text-align: right;
    text-transform: uppercase;
}

/* add_to_cart */
.content_prices #add_to_cart {
    position: relative;
    float: left;
    padding: 0;
}

.content_prices #add_to_cart .exclusive, .content_prices #add_to_cart .exclusive_disabled {
    height: 26px;
    padding: 5px 15px 5px 7px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /*hack Chrome and Safari */
    .content_prices #add_to_cart .exclusive, .content_prices #add_to_cart .exclusive_disabled {
        padding: 6px 15px 4px 7px;
    }

}

.ie9 .content_prices #add_to_cart .exclusive, .ie9 .content_prices #add_to_cart .exclusive_disabled,
.ie8 .content_prices #add_to_cart .exclusive, .ie8 .content_prices #add_to_cart .exclusive_disabled,
.ie7 .content_prices #add_to_cart .exclusive, .ie7 .content_prices #add_to_cart .exclusive_disabled {
    padding: 8px 15px 4px 7px;
    line-height: 12px;
}

:first-child + html .content_prices #add_to_cart .exclusive {
    padding: 4px 11px 4px 3px;
}

.content_prices #add_to_cart span {
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    right: -12px;
    height: 26px;
    width: 26px;
    background: url(../img/icon/pict_add_cart.png) no-repeat 0 0 transparent;
}

/* */
.buttons_bottom_block {
    margin-top: 3px;
    /*float:right;*/
}
#add-to-card {
    background-color: #70B808;
    font-size: 15px;
    font-weight: normal;
    height: 52px;
    text-align: right;
    width: 142px;
}

#user-box {
    background-color: #FFFFFF;
    border: 1px solid #B4B4B4;
    display: block;
    height: 101px;
    margin-top: 7px;
    width: 100%;
}

.buttons_bottom_block input:hover {
    background: #169EE4
}
.buttons_bottom_block #wishlist_button {
    font-weight: 700;
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
}

#send_friend_form h2 {
    padding: 8px 11px;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    text-transform: uppercase;
    background: #383838;
}

#send_friend_form .product {
    margin: 20px 10px;
}

#send_friend_form .product img {
    float: right;
    margin: 0 0 0 10px;
    border: 1px solid #ccc;
}

#send_friend_form .product .product_desc {
    float: right;
    width: 380px;
}

#send_friend_form .product .product_desc p {
    padding: 0 0 0 10px;
    color: #333;
}

#send_friend_form .product .product_desc p.product_name {
    font-size: 12px;
    color: #000;
}

#send_friend_form .send_friend_form_content {
    margin: 0 10px 20px;
}

#send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: #eee;
}

#send_friend_form .form_container p.intro_form {
    padding-bottom: 14px;
    font-weight: 700;
    font-size: 13px;
    color: #333;
}

#send_friend_form .form_container p.txt_required {
    padding-bottom: 0;
    color: /* SEND TO FRIEND (pop-in) ##################################################################### */ #666;
}

#send_friend_form .form_container .text {
    padding-bottom: 10px;
}

#send_friend_form .form_container .text label {
    display: inline-block;
    padding: 6px 15px;
    width: 180px;
    /* 210 */
    font-size: 12px;
    text-align: left;
}

#send_friend_form .form_container .text input {
    padding: 0 5px;
    height: 22px;
    width: 260px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
}

#send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: left;
}

/* PACK ##################################################################### */
#blockpack {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted #999;
}

/* PERSONNALISATION ##################################################################### */
.customization_block {
}

.customization_block p.infoCustomizable {
    margin: 10px 0 20px;
    padding: 0 20px 0 0;
    background: url(../img/icon/infos.gif) no-repeat 0 0 transparent;
}

ul#uploadable_files, ul#text_fields {
    list-style-type: none;
}

.customizableProductsFile, .customizableProductsText {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

.customizationUploadLine {
    padding-bottom: 10px;
}

.customizationUploadLine label {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.customizationUploadLine textarea {
    height: 50px;
    width: 300px;
    border: 1px solid #ccc;
}

#customizedDatas {
    float: left;
}

.accessories_block div ul li a {
    display: inline-block;
}

.accessories_block div ul li .s_title_block a, .accessories_block div ul li .s_title_block span {
    font-weight: bold;
}
#columns #more_info_block {
    background: none repeat scroll 0 0 #F5F4F4;
    border-color: #DEDEDE;
    margin-top: 30px;
}
/*----slide-product---*/
#view_scroll_left {
    background: url("../img/arrow-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    clear: both;
    float: left;
    height: 25px;
    margin: 33px 20px;
    text-indent: -3000px;
    width: 15px;
}

#view_scroll_right {
    background: url("../img/arrow-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    clear: both;
    float: right;
    height: 25px;
    margin: -56px 22px;
    text-indent: -3000px;
    width: 15px;
}
#view_scroll_right:hover {
    background: url("../img/arrow-right-on.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#view_scroll_left:hover {
    background: url("../img/arrow-left-on.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

body#product #primary_block {
    border-width: 0;
    background: none repeat scroll 0 0 transparent !important;
}

#thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-right: 2px;
    direction: ltr;
}

#thumbs_list li img {
    border: 1px solid #CDCDCD;
    height: 72px;
    margin: 7px 0 0 7px;
    padding: 0;
    width: 60px;
}
#thumbs_list ul li {
    margin-top: 5px;
    display: inline;
}
#thumbs_list li img:hover {
    border: 1px solid green;
}
body#product section#center_column {
    width: 100%;
}
.span4.product_block.ajax_block_product.first_item.p-item.clearfix {
    float: right;
}
/*#bigpic {*/
/*float: right;*/
/*height: 414px;*/
/*margin-top: 19px;*/
/*width: 318px;*/
/*}*/
.caroufredsel_wrapper {
    float: left !important;
    margin: 0 16px !important;
}
.thumb-left {
    background: url("../img/thumb-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 16px;
    margin-top: 23px;
    width: 9px;
}
.thumb-right {
    background: url("../img/thumb-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 16px;
    width: 9px;
    margin-top: 23px;
}
.zoomdiv {
    display: block !important;
}
#title_like > form {
    display: inline;
}
#review-box {
    height: 588px;
    margin: 0;
}
#order-box {
    /*-moz-border-bottom-colors: none;*/
    /*-moz-border-left-colors: none;*/
    /*-moz-border-right-colors: none;*/
    /*-moz-border-top-colors: none;*/
    /*background-color: #FFFFFF;*/
    /*border-color: #B4B4B4;*/
    /*border-image: none;*/
    /*border-style: solid none solid solid;*/
    /*border-width: 1.5px 0 1.5px 1.5px;*/
    /*height: 330px;*/
    /*margin-top: 25px;*/
}
#description-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #B4B4B4;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1.5px 1.5px 1.5px 0;
    height: 330px;
    margin-top: 25px;
    padding: 10px 20px;
    text-align: justify;
}
/*#frmLike {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 258px;
    width: 67px;
    z-index: 1;
}*/
.span4-product {
    width: 33.3% !important;
}
.attribute_fieldset {
    margin-top: 15px;
}
#criterions_list > label {
    float: right;
    font-size: 11px;
    width: 98px;
}
#submitNewGrade {
    margin: 50px 50px 0 0;
    float: right;
}
.rate-div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1.8px solid #B4B4B4 !important;
    height: 194px;
    margin-right: 11px;
    width: 96%;
}
.rate-header {
    font: 12px wyekan;
    margin: 5px;
    text-align: center;
}
.new_comment_form_content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    /*    width: 265px;*/
}

.short_description-box {
    height: 269px;
}
.span4.product_block.ajax_block_product.alternate_item.clearfix {
    margin: 0 1.8%;
}
.product-price-name {
    margin: 25px 0 0;
    text-align: right;
}
.product-en-name {
    color: #169EE4;
    font-size: 20px;
    letter-spacing: 1px;
    /*margin-bottom: 12px;*/
}
.product-fa-name {
    color: #8B8B8B;
    font-size: 18px;
    margin-bottom: 5px;
}
.product-price {
    color: #70B808;
    font-size: 35px;
    margin-top: 50px;
}
.product-nav-li {
    background-color: #169EE4;
    border-left: 1px solid;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    line-height: 36px;
    padding: 0;
    vertical-align: middle;
    width: 100px;
}
.product-nav {
    display: block;
    margin: 0 196px;
}
.product-nav-span {
    text-align: center;
}
.nav-product {
    background-color: #D3D3D3;
}
/*#buy-row {
    padding-top: 30px;
}*/
#buy-wrapper {
    background-color: #ffffff;
}
.cart-icon {
    background-color: #70B808;
    float: right;
    padding: 11px 11px 11px 0;
    width: 35px;
}
#like-rate-stat {
    height: 100px;
}
.span4.product_block.ajax_block_product.last_item.p-item.clearfix {
    margin-left: 0;
}
/*#add-to-card:active{*/
/*margin: 0 !important;*/
/*color:white !important;*/
/*background-color: red !important;*/
/*}*/
#groupedfeatures td {
    font-size: 13px;
}
.add-card-span:before {
    content: attr(data-hover);
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    transform: rotateX(-90deg);
    transform-origin: 50% 0 0;
    transition: background 0.3s ease 0s;
    width: 100%;

}
.add-card-span {
    transform-origin: 50% 0 0;
    transform-style: preserve-3d;
    transition: transform 0.3s ease 0s;
    display: inline-block;
    position: relative;
}
.add-card-a:hover .add-card-span {
    transform: rotateX(90deg) translateY(-22px);
}
.add-card-a {
    background-color: #FF0000;
    display: block;
    perspective: 1000px;
    width: 163px;
}
.item_bottom {
    bottom: -50px;
    height: 211px;
    opacity: 0;
    padding-left: 0;
    position: relative;
}
.hi-icon:before {
    display: block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 105px;
    text-transform: none;
}

.hi-icon-effect-1 .hi-icon:after {
    box-shadow: 0 0 0 4px #0098F9;
}
.hi-icon-effect-1 .hi-icon:after {
    left: -7px;
    opacity: 0;
    padding: 7px;
    top: -7px;
    transform: scale(0.8);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
}
.hi-icon:after {
    -moz-box-sizing: content-box;
    border-radius: 50%;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
.hi-icon-effect-1 .hi-icon {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
}
.hi-icon-effect-1 .hi-icon {
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
}
.hi-icon {
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 105px;
    margin: 15px;
    position: relative;
    text-align: center;
    width: 105px;
    z-index: 1;
}
.fa-4x {
    font-size: 4em;
}
.hi-icon-effect-1 .hi-icon:hover:after {
    opacity: 1;
    transform: scale(1);
}
.hi-icon-effect-1 .hi-icon:after {
    box-shadow: 0 0 0 4px #0098F9;
}
.hi-icon-effect-1 .hi-icon:after {
    left: -7px;
    opacity: 0;
    padding: 7px;
    top: -7px;
    transform: scale(0.8);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
}
.hi-icon-effect-1 .hi-icon:hover {
    background: none repeat scroll 0 0 #0098F9;
}
.sharing-box {
    background-image: url('../img/separator2.jpg');
    position: relative;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.sharing-inner {
    background-color: rgba(0, 0, 0, 0.8);
}
#sharing-friend {
    background-image: url('../img/sharing-icons/sendtofriend.png');
    background-repeat: no-repeat;
    background-position: center center;
}
#sharing-favorite {
    background-image: url('../img/sharing-icons/favorite.png');
    background-repeat: no-repeat;
    background-position: center center;
}
#sharing-compare {
    background-image: url('../img/sharing-icons/compare.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.sharing-loading {
    background-image: url('../img/loading.gif') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.sharing-loading:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    border: medium none !important;
}
.sharing-loading:after {
    content: none !important;
}
#sharing-notice {
    background-image: url('../img/sharing-icons/notice-me.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.like-icon {
    background-image: url("../img/sharing-icons/like.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.unlike-icon {
    background-image: url("../img/sharing-icons/unlike.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.span-share {
    text-align: center;
    width: 18% !important;
}
.lead.hidden-xs {
    color: #FFFAFA;
    font-size: 19px !important;
}
.share-row {
    padding-top: 18px;
}
.title_category:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #169EE4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 18px;
    content: "";
    left: 13%;
    position: relative;
    top: 84px;
}
#leosimularcarousel .carousel-control {
    background: url("../img/prev.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: -20px;
    position: absolute;
    right: 545px;
    text-align: center;
    top: -45px;
    width: 32px;
}
#leosimularcarousel .carousel-control.right {
    background: url("../img/next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    right: 506px;
}
#leosimularcarousel .carousel-control:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.wrapper-newproducts .right_block {
    padding: 20px 10px !important;
}
.mailalerts_oos_email {
    display: none !important;
}
.sendtofriend {
    display: none;
}
#mailalert_link {
    background-color: #A5A5A5;
    color: #FFFFFF;
    float: right;
    height: 18px;
    margin-right: 7px;
    padding: 6px;
    width: 75px;
}
#like-count {
    display: block;
    font-size: 24px;
    font-style: italic;
    margin-top: -4px;
}
#darsad {
    color: #A31F24;
    float: right;
    font-size: 18px;
    margin-right: 12px;
    margin-top: 7px;
    text-align: center;
    width: 100%;
}
#old_price_display {
    float: right;
    font-size: 19px;
    margin-bottom: 10px;
    text-decoration: line-through;
}
#availability_label {
    font-size: 18px;
    text-align: left;
}
#availability_value {
    margin-right: 3px;
}
.thumbnail-item {
    border: 1px solid #BBBBBB;
    display: inline-block;
    float: left;
    height: 60px;
    margin: 2px;
    width: 60px;
}
.like-count {
    color: #FFFFFF;
    float: right;
    font-size: 19px;
    margin-right: 5px;
}
.like-text {
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 0 0 10px;
    width: 33px;
}
.like-pipe {
    background: url("../img/like-pipe.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    margin: 0 5px;
    width: 2px;
}
.like-hand {
    background: url("../img/like-hand.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 18px;
    width: 18px;
}
.like-loading {
    background: url("../img/like-loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 18px;
    width: 18px;
    margin-right: 4px;
}
.unlike-loading {
    background: url("../img/unlike-loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 18px;
    width: 18px;
    margin-right: 4px;
}

.like-tik {
    background: url("../img/like-tik.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 14px;
    margin: 3px 5px;
    width: 14px;
}
.like {
    background-color: #A5A5A5;
    border: 0 none;
    height: 30px;
}

.liked {
    background-color: #0069C2;
    border: 0 none;
    height: 25px;
}
.like-btn {
    height: 30px !important;
    width: 136px !important;
}
.favorite-heart {
    background: url("../img/favorite-heart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 17px;
    width: 20px;
    margin: 0 2px;
}
.favorite-tik {
    background: url("../img/like-tik.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 17px;
    width: 20px;
    margin: 0 2px;
}
.favorite-pipe {
    background: url("../img/like-pipe.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 17px;
    margin-left: 3px;
    width: 2px;
}
.mailalert-icon {
    background: url("../img/mailalert.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    width: 20px;
}
.availabe-row {
    margin-top: 30px;
}
.product-hr {
    border-color: #A9A9A9;
    margin-bottom: 12px;
}
.takhfif {
    color: #A31F24;
    float: right;
    font-size: 22px;
    margin-right: 11px;
    margin-top: 5px;
}
.content_prices.clearfix {
    background: url("../img/takhfif-back.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 70px;
    width: 157px;
}
#compareTo-form {
    background-color: #0069C2;
    color: #FFFFFF;
    float: right;
    font-size: 18px;
    height: 35px;
    margin: 0 -14px 0 -9px;
    padding-right: 35px;
    padding-top: 17px;
    position: relative;
    width: 141px;
    z-index: 10;
}
.or {
    background-color: #FFFFFF;
    border-radius: 59px;
    color: #000000;
    display: block;
    float: right;
    font-size: 20px;
    height: 25px;
    margin-top: 13px;
    padding-top: 4px;
    position: relative;
    text-align: center;
    width: 30px;
    z-index: 15;
}
#add_to_cart {
    float: right;
    margin-bottom: 0 !important;
    margin-left: -11px;
    margin-right: auto !important;
    margin-top: 0 !important;
    position: relative;
    width: 190px !important;
    z-index: 10;
}
.cart-disable{
    background-color: gray !important;
}
.rate-text {
    display: block;
    float: right;
    font-size: 13px;
}
.rate-num {
    color: #9E1D20;
    float: right;
    font-size: 17px;
}
.comments_note{
    float: left;
}
#product_comments_block_extra {
    padding: 7px 0 10px 0;
    background-color: #f4f4f4;
}
.rate-icon {
    background: url("../img/star-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 27px;
    width: 28px;
    float: right;
    display: block;
    margin: 0 10px;
}
.rate-txt-num {
    float: right;
    width: 83px;
}
.you-can-rate {
    color: #9E1D20;
    font-size: 12px !important;
    cursor: pointer;
}
.star_content {
    margin-top: 2px !important;
    margin-left: 6px !important;
}
.from {
    color: #9E1D20;
    float: right;
    margin-right: 4px;
}
.tota-count-rate {
    color: #9E1D20;
    float: right;
    margin: 0 2px;
}
.ray {
    color: #9E1D20;
    float: right;
}
.top-feature {
    background-color: #F4F4F4;
    height: 49px;
    margin-bottom: 7px;
}
.top-icon {
    float: right;
    height: 26px;
    margin: 5% 3% 0;
    width: 11%;
}
#memory{
    background: url("../img/features/memory.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#sim{
    background: url("../img/features/sim.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#cpu{
    background: url("../img/features/cpu-speed.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#display{
    background: url("../img/features/display.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#camera{
    background: url("../img/features/camera.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.feature-name {
    display: block;
    float: right;
    margin-top: 14px;
    font-size: 15px;
    color: #464646;
}
.top-feature-value {
    color: #9E1D20;
    float: right;
    font-size: 17px;
    margin: 6% 2% 0 0;
}
.xdsoft_flipcountdown.xdsoft_size_sm {
    width: 94%;
}
.price-counter {
    margin-top: 7px;
    height: 62px !important;
}
.counter-icon{
    background: url("../img/clock.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 30px;
    margin: 17px 12px 0;
    width: 26px;
}
.share-item {
    float: right !important;
}
.product-box-title {
    background-color: #0069C2;
    width: 120px;
    padding: 5px;
}
.prod-title-text {
    color: #FFFFFF;
    margin-right: 4px;
    font-size: 14px;
}
.box-row {
    border-top: 2px solid #0069c2;
}
#fani-title {
    width: 130px;
}
.sim-tab-item{
    float: right !important;
}
.similar-a {
    float: right;
    width: 196px;
}
.similar-img {
    float: right;
}
.similar-name {
    float: right;
}
.sililar-items {
    width: 200px;
    height: 200px;
    float: left;
}
.product_block {
    float: left;
    width: 194px;
}
.tab-left-arrow {
    background: url("../img/tabs/left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 39px;
    margin-left: 0;
    margin-top: -145px;
    width: 15px;
}
.tab-right-arrow {
    background: url("../img/tabs/right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    height: 39px;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    top: 154px;
    width: 15px;
}
.tab-left-arrow:hover {
    background: url("../img/tabs/left-hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.tab-right-arrow:hover {
    background: url("../img/tabs/right-hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.product_block .right_block {
    height: 100px !important;
}
.loading-similar {
    margin: auto;
    display: block;
}

@media(min-width: 360px) and (max-width:480px ){
    .caroufredsel_wrapper {
        float: right !important;
        margin: 0 16px !important;
        width: 396px !important;
    }
}
.mail-alert-active{
    background-color: #0069C2 !important;
}