.multiselect-container input {
    float: right !important;
    margin-left: 7px !important;
    margin-right: 3px !important;
}
.multiselect-container.dropdown-menu a {
    padding: 0px 5px 1px 0px !important;
}
.multiselect-container label {
    color: #000000;
    font-size: 12px;
    margin-top: 0;
}
.multiselect-container label:hover {
    background-color: #428BCA !important;
}

.multiselect-container.dropdown-menu li.active a {
    background-color: #428BCA !important;
}
.multiselect-container.dropdown-menu li.active a label {
    color: #FFFFFF !important;
}
#search-ajax-form {
    /*float: right;*/
}
.tag-box-inner {
    background-color: #E3E3E3;
    float: none !important;
    margin: auto !important;
    min-height: 55px !important;
    width: 100% !important;
}
.tag {
    background-color: #808080;
    border-radius: 0 6px;
    display: inline-block;
    list-style: none outside none;
    margin: 5px 10px -1px 0;
    padding: 3px;
    width: auto;
}
#tag-box {

    margin-bottom: 30px;

}
.tag > span {
    color: #FFFFFF;
    float: right;
}
.remove-tag, .remove-tag-2 {
    background: url("../img/delete-icon-md.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 15px;
    margin: 3px 4px 0 0;
    width: 15px;
}
.ajax_block_product.product_block.comparison_infos {
    float: none !important;
}
.two-value {
    width: 330px;
}
/*.four-value {*/
/*float: right;*/
/*width: 400px;*/
/*}*/
.multiselect-container li {
    width: 160px;
}
.search-items button.btn, .search-items-2 button.btn {
    border: 1px solid #CCCCCC;
    background-image: none;
    font-size: 12px;
}
.search-items button.btn:hover, .search-items-2 button.btn:hover {
    background-color: #EBEBEB !important;
    color: #000000;
}
.tag:hover {
    background-color: #4169E1;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
#search-ajax-form > span {
    float: right;
    margin-left: 20px;
}
.min-price-val {
    float: right;
    margin-right: 7px;
}
.max-price-val {
    float: right;
    margin-left: 7px;
}
.range-values {
    float: right;
    margin-right: 20px;
}
.price-label {
    float: right;
    margin: 0 7px;
}

.ajax-loading, .ajax-loading-more {
    background: url("../img/loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100px;
    margin: 30px auto;
    width: 100px;
    display: none
}

#no-result, #server-error {
    display: none;
    text-align: center;
}
.tag-title {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0 17px;
}
.price-span {
    float: right !important;
    margin-left: 23px !important;
    text-align: left;
    width: 127px !important;
}
.feature-name {
    display: none;
}

.search-items, .search-items-2 {
    float: right;
    margin: auto;
    min-width: 160px;
    padding: 10px;
    width: 223px;
}
.multiselect-container.dropdown-menu {
    background-color: #FFFFFF;
    float: none;
    right: 0;
    box-shadow: 0 0 3px 0.5px #000000;
}
.multiselect-container > li {
    display: inline-block;
    float: right;
    padding: 0;
    width: 100% !important;
}
.range-div {
    float: right;
    margin: 5px 0;
    width: 100%;
}
.min-weight-val, .min-cpu-val, .min-camera-val, .min-display-val {
    margin-right: 10px;
}
.max-weight-val, .max-cpu-val, .max-camera-val, .max-display-val {
    float: right;
    margin-left: 10px;
}
.range-unit {
    margin-right: 5px;
}
.combo-name {
    display: none;
}
#results .p-item {
    float: right !important;
}
#more {
    margin: auto;
}
.input-reso {
    width: 45px;
    margin: 3px;
}
#reso-check {
    display: none;
}
#device-label {
    float: right;
}
.device-input {
    float: right;
    margin: 5px 7px 0 4px !important;
}
.device-radio-label {
    float: right;
    width: 45px;
}
#results-count-div {
    font-size: 13px;
    margin-bottom: 12px;
    text-align: center;
    display: none;
}
#results-count {
    margin-right: 3px;
}
#search-go {
    display: block;
    margin: auto;
}
.line {
    box-shadow: 0 0 3px 1px #A9A9A9;
    margin-bottom: 40px;
    width: 100%;
}
.max-val {
    float: right;
}
#weight-span, #price-span{
    width: 70px !important;
}