.slider {
  width: 230px;
  float: right;
}

.slider > .dragger {
  background: #169EE4;
  background: -webkit-linear-gradient(top, #169EE4, #169EE4);
  background: -moz-linear-gradient(top, #169EE4, #169EE4);
  background: linear-gradient(top, #169EE4, #169EE4);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #169EE4, #169EE4);
}


.slider > .track, .slider > .highlight-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}

.slider > .highlight-track {
	background-color: #169EE4;
	background: -webkit-linear-gradient(top, #169EE4, #169EE4);
	background: -moz-linear-gradient(top, #169EE4, #169EE4);
	background: linear-gradient(top, #169EE4, #169EE4);
    left: 0;
	border-color: #496805;
}
#output-data {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid;
    box-shadow: 0 0 0 0;
    cursor: text;
    display: block !important;
    float: right;
    height: 20px;
    position: relative;
    right: 6px;
    width: 22px;
}
#criterions_list {
    width: 68%;
    float: right;
}
#rategrade {
    min-height: 150px;
}