.double {
    float: left;
    position: relative;
}
.suggest-row {
    border: 1px solid #D1D1D1;
}

.sug-model {
    color: #0B66C1;
    font-size: 20px;
    text-transform: capitalize;
}
.sug-price {
    font-size: 20px;
}
.sug-txts {
    float: right;
    margin-top: 29px;
    text-align: right;
    width: 50%;
}
.carousel-sugests {
    width: 100% !important;

}
.sug-title-text {
    background-color: #165AB1;
    color: #FFFFFF;
    padding: 0 10px 8px;
    float: right;
    font-size: 16px;
}
.sug-title {
    height: 25px;
    border-top: 2px solid #0169C0;
    margin-bottom: 20px;
}
.sug-last {
    background: url("../img/sug-last.png") no-repeat scroll left -32px rgba(0, 0, 0, 0);
}
.sug-car-contr {
    float: left;
}
#sug-left {
    background: url("../img/prev-sug.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    margin-left: 4px;
    margin-top: 3px;
    width: 23px;
    height: 23px;
}
#sug-right {
    background: url("../img/next-sug.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    margin-left: 4px;
    margin-top: 3px;
    width: 23px;
    height: 23px;
}
.suggests {
    height: 200px;
    float: left;
    display: block;
}
.view-more {
    background-color: #0069C2;
    color: #FFFFFF;
    font-family: wyekan;
    padding: 5px 16px;
}
.view-more:hover {
    background-color: #5DBD28;
    color: white;
}
.sug-img {
    float: right;
    width: 50%;
}