@media (min-width: 980px) and (max-width: 1200px) {
    .container {
        width: 980px;
    }
    .main-nav-a {
        padding: 6px 3px;
    }
    .nav-label {

        font-size: 13px;
    }

}
@media (max-width: 1050px) {
    .lof-sale {
        font-size: 20px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #thumbs_list li img {
        width: 72% !important
    }
    .nav-collapse {
        background: #88b828 !important
    }
    .nav .first-item a {
        position: left center !important
    }
    .top-header-span {
        min-height: 40px;
    }
    /*.row-fluid > [class*=span]:nth-child(2n+1) {
        clear: both;
        margin-left: 0;
    }*/
    .row-fluid .span3 {
        width: 48.61878453038674% !important;
    }
    .foorer-first-box {
        margin-left: 0 !important;
    }
    .picture-tablet {
        width: 50% !important;
    }
    .cart-tablet {
        width: 70% !important;
    }
}
@media (max-width: 979px) {
    #phantom, #notify-bar {
        display: none;
    }
    .navbar .btn-navbar {
        padding: 7px 4px !important;
        width: 96% !important;
    }
    .top-feature-value {
        margin: 3% 2% 0 0;
    }

}
@media (min-width: 600px) and (max-width: 800px) {
    #view_scroll_left, #view_scroll_right {
        left: 40% !important
    }
    /*#newsletter_block_left .inputNew {
        width: 70% !important
    }*/
    #mycarouselHolder .jcarousel-skin-tango .jcarousel-item-horizontal {
        padding-left: 17px !important
    }
    #new-products_block_right li {
        margin-left: 30px !important
    }
    #lofadvafooterfooter .lof-items .lof-text {
        float: left !important
    }
    #view_scroll_left, #view_scroll_right {
        margin-left: -14px !important;
    }
    .product_block .exclusive {
        margin-bottom: 10px !important;
        margin-top: 0px !important
    }
    #thumbs_list {
        height: 264px !important
    }
    .view-list .right_block {
        width: 65% !important
    }
    .layered_slider_container {
        width: 87% !important
    }
}
@media (max-width: 600px) {
    .breadcrumb {
        margin-left: 10px !important
    }
    #pb-right-column .alld_product {
        border-right: 0 !important
    }
    #footer-bottom .copyright {
        padding: 0px 12px 15px 12px !important
    }
    .lof-block {
        width: 47% !important;
        padding-left: 10px;
    }
    .lof-block-wrap {
        margin-right: 0px !important
    }
    ul.step li {
        width: 100% !important
    }
    #pb-left-column h1 {
        margin-left: -10px !important;
        margin-top: 10px !important
    }
    #primary_block #pb-left-column {
        padding-left: 10px;
    }
    /*#header_logo{width:97% !important}*/
    #header_right {
        width: 97% !important;
        margin-left: 10px;
    }
    #pb-right-column .row-fluid .span9 {
        float: left;
        width: 69% !important
    }
    #create-account_form, #authentication #login_form {
        float: none !important
    }
    .tparrows {
        background-size: 20px 36px !important;
        height: 36px !important;
        width: 20px !important;
    }

}
@media (max-width: 480px) {
    #header_right #topminibasket {
        float: right
    }
    .view-list .center_block {
        width: 100%
    }
    .view-list .right_block {
        width: 100%
    }
    .lof-block {
        width: 95% !important;
        padding-left: 10px
    }
    #view_scroll_left, #view_scroll_right {
        left: 79% !important;
    }
    .favorite-mobile {
        margin: 6px 56px 0 0;
    }

}
@media (min-width: 475px) and (max-width: 485 ) {
    .owl-carousel .owl-wrapper-outer {

        width: 60% !important;
    }
}
@media (max-width: 320px) {
    #search_block_top form {
        width: 305px
    }
    .title_category {
        line-height: 25px !important
    }
    #contentbottom .block .title_block {
        height: 13px;
    }
    .control-group .controls select {
        margin-top: 5px !important
    }
    input, textarea, .uneditable-input {
        margin-top: 5px !important
    }
    #footer #lofadva-pos-2 .nice-columns {
        -moz-column-count: 1;
        -moz-column-gap: 10px;
        -webkit-column-count: 1;
        -webkit-column-gap: 10px;
    }
    #buy_block p#old_price {
        clear: both
    }
    .#buy_block p#old_price {
        clear: both
    }
    .all-nav-item {
        float: left !important;
        margin-left: 10px !important
    }

    .nav-item .item-top {
        padding: 0px 13px;
    }
    #topminibasket {
        float: left !important
    }
    #header_right #header_user {
        float: left;
        margin-left: 10px;
    }
    #header_logo {
        text-align: center !important
    }
    #topminibasket > div {
        margin-left: 30px;
    }
    #header_user_info {
        margin-left: 30px;
    }
    #header #cart_block {
        right: 30px
    }
    /*#productTabs{margin-right:66px !important}*/
    .lof-custom .lof-custom-content {
        padding: 0px 10px 0px 10px
    }
    #mycarouselHolder h2 {
        margin-left: 10px;
    }
    #pb-right-column #image-block #view_full_size .span_link {
        bottom: -75px;
    }
    #pb-right-column .alld_product {
        padding-bottom: 36px !important
    }
    #relatedproducts h3 {
        padding-right: 60px;
    }
    #relatedproducts .title_category {
        height: auto !important
    }
    #mycarouselHolder .jcarousel-skin-tango .jcarousel-item-horizontal {
        padding-left: 21px !important
    }
    #mycarouselHolder .jcarousel-list li, #mycarouselHolder .jcarousel-item {

    }
    #productsview {
        margin-top: 10px;
        text-align: right;
    }

}
@media (max-width: 800px) {
    #slideshow {
        display: none
    }

}
@media (max-width: 979px) {

    .list-products {
        background: none;
    }
    #lofadvafooterfooter .lof-module .input-append .span12 {
        width: 70% !important
    }
    .title_detailproduct span {
        margin-left: 0 !important;
    }
    .nav-collapse li.dropdown-submenu .dropdown-menu {
        position: static;
        float: none;
        left: auto;
        top: auto;
        max-width: none;
        margin: 0;
    }
    .navbar-multi .nav > li {
        position: relative !important;
        transition: background 300ms ease-in-out 0s;
    }
    .nav .first-item a {
        background-position: 10px center !important;
    }
    .navbar {
        float: none !important;
    }
    .nav-collapse {
        background: none repeat scroll 0 0 #A2A2A2 !important;
    }
    .nav .dropdown-submenu .dropdown-menu .dropdown-submenu .dropdown-menu li > a,
    .nav .dropdown-submenu .dropdown-menu .dropdown-submenu .dropdown-menu li > a:hover {
        padding-left: 30px;
        background-position: 20px center !important;
        line-height: 20px !important
    }
    #center_column .top-custom {
        display: none;
    }
    .dropdown-submenu .dropdown-menu li a > .caret {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #C8C8C8;
        top: 10px !important
    }
    #topnavigation .dropdown-submenu .dropdown-menu li > a:hover {
        line-height: 20px !important
    }
    .caret {
        position: absolute;
        right: 0.2em !important;
        margin: 7px 0px 4px 0px !important
    }
    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
        box-shadow: none !important;
    }

    body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container {
        width: 100% !important
    }
    .header .container {
        width: 100% !important
    }
    #columns .container {
        width: 100% !important
    }
    #footer .container {
        width: 100% !important
    }

    @media (min-width: 980px) {
    }
    .nav-li {
        display: block;
    }
    .nav-left {
        float: none !important;
    }
    .gif {
        display: none !important;
    }
    .telephone {
        display: block !important;
        float: none !important;
        text-align: center;
        background: none;
    }
    .nav-collapse .nav > li > a {
        margin-bottom: 0;
    }
    .nav-collapse .nav {
        margin: 0;
    }
    .topbar {
        background: none;
    }
}
@media (max-width: 768px) {
    .top-header-span {
        min-height: 40px !important;
    }
    .midd-nav {
        height: auto !important;
    }
    #top-header-links {
        display: none;
    }
    #header_user_info {
        display: block;
        float: none !important;
        margin: auto;
    }
    .nav-item {
        float: none !important;
    }
    .welcome {
        float: none !important;
    }
    #header_user_info a {
        float: none !important;
    }
    #header_logo {
        display: table;
        float: none;
        margin: auto;
    }
    .block-search-top {
        display: block;
        float: none !important;
        margin: auto;
    }
    #topminibasket {
        float: none;
        margin: 20px auto 0;
        display: table;
    }
    .sub-nav {
        display: none;
    }
    .logo-min-resolution {
        float: right !important;
    }
    .login {
        float: none;
    }
    .deal-img {
        float: right !important;
        width: 43%;
        height: 50%;
    }
    .deal-new-price {
        width: 35%;
    }
    .time {
        text-align: right;
    }
    .des {
        text-align: right;
    }
    .pull-left {
        float: none;
    }
    .foorer-first-box {
        margin-left: 0 !important;
    }
}
@media (max-width: 360px) {
    .suggests {
        width: 100% !important;
    }
    #compareTo-form {
        padding-right: 61px;
    }
    .or {
        display: none !important;
    }
}
@media (max-width: 360px) {
    .suggests {
        width: 100% !important;
    }
    #compareTo-form {
        padding-right: 61px;
    }
    .or {
        display: none !important;
    }
    .cart-icon {
        margin-top: 5px;
    }
    .product_block {
        float: right;
        margin-right: 53px;
        margin-top: 7px;
        width: 194px;
    }
}