#timeline {
    width: 100%;
    height: 390px;
    overflow: hidden;
    /* margin: 40px auto;*/
    position: relative;
    background: url('../img/timeline/dot.gif') 3px top repeat-y;
}
#dates {
    float: left;
    height: 600px;
    /*width: 17%;*/
}
#dates li {
    list-style: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 14px;
    padding-left: 0px;
    background: url('../img/timeline/biggerdot.png') left center no-repeat;
}
#dates a {
    line-height: 38px;
    padding-bottom: 10px;
}
#dates .selected {
    position: relative;
    font-weight: bold;
}
#dates a.selected:before {

}
/*#issues {
    float: right;
    height: 600px;
    overflow: hidden;
    width: 80%;
}*/
#issues li {
    height: 410px;
    overflow: auto;
}
#issues li.selected img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
#issues li img {
    margin: 15px auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF); /* IE 6 & 7 */
    zoom: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    width: 200px;
    height: 113px;
    display: block;
}
#issues li h1 {
    color: #ffcc00;
    font-size: 48px;
    text-align: center;
    text-shadow: #000 1px 1px 2px;
}
#issues li p {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    margin: 10px 20px;
    text-align: right;
    word-break: keep-all;
}

#grad_top,
#grad_bottom {
    width: 500px;
    height: 80px;
    position: absolute;
}
#grad_top {
    top: 0;
    background: url('../img/timeline/grad_top.png') repeat-x;
}
#grad_bottom {
    bottom: 0;
    background: url('../img/timeline/grad_bottom.png') repeat-x;
}

#next,
#prev {
    position: absolute;
    left: 55%;
    font-size: 70px;
    width: 38px;
    height: 22px;
    background-position: 0 -44px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
#next:hover,
#prev:hover {
    background-position: 0 0;
}
#next {
    bottom: 0;
    background-image: url('../img/timeline/next_v.png');
}
#prev {
    top: 0;
    background-image: url('../img/timeline/prev_v.png');
}
#next.disabled,
#prev.disabled {
    opacity: 0.2;
}