.lofcontentmenu-wrapper  li {border-bottom:1px dotted #ccc}
    .lofcontentmenu-wrapper  li.last { border:none;}
        .lofcontentmenu-wrapper  li a {
            background: url("img/arrow_right_2.png") no-repeat scroll right 14px rgba(0, 0, 0, 0);
            color: #333333;
            display: block;
            padding: 7px 15px 5px 11px;
        }
        
    .lofcontentmenu-wrapper  li ul {margin-right:40px}
        .lofcontentmenu-wrapper  li ul li {border:none}
            .lofcontentmenu-wrapper  li ul li a {
                padding-right:0;
                background:none
            }
        
.lofcontentmenu-wrapper li .OPEN,
.lofcontentmenu-wrapper li .CLOSE {
    display:block;
    float:left;
    margin:10px 10px 0;
    height:9px;
    width:9px;
    background:url(img/icon/open-close.png) no-repeat right -9px;
    cursor:pointer
}
.lofcontentmenu-wrapper li .CLOSE {background-position:right 0}