.lof-li-wrapper {
    display: inline-block;
}
.lof-head h2 {
    border-bottom: 1px solid #C2C2C2;
    margin-bottom: 15px;
    padding: 10px;
    text-transform: uppercase;
    font-family: cursive;
    background: #7FC345;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 5px #508530, 0 0 0 #385E25, 0 9px 10px rgba(0, 0, 0, 0.4), 0 2px 9px rgba(255, 255, 255, 0.2) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
}
.lof-deal .lof-head-title {
    position: relative;
    padding: 10px;
}
.lof-deal p.total {
    border: 1px dashed #F28D18;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 2px 10px;
    font-family: cursive;
}
.lof-deal .lofdeal_right .price_action {
    position: relative;
}
.lof-deal .lof-head-filter {
}
.lof-deal .lof-head-filter .lof-filter {
    padding-left: 10px;
    background: none;
    position: relative;
}
.lof-deal .lof-head-filter .lof-filter .col:last-child {
    margin-right: 0;
}
.lof-deal .lof-head-filter .lof-filter label {
    font-weight: bold;
}
.lof-deal .lof-head-filter .lof-filter input.lof-submit {
    background-color: #FEBF4D;
    background-image: linear-gradient(#FFD974, #FEBF4D);
    border: 1px solid #E6B650;
    color: #986A39;
    text-shadow: 1px 1px 1px #FBE5AC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px #FFFFFF inset;
    display: block;
    font-family: Helvetica, Arial, sans serif;
    font-size: 12px;
    padding: 8px 12px;
    text-decoration: none !important;
    padding: 5px 9px;
    margin-top: 7px;
}

.lof-deal .lof-head-filter .lof-filter input.lof-submit:hover {
    background-color: #FFD974;
    background-image: linear-gradient(#FEBF4D, #FFD974);
    border: 1px solid #C1913D;
    cursor: pointer;
}
.lof-deal .lof-head-filter .lof-filter select {
    margin-left: 0px;
}
.lof-deal .lof-head-filter .lof-filter .col {
    float: left;
    margin-bottom: 15px;
    margin-right: 40px;
}
.lof-deal .lof-content {
    display: inline-block;
}
.lof-deal .lof-content ul li {
    list-style: none outside none;
    box-shadow: 0 0 6px 1px #787878;
    border-radius: 4px;
    margin-bottom: 15px;
}

.lof-deal .lof-content ul li.first {
    height: auto;
}
.lof-deal .lof-content ul li.first .lof-date {
}
#center_column .lof-deal .lof-content ul li .of-date {
    padding-left: 0px;
}
.lof-deal .lof-content ul li .lof-date {
    color: #F28D18;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    margin-bottom: 5px;
}
.lof-deal .lof-content ul li h4 {
    text-align: center;
    font-size: 16px;
    color: #595A5E;
    margin-bottom: 5px;
}
.lof-deal .lof-content ul li a.lof-addcart {
    background-clip: border-box;
    background-image: url("images/button_bg.png");
    background-position: left bottom, right top, 0 0px, 0 0;
    background-repeat: no-repeat;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 1px #FFFFFF inset;
    cursor: pointer;
    display: inline-block;
    font: 18px Cursive, Arial, sans-serif;
    padding: 10px 20px;
    position: relative;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    transition: background-position 1s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #E38D27;
    background-image: url("images/button_bg.png"), url("images/button_bg.png"), radial-gradient(circle at center bottom, #E8BD2D 0px, rgba(232, 189, 45, 0) 100px), linear-gradient(#F1982F, #D4821F);
    border: 1px solid #BEA280 !important;
    color: #693E0A !important;
    margin-right: 15px;
    font-weight: bold;
}
.lof-deal .lof-content ul li a.lof-addcart:hover {
    background-color: #EC9732;
    background-position: left top, right bottom, 0 0px, 0 0;
    background-image: url("images/button_bg.png"), url("images/button_bg.png"), radial-gradient(circle at center bottom, #F1C034 0px, rgba(241, 192, 52, 0) 100px), linear-gradient(#F9A746, #E18F2B);
}
.lof-deal .lof-content ul li a.lof-addcart {
    float: right;
    position: relative;
    z-index: 1;
}
.lof-deal .lof-content ul li a.lof-addcart:hover {
    text-decoration: none;
}
.lof-deal .lof-content ul li span.lof-addcart {
    background: url(images/label_blue_buy.png) no-repeat 0 0 transparent !important;
    margin-top: 10px;
    width: 128px;
    opacity: 0.2;
    height: 128px
}
.lof-deal .lof-content ul li a:hover {
    text-decoration: underline;
}
.lof-deal .lof-content ul li .pic {
    text-align: center;
    position: relative;
}
.lof-deal .lof-content ul li .pic .product_image {
    display: inline-block;
}

.lof-deal .lof-content ul li .pic .isopen {
    background: url(images/isopen.png) no-repeat scroll 0 0 transparent;
    top: 5px;
    height: 65px;
    position: absolute;
    width: 65px;
    z-index: 1;
    left: 5px
}
.lof-deal .lof-content ul li .pic .isclosed {
    background: url(images/success.png) no-repeat scroll 0 0 transparent;
    top: -3px;
    height: 65px;
    position: absolute;
    left: -6px;
    width: 65px;
    z-index: 1;
}
.lof-deal .lof-content ul li .pic .isfuture {
    background: url(images/future.png) no-repeat scroll 0 0 transparent;
    top: 5px;
    height: 63px;
    position: absolute;
    left: 5px;
    width: 68px;
    z-index: 1;
}
.lof-deal .lof-content ul li .info {
    color: #666666;
    float: left;
    font-size: 12px;
}
.lof-deal .lof-content ul li .clear {
    clear: both;
}
.lof-deal .lof-content ul li.alt {
    border-right: medium none;
    padding-left: 10px;
}
.lof-time-left {
    margin-left: 30px;
    margin-top: 5px;
}
.deal-clock .lof-labelexpired {
    font-size: 14px;
    font-weight: bold;
    color: #D30000;
    margin-left: 35px;
    padding-top: 5px;
}
.deal-clock {
    margin: auto;
    width: 100%;
}
.deal-clock div {
   /* float: left;*/
    font-size: 11px;
    /*padding: 0 3px 3px 3px;*/
    text-align: center;
}
.deal-clock div b {
    clear: both;
    color: #FFFFFF;
    display: block;
    font-size: 34px;
    height: 45px;
    line-height: 1.2;
    padding: 2px 0 0;
    width: 45px;
    background-color: #000000;
}
.lof-deal .lof-paging {
    padding-right: 10px;
    margin-top: 5px;
}

.lof-deal .lof-paging ul {
    font-size: 12px;
    padding: 10px 0;
    text-align: right;
    white-space: nowrap;
}

.lof-deal .lof-paging ul li {
    display: inline;
    margin: 0 1px;
    list-style: none outside none;
}
.lof-deal .lof-paging ul li.current {
    font-weight: bold;
    margin: 0 6px;
}
.lof-deal .lof-paging ul li a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 8px 18px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 35px 5px 35px 5px;
    background-color: #7FC345;
    box-shadow: 0 5px 5px #508530, 0 5px 0 #385E25, 0 9px 10px rgba(0, 0, 0, 0.4), 0 2px 9px rgba(255, 255, 255, 0.2) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
}
.lof-deal .lof-paging ul li a:hover {
    box-shadow: 0 5px 5px #508530, 0 5px 0 #385E25, 0 9px 10px rgba(0, 0, 0, 0.4), 0 2px 15px rgba(255, 255, 255, 0.4) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
}

.lof-deal .lof-li-wrapper .des {
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    line-height: 1.5;
    margin-bottom: 14px;
    overflow: hidden;
    padding: 10px 10px 10px 0;
    color: #595A5E;
    font-family: cursive;
}
.lof-sale {
    color: #5CBE29;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}
.view_cart {
    position: absolute;
    right: 0;
    top: 0;
}
.lofdeal_left {
    float: left;
    width: 30%;
}
.lofdeal_right {
    float: right;
    width: 70%;
}
.show_price {
    position: relative;
}

.lof-discount, .lof-save {
    border-right: 1px solid #C2C2C2;
    float: left;
    padding: 4px 15px;
    font-size: 14px;
    font-family: 'Arial';
    color: #595A5E !important;
    line-height: 1.2;
}
.lof-save {
    background: url("images/price-save.png") no-repeat scroll 13px -21px transparent;
    color: #595A5E !important;
    padding-left: 20px;
    text-indent: 10px;
    margin-right: 15px;
}
.lof-price {
    color: #818286 !important;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: line-through;
}
.lof-discount {
    background: url("images/down-icon.png") no-repeat scroll 0 0 transparent;
    color: #595A5E !important;
    padding-left: 35px;
}
.discount {
    margin-left: 15px;
}
.lof-deal .lof-head-filter .lof-filter .col select {
    border-radius: 4px;
    border: 1px solid #F28D18;
}
/* TABS */
/* MENU */
#menu {
    border-bottom: 5px solid rgba(255, 178, 80, 0.8);
    margin-bottom: 8px;
}
#menu ul {
    list-style: none;
    display: inline-block;
    position: relative;
    top: 3px;
}
#menu ul li {
    display: inline;
    float: left;
}

/* background color set to RGBA, with opacity on 0.3 and also using text-shadow */
#menu ul li a {
    padding: 15px;
    background: rgba(161, 204, 15, 0.8);
    text-decoration: none;
    font: bold 14px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: #402e16;
    text-shadow: #eee 0px 0px 2px;
    display: block;
    border-radius: 12px 12px 0 0;
}

/* hover state shows a linear gradient and opacity it brought down to 0.9 and also shows a very slight grey gradient on top */
#menu ul li a:hover {
    -moz-box-shadow: 0 -5px 10px #777;
    -webkit-box-shadow: 0 -5px 10px #777;
    background: -webkit-gradient(linear, right bottom, left top, color-stop(0, rgb(237, 227, 112)), color-stop(0.72, rgb(255, 173, 10))) !important;
    background: -moz-linear-gradient(right bottom, rgb(237, 227, 112) 0%, rgb(255, 173, 10) 72%) !important;
    background-color: rgb(255, 173, 10) !important;
    -moz-opacity: .90;
    filter: alpha(opacity=90);
    opacity: .90;
}

/* another RGBA background, now with an opacity of 0.8 */
#menu ul li.lofactive a {
    background: rgba(255, 178, 80, 0.8) !important;
}
.deal-span {
    border: 1px solid #D1D1D1;
    margin: 10px auto 20px 0;
    height: 362px;
}
.deal-row {
    border-top: 2px solid #0169C0;
    height: 25px;
    /*margin-bottom: 20px;*/
}
.deal-price {
    margin: 25px auto 10px;
}
.carousel-deal a {
    color: #046abe;
    font-size: 18px;
}
.deal-time-text {
    font-size: 19px;
    margin-right: 10px;
    color: #00002C;
}
.deal-item {
    float: left;
    position: relative;
    height: 332px !important;
}
.xdsoft_flipcountdown {
    display: block !important;
    margin: 0 auto;
    width: 225px;
}
.des {
    font-size: 17px;
    text-align: center;
}
.deal-info {
    float: left;
    margin-top: 34px;
    text-align: center;
    width: 50%;
}
.deal-img {
    float: left;
    width: 40%;
}
.deal-new-price {
    width: 50%;
    float: left;
    text-align: right;
}
#deal-right{
    background: url("../../../../../themes/leocame/img/next-sug.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 23px;
    margin-left: 4px;
    margin-top: 3px;
    width: 23px;
}
#deal-left{
    background: url("../../../../../themes/leocame/img/prev-sug.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 23px;
    margin-left: 4px;
    margin-top: 3px;
    width: 23px;
}