@font-face {
	font-family: 'helveticaneue';
	src: url('fonts/helveticaneue.eot');
	src: local('?'), url('fonts/helveticaneue.ttf') format('truetype'), url('fonts/helveticaneue.woff') format('woff'), url('fonts/helveticaneue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'vni-helve-condense';
	src: url('fonts/vni-helve-condense.eot');
	src: local('?'), url('fonts/vni-helve-condense.ttf') format('truetype'), url('fonts/vni-helve-condense.woff') format('woff'), url('fonts/vni-helve-condense.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#lofadvafooterfooter{
	margin-top: 20px;
	margin-bottom: 20px;
}
#lofadvafooterfooter #lofadva-pos-1 li {
	list-style:none;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul{
	float: right;
    margin: 0;
    padding: 0;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul li{
	float: left;
	list-style: none outside none;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul li.twitter a{
	background: url("images/social_twitter.png") no-repeat scroll 0 0 transparent;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul li.rss a{
	background: url("images/social_rss.png") no-repeat scroll 0 0 transparent;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul li.facebook a{
	background: url("images/social_fb.png") no-repeat scroll 0 0 transparent;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul li.skype a{
	background: url("images/social_skype.png") no-repeat scroll 0 0 transparent;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul li.linkedin a{
	background: url("images/social_in.png") no-repeat scroll 0 0 transparent;
}
#lofadvafooterfooter #lofadva-pos-1 .lof-text ul li a:hover {
    background-position: 0 -27px;
}
#lofadvafooterfooter #lofadva-pos-2{
    clear: both;
    line-height: 20px;
    overflow: hidden;
    padding:0px 0 20px 0;
}
#lofadvafooterfooter #lofadva-pos-2 li {
	list-style:none;
	width:100% !important
}
#lofadvafooterfooter #lofadva-pos-2 li .custom-content{
	padding:0 5px 0 15px;
}

#lofadvafooterfooter #lofadva-pos-2 li.link{
	line-height:24px
}
#lofadvafooterfooter #lofadva-pos-2 li.link:hover
{
	background:#88b828
}
#lofadvafooterfooter #lofadva-pos-2 li.link:hover a
{
	color:#fff;
	padding-left:10px
}
.lof-block-wrap
{
	margin-right:20px;
}
.lofadva-block-5 .lof-block-wrap
{
	margin-right:0px;
}
