.page-category .file-image, .page-download .file-image{ margin-right:8px; }
/* CATEGORY PAGE */
.page-category .download-header{ background:#F0F0F0; padding:8px 5px; margin-bottom:6px; }
.page-category  .category-item {  border-bottom:#EEE dotted 1px; padding:8px 5px; }
.page-category  .category-item:hover{ background:#F4F4F4 }

.category-files .file-item .file-title{ width:74%; float:left }
.category-files .file-item .file-vote{ overflow:hidden; padding-top:8px; }
.category-files .file-item .file-download{ width:24%;  float:right}
.category-files .file-item{    border-bottom: 1px dotted #EEEEEE;  padding: 8px 5px; }
.category-files .file-item:hover{  background:#F0F0F0 }
.category-files .file-item .file-description{ width:60%; float:left;margin-top:6px; }
.category-files .file-item .file-meta{   border: 1px solid #F3F3F3; float: right; padding: 6px; width: 36%; margin-top:6px; }

.category-files .odd{ background:#F5F5F5}

/* DOWNLOAD PAGE */
.page-download .download-wrapper > div { position:relative; overflow:hidden; padding:6px 10px; }
.page-download .download-header h4{ display:inline; } 
.page-download .download-wrapper > div.download-information{ width:52.6%;float:left; }
.page-download .download-wrapper   div.download-meta-wrapper{ width:38%; float:right; background:#F5F5F5; border:#E6E6E6 dotted 1px; 
-moz-transition:background-color 1s;-webkit-transition:background-color 1s }
.page-download .download-wrapper   div.download-meta-wrapper:hover{ background:#FFF; -moz-transition:background-color 1s; -webkit-transition:background-color 1s  }
.page-download .download-wrapper > div.download-meta-wrapper h4 { padding:6px; background:#DDD }
.page-download .download-wrapper  .download-meta{ line-height:1.8em; }
.page-download .download-wrapper  .download-meta span { color:#404040 }
.page-download .download-wrapper .download-button {  margin: 0 auto;   width: 120px; padding-top:8px;  }

.page-download .download-header .file-vote{ float:right;}
.page-download .preview-icon, .page-category .preview-icon ,.lofdownload-productfiles .preview-icon{ background:url(images/preview.png) no-repeat;margin: 0 2px; padding: 0px 8px; text-decoration:none}
/***/
.but-silver {
    background: url("images/but-silver-l.png") no-repeat scroll left center transparent;
}
.button-img {
   display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 42px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button-img span {
	 display: block;
    float: left;
    font-family: "Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 110%;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-right: 18px;
}
.button-img .icon {
    background-position: center center !important;
    background-repeat: no-repeat;
    left: 5px;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
 
}
.but-silver span {
	 background: url("images/but-silver.png") no-repeat scroll right center transparent;
    color: #606060;
}
.icon-download { background-image: url("images/icon-download.png") !important; width:35px; }
.message-error{ background:#FFEAEA; border:#FF8080 solid 1px; padding:8px 12px; margin:12px 0; font-weight:bold; font-size:11px; }

.file-item  .file-icon{  padding: 1px 12px;margin:0 0 0 6px; }
.file-item .icon-hot{ background:url(images/hotfile.gif) no-repeat 0 0;   }
.file-item .icon-new{ background:url(images/newfile.gif) no-repeat 0 0;   }
.file-item .icon-update{ background:url(images/icon-updated.gif) no-repeat 0 0 ; padding: 1px 32px; }

/**
 * RATING BLOCK
 */
.ratingblock {	display:block;	 padding-bottom:8px;	margin-bottom:8px;	}
.loading {	height: 10px;	background: url('images/working.gif') 50% 50% no-repeat;	}
.unit-rating { 	list-style:none;	margin: 0px;	padding:0px;	height: 10px;	position: relative;	background: url('images/star.png') top left repeat-x;	}
.unit-rating li{   text-indent: -90000px;	padding:0px;	margin:0px;	float: left; }
.unit-rating li a {
	outline: none;
	display:block;
	width:11px;
	height: 10px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
.unit-rating li a:hover{
	background: url('images/star.png') left center;
	z-index: 2;
	left: 0px;
}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:11px;}
.unit-rating a.r2-unit{left:11px;}
.unit-rating a.r2-unit:hover{width: 22px;}
.unit-rating a.r3-unit{left: 22px;}
.unit-rating a.r3-unit:hover{width: 33px;}
.unit-rating a.r4-unit{left: 33px;}	
.unit-rating a.r4-unit:hover{width: 44px;}
.unit-rating a.r5-unit{left: 44px;}
.unit-rating a.r5-unit:hover{width: 55px;}
.unit-rating a.r6-unit{left: 55px;}
.unit-rating a.r6-unit:hover{width: 66px;}
.unit-rating a.r7-unit{left: 66px;}
.unit-rating a.r7-unit:hover{width: 77px;}
.unit-rating a.r8-unit{left: 77px;}
.unit-rating a.r8-unit:hover{width: 88px;}
.unit-rating a.r9-unit{left: 88px;}
.unit-rating a.r9-unit:hover{width: 99px;}
.unit-rating a.r10-unit{left: 99px;}
.unit-rating a.r10-unit:hover{width:110px;}

.unit-rating li.current-rating {
	background: url(images/star.png) repeat-x left bottom;
	position: absolute;
	height: 10px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}
.voted {color:#818181; font-size:9px}
.vote-message-error {color:#BF0000; font-size:9px}

.thanks {color:#36AA3D;}
.static {color:#5D3126;}
.w-rating1{ width:11px}
.w-rating2{ width:22px}
.w-rating3{ width:33px}
.w-rating4{ width:44px}
.w-rating5{ width:55px}

/** PRODUCT - FILES */
.lofdownload-productfiles { padding:12px 0}
.lofdownload-productfiles a{ text-decoration:none}
.lofdownload-productfiles .file-item { padding-bottom:6px; }
.lofdownload-productfiles fieldset{ padding:10px 8px; border:#E4E4E4 solid 1px }
.lofdownload-productfiles fieldset legend{ padding:0 6px; font-weight:bold; font-size:11px; color:#76839B}
.lofdownload-productfiles fieldset:hover{ border-color:#D0D3D8; -moz-transition:1s}
.lofdownload-productfiles div.file-img, .lofdownload-productfiles div.file-meta { float:left; }
.lofdownload-productfiles div.file-meta{ font-size:11px; color:#666; padding-left:12px}