.formticket {
	width:100%;
	font-size:12px;
	font-family:Arial;
}
.formticket label{
	clear: both;
    color: #000000;
    display: block;
    font-weight: bold;
    margin: 8px 0 0;
    padding: 0.2em 0.5em 0 0;
    text-align: left;
}
.formticket div.margin-form{
	color: #7F7F7F;
    font-size: 0.85em;
}
.formticket div.margin-form label{
	float: none;
    font-weight: normal;
	clear: both;
	display: inline;
}
.formticket sup{
	color: #CC0000;
    font-weight: bold;
    vertical-align: text-top;
}
.formticket input, .formticket select, .formticket span.editable {
    font-size: 12px;
    margin-left: 0;
	width:225px;
	background: none repeat scroll 0 0 #F8F8F8;
}
.formticket textarea{
	width:500px;
	margin-left: 0;
	background: none repeat scroll 0 0 #F8F8F8;
}
.formticket input.lof, .formticket textarea.lof, .formticket select.lof{
	width:225px;
}
.formticket input.loffilter{
	width: 187px;
}
.formticket input.lofbutton, .formmessage input.lofbutton{
	background:url(images/button.png) repeat-x;
	border: 0 none;
    height: 24px;
    margin: 0;
    padding: 0 12px;
	border-radius: 7px 7px 7px 7px;
    box-shadow: 0 2px 2px #DDDDDD;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
	width: auto;
}
.formticket span.editable {
	font-weight: bold;
	color:#000;
}
.formticket .custom-field  input{
	width:auto;
}
.formticket #siimage {
     margin-left: 0;
}
.formticket .div_filter {
     margin-top: 3px;
}
.formmessage input,.formmessage textarea, .formmessage p, .formticket p{
	margin-left: 0px !important;
	padding-left: 0  !important;
	display: inline;
	font-size: 11px;
}
.formmessage input.lofbutton{
	padding-left: 12px!important;
}
#lof_files input{
	margin: 8px 0 0;
}
/** NEW */


.lof_star_rating {
    background: url(images/alt_star.gif) repeat-x scroll left top transparent;
    height: 25px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 125px;
}
.lof_star_rating li#lof_current_rating {
    background: url(images/alt_star.gif) repeat scroll left center transparent;
    display: block;
    height: 25px;
    position: absolute;
    text-indent: -9000px;
    z-index: 1;
}
.lof_star_rating li {
    background-image: none;
    float: left;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 25px;
}
.lof_feedback_selected_0 {
    width: 0 !important;
}
.lof_feedback_selected_1 {
    width: 30px !important;
}
.lof_feedback_selected_2 {
    width: 55px !important;
}
.lof_feedback_selected_3 {
    width: 80px !important;
}
.lof_feedback_selected_4 {
    width: 105px !important;
}
.lof_feedback_selected_5 {
    width: 130px !important;
}


.lofaddnew {
	text-align:left;
	padding-left: 5px;
}
.lofitem {
	padding: 5px;
	text-align: left;
}
.lofitem  a{
	text-decoration:none;
	color:#0B55C4;
}

.lofitem .lofheader {
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E2E2E2;
    padding: 5px;
	margin-bottom: 10px;
    overflow: hidden;
	position:relative;
}
.lofitem .lofheader .logavatar{
	float: left;
    margin-right: 10px;
}
.lofitem .lofheader .lofname .name_email,.topmessage .lofcontent h2{
	font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: 8px 0 0;
	text-shadow: 1px 1px 0 #FFFFFF;
	color: #2570BB;
	font-family: 'KreonRegular';
}
.lofitem .lofheader .lofdate{
	font-size: 11px;
    margin: 3px 0 0;
}
.lofitem .lofcontent{
	padding: 0 0 10px 10px;
}
.topmessage .lofheader {
	border:none;
	margin-bottom:0px;
}
.topmessage .lofcontainer {
	border: 1px solid #E2E2E2;
	background: none repeat scroll 0 0 #FAFAFA;
}
.lofitem .file {
	margin-left: 10px; 
}
.lofitem .files {
	margin-top: 15px;
}
.lofitem .file span{
	font-style: italic;
}
.topmessage .files{
	padding: 0 0 5px;
}
.topmessage .lofcontent h2 {
	text-transform:none;
	padding-left:0px;
	background:none;
}
.lofaction {
	padding-left:5px;
	margin: 10px 0;
}

.lofcontents a.lofbutton{
	background:url(images/button.png) repeat-x;
    padding: 3px 12px;
	border-radius: 7px 7px 7px 7px;
    box-shadow: 0 2px 2px #DDDDDD;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
	width: auto;
	text-decoration: none;
}
#center_column .lofaction p{
	padding-left:0px;
}
.lofform {
	padding-left:5px;
}
h3.comments-meta{
	color: #2570BB;
    font-family: 'KreonRegular';
    font-size: 14px;
    line-height: 18px;
    margin: 15px 0 0;
    padding-left: 5px;
}
#show-ful-info {
	text-align:left;
	padding-bottom:12px;
}
#show-ful-info fieldset{
	margin-top: 12px;
    border: 1px solid #E2E2E2;
    padding: 1em;
	padding-left:0px;
}
#show-ful-info legend {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E2E2E2;
    font-weight: 700;
    margin-left:1em;
    padding: 0.2em 0.5em;
    text-align: left;
}
#lofshowinfo {
	position: absolute;
    right: 10px;
    top: 10px;
}



table.lof {
	width:100%;
}
table.lof td{
	border-bottom:1px solid #F0F0F0;
	height: 20px;
}
table.lof td.left{
	background:#FAFAFA;
	padding-left: 5px;
}
.information div{
	border-bottom:1px solid #F0F0F0;
	padding:5px 0px 0px 10px;
}
.information div.row{
	background:#FAFAFA;
}
.toplofaction {
	height: 22px;
    margin-top: 10px;
    width: 100%;
	padding-left: 5px;
}
.lofmessa {
	padding-left: 6px;
}
#center_column .lofmessa p{
	padding-left: 0px;
}
.toplofaction a,a.click_reply{
	text-decoration:none;
}
.toplofaction .lofnotice{
	width:120px;
	float:left;
}
.toplofaction .lofac{
	width:120px;
	float:left;
}
.margin-form{
	text-align: left;
}
#fancybox-frame {
	overflow: scroll;
}
.lofitem .hr{
	background-color: #E0D0B1;
	color: #E0D0B1;
    height: 1px;
}
.lofitem .lofheader .lofname .name_email {
    color: #000000;
    font-weight: bold;
}

.lofmessa .lof_star_rating li.hover a{
    background: url("images/alt_star.gif") repeat scroll left center transparent;
    display: block;
    height: 25px;
    position: absolute;
    text-indent: -9000px;
    z-index: 1;
	width: 30px;
}
.lofmessa .lof_star_rating li a{
    display: block;
    height: 25px;
    position: absolute;
    z-index: 1;
	width: 30px;
	text-decoration:none;
}
.lof-tickets table td.subject a {
	color: #135CAE;
	text-decoration: none;
}

h2.lof_h2 {
	background:none;
	padding-left: 0;
}

.lof_std {
	border: 1px solid #BEBCB7;
    width: 100%;
}
.lof_std  td{
    color: #0A263C;
    font-weight: bold;
    padding: 6px 2px;
    vertical-align: middle;
    white-space: nowrap;
	font: 12px/1.55 Arial,Helvetica,sans-serif;
}
.lof_std  thead th {
	background: url("images/bkg_th.gif") repeat-x scroll 0 100% #D9E5EE;
    border-right: 1px solid #C2D3E0;
    color: #0A263C;
    padding: 2px 8px;
    vertical-align: middle;
    white-space: nowrap;
	font: bold 12px/1.55 Arial,Helvetica,sans-serif;
}
.lof_std  .even {
	background: none repeat scroll 0 0 #F8F7F5;
}
.lof_std  .odd {
	background: none repeat scroll 0 0 #EEEDED;
}
.lof_std thead th, .lof_std tbody td {
    border-bottom: 1px solid #D9DDE3;
    border-right: 1px solid #D9DDE3;
}
.lof_std thead th.last_item, .lof_std tbody td.last_item {
    border-right: 0 none;
}
.ticket-row:hover TD {
    background-color: #FFFFCC !important;
}