@charset "utf-8";
/* CSS Document */
.page-wrapper{ display:block; width:100%;}

.lof-inner > h4{
	padding:10px 0 
}
.lof-cusbo .item-wrapper{ float:left; width:100%; padding-bottom:6px; position:relative }
.lof-cusbo .item-wrapper img{ float:left; margin-right:5px; padding:3px;}
.lof-cusbo .item-wrapper:hover img{
	border-color:#999;  -moz-transition:border-color 0.5s ease-in 0.3s;
}
.lof-cusbo .item-wrapper > h5{ font-size:110%}
.lof-cusbo .bottom-wrap a{ font-weight:bold; font-size:11px; }
.lof-cusbo .item-wrapper > h5,
.lof-cusbo .item-wrapper > p,
.lof-cusbo .item-wrapper > div{
	overflow:hidden;
	 margin: 0.5em 0;
    padding-left: 0.7em;
}

.lof-cusbo  .item-wrapper .lof-inner {
  border: 2px solid #E1E1E1;
    margin: 0 2px !important;
    padding: 5px 4px !important;
	 -moz-transition:border-color 0.5s ease-in-out 0.3s; 
}
.lof-cusbo  .bottom-wrap {	clear:both; }
.lof-cusbo .bottom-wrap .button, 
.lof-cusbo .bottom-wrap .exclusive{
	float:left;
	margin:3px;
}

/**slider */
.lof-cusbo .box-content{	position:relative;}
.lof-cusbo .box-content .preload{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	text-align:center;
	background:#FFF
}
.lof-cusbo .box-content .preload div{
	height:100%;
	width:100%;
	background:transparent url(load-indicator.gif) no-repeat scroll 50% 50%;
}
.lof-cusbo  .lof-main-outer{
	position:relative;
	height:100%;
	width:900px;
	z-index:3px;
	overflow:hidden;

}


/*******************************************************/
 
/* main flash */
.lof-cusbo  ul.lof-main-wapper{
	/* margin-right:auto; */
	overflow:hidden;
 
	padding:0px;
	margin:0;
	position:absolute;
	overflow:hidden;
}

.lof-cusbo  ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	float:left;
	position:relative;
	display:block;
}
.lof-cusbo  .lof-opacity {
	overflow:visible  !important;;
	position:absolute !important;
}
.lof-cusbo  .lof-opacity  li{
	position:absolute  !important;;
	top:0;
	left:0;
	float:inherit  !important;
}
.lof-cusbo  ul.lof-main-wapper li img{	padding:0px;	}

/* item navigator */
.lof-cusbo  .lof-navigator-wapper {	position:absolute;	top:-40px;	right:6px;	padding:5px 15px;}
.lof-cusbo .lof-navigator-outer{	position:relative;	z-index:100;	overflow:hidden;	float:left }
.lof-cusbo ul.lof-navigator{	top:0;	padding:0;	margin:0;	position:absolute;	width:100%;}
 .lof-cusbo ul.lof-navigator li{	cursor:hand; 	cursor:pointer;	list-style:none;	padding:0;	margin-left:0px;	overflow:hidden;	float:left;	display:block;	text-align:center;
}
ul.lof-navigator li span{ display:block; padding:10px; position:relative; line-height:0.5em  }
ul.lof-navigator li.active , ul.lof-navigator li:hover  {	 	color:#000;	display:block;	font-weight:bold; 	font-size:11px}
.lof-cusbo .box-content .button-control {    float: left;    height: 27px;    width: 30px;	cursor:hand; cursor:pointer}
.lof-cusbo .box-content .action-start  {	background:url(play.png) no-repeat center center;}
.lof-cusbo .box-content .action-stop  {	background:url(pause.png) no-repeat center center;}

.lof-cusbo .lof-navigator-wapper .lof-previous{	background:url(navigator-buttons.png) no-repeat 0 center;	}
.lof-cusbo .lof-navigator-wapper .lof-next{	background:url(navigator-buttons.png) no-repeat -71px center;	}
.lof-cusbo .lof-navigator-wapper .lof-previous, 
.lof-cusbo .lof-navigator-wapper .lof-next{	float:right;	cursor:hand; cursor:pointer;	text-indent:-999em;	height: 27px;    width: 30px;	overflow:hidden}
