/* Special style for block cart*/
#left_column #cart_block, #right_column #cart_block {
}
#header  #cart_block .title_block, #header  #cart_block h4 {
	display:none;
}
#header #cart_block {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: -1px 3px 8px -1px #64649A;
    display: none;
    max-width: 400px;
    min-width: 300px;
    position: absolute;
    top: 26px;
    z-index: 9999;
    left: 74px;
    margin-top: 30px;
}
#cart_block.cart_block_hover {display:block}
#cart_block .title_block  span, #header  #cart_block h4 {
	float:left;
	padding-right:10px;
	text-transform:none;
	background-position:right top;
	background-repeat:no-repeat;
	cursor:pointer
}

#cart_block  .block_content {padding:8px 8px 16px 8px;}

#cart_block #cart_block_summary {display:none}
#cart_block .quantity-formated {
	display:inline-block;
	margin-left:5px;
	min-width:18px;
}
#cart_block .cart_block_product_name {font-weight:bold}
#cart_block .remove_link {
    display: inline-block;
    float: left;
    height: 12px;
    margin: 4px 5px 0 0;
    width: 12px;
}
#cart_block .remove_link a {
	display:inline-block;
	height:12px;
	width:12px;
	background:url(img/icon/delete.gif) no-repeat 0 0
}
#cart_block .price {
    float: left;
    font-size: 12px;
    font-weight: normal;
}

#cart_block #cart_block_list dl {
	padding-bottom:10px
}
#cart_block #cart_block_list dt {
    font-size: 11px;
    padding: 4px 0;
    background: none !important;
    border: none !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
}
#cart_block #cart_block_list dt a {font-weight:bold;margin-left: 50px;}
#cart_block #cart_block_list dd {
	margin-right:20px;
    display: none;
}

#cart_block #cart-prices {
	padding:10px 4px;
	line-height:20px;
	font-weight:bold;
	border-top:1px solid #999
}
#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
	float:left
}
#cart_block #cart_block_shipping_cost {font-weight:bold}

#cart_block #cart-buttons .button_small {display:none;}
#cart_block #cart-buttons  #button_order_cart {
    background: none repeat scroll 0 0 #169EE4;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    display: block;
    margin: 17px auto 0;
    text-align: center;
    width: 98px;
}
#cart_block #cart-buttons  #button_order_cart:hover
{
	color:#fff;
}

#cart_block table#vouchers {
	clear:both;
	width:100%
}
#cart_block table#vouchers tr td{
	padding:2px;
}
#cart_block table#vouchers tr td.quantity{
	margin-left:5px;
	min-width:18px
}
#cart_block table#vouchers tr td.delete{
	padding-right:0;
	padding-left:0;
	text-align:left;
	width:15px;
}
.quantity {
  float: right;
  margin-left: 2px;
    font-size: 15px;
}
