/* block top languages */
#languages_block_top {
	background: #679712;
    border-radius: 0 0 0 5px;
    float: right;
	height:26px;
	border-style:solid;
	border-width:0px 0px 1px 1px;
	border-color:#84c114;
}
#languages_block_top ul#first-languages li {
	float: left;
	margin-right: 3px
}
#languages_block_top ul#first-languages li.selected_language {
	float: left;
	margin-right: 0.3em
}

