/**Button**/
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	background:#218cc1;
	color:#fff
}
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.button_mini_disabled:hover, input.button_small_disabled:hover, input.button_disabled:hover, input.button_large_disabled:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
input.exclusive_mini_disabled:hover, input.exclusive_small_disabled:hover, input.exclusive_disabled:hover, input.exclusive_large_disabled:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover,
a.exclusive_mini:hover, a.exclusive_smal:hover, a.exclusive:hover, a.exclusive_large:hover,
span.button_mini:hover, span.button_small:hover, span.button:hover, span.button_large:hover, #contact p.submit input:hover, 
span.exclusive_mini:hover, span.exclusive_small:hover, span.exclusive:hover, span.exclusive_large:hover, span.exclusive_large_disabled :hover{
	background:#a6a7a4;
	color:#fff
}
a:hover, .lnk a:hover
{
	color:#218cc1
}
.block .title_block a:hover, .s_title_block a:hover, .block .button_large:hover .block .bm_title_block,
.bm_title_block, .block .bm_title_block a:hover, .bm_title_block a:hover
{
		color:#218cc1
}
#cart_block #cart-buttons #button_order_cart,
.cart_navigation .button, .cart_navigation .button_large {
    background: #218cc1;
}
/**Breadcrumb**/
.breadcrumb > li
{
	color:#218cc1
}
/**Title**/
.title_category {
	background: #218cc1;
}
/**SortPagiBar**/
#bt_compare, #currencies_block_top {
	background:#218cc1;
}
/**Header**/
#languages_block_top .item-data ul
{
	background:#218cc1
}
#header .topbar {
    background: url("../images/bg_topbar.jpg") repeat-x
}
#languages_block_top {
    background:#218cc1
}
#currencies_block_top
{
	border-style:solid;
	border-width:0px 1px 1px 0px;
	border-color:#33b4f4;
}
#setCurrency .currencies_ul {
    background:#218CC1;
}
#languages_block_top
{
	border-style:solid;
	border-width:0px 0px 1px 1px;
	border-color:#33b4f4;
}
#header {
   background: url("../images/bg_header.jpg") repeat
}
#header > div {
     background: url("../images/bg_header_div.png") repeat
}
#shopping_cart {
	background: url("../images/cart.png") no-repeat 6px 11px
	}
/**Nav-top**/
.nav-collapse, .navbar .nav > li.active,  .navbar .nav > li:hover
{
	background-color:#218cc1 !important;
}
.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {
    background-color:#4d9dc4 !important;
}
.dropdown-submenu > .dropdown-menu {
    background:#218cc1;
}
#topnavigation #searchbox input.button {
    background:#218cc1;
}
/**Top-custom**/

.block .b_title_block, .b_title_block {
    color: #218cc1
}
/**Leoproducttabs**/

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background: #218cc1
}
#leoproducttabs .carousel-control {
	background-image: url("../images/main-sprite-blue.png")
}
.carousel-control.left {
    background-position: 0 0;
}
.carousel-control.right {
    background-position: -32px 0px;
}
.product_block .right_block .exclusive:hover {
    background:#218cc1
}
.product_block .product-container:hover
{
	 border: 1px solid #218cc1;
    box-shadow: 0 0 4px #218cc1;
}
.product_desc a:hover
{
	color:#218cc1
}
/**Lofmanufacturerscroll**/
#mycarouselHolder .jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("../images/next-pre.png") no-repeat left top;
}
#mycarouselHolder .jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("../images/next-pre.png") no-repeat right top;
}
#best-sellers_block_right li a.content_img:hover {
    border: 1px solid #218cc1;
}
/**Categories**/

#right_column .block .title_block {
    background: url("../images/icon-navright.png") no-repeat 13px center #F9F9F9;
	}
#categories_block_left li a:hover {
    color: #218cc1;
}
/***Footer**/
#newsletter_block_left input.button_mini , #lofadvafooterfooter #lofadva-pos-2 li.link:hover {
    background:#218cc1
}
#footer-bottom .copyright a, #footer-bottom a:hover
{
	color:#218cc1
}
#contentbottom .block .title_block {
	background-image: url("../images/main-sprite-blue.png");
	background-position: 0px -76px
}
#center_column .gray .title_block
{
	background-position: 0 -32px
}
.nav > li > a:hover {
    background-color: #218cc1
}
/**Pagination**/
ul.pagination .current span
{
	color:#218cc1
}
/**Order**/
ul.step li.step_current, .cart_total_price .total_price_container p, .cart_delete a.cart_quantity_delete,
a.price_discount_delete, ul.step li.step_current_end, table#cart_summary th, ul.address li.address_title, #order-list  th, #newsletter_block_left .btn {
    background:#218cc1;
}
ul.step li.step_done a, #order-detail-content a:hover {
    color: #218cc1;
}
.address_add .button_large:hover {
    background:#a6a7a4;
	color:#fff
}
/**Product-detail**/

#pb-left-column h1 span, .product_attributes p.bg-stock{
    background:#218cc1
}
#view_scroll_left, #view_scroll_right {
    background: url("../images/thumbs_left.png") no-repeat scroll center center #218cc1;
}
#view_scroll_right {
    background: url("../images/thumbs_right.png") no-repeat scroll center center #218cc1;
}
/**Slideshow**/
.camera_wrap .camera_pag .camera_pag_ul li {
	background-image: url("../images/main-sprite-blue.png");
	background-repeat:no-repeat;
	height:9px;
	width:9px;
	background-position:-64px 0
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent{background-position:-82px 0}
div.tags_block p a:hover{color:#218cc1}
#buy_block p#availability_statut {background:#218cc1;}
.idTabs .selected {background:#218cc1;}
.carousel-control {
    background-image: url("../images/main-sprite-blue.png");
}



