	
	#item_navipro a:hover {
		color:#FF0000 !important;
	}
	.navipro_left{
		float:left;
	}
	
	.navipro_right{
		float:right;
	}
	#item_navipro .navipro_left a,#item_navipro .navipro_right a{
		-webkit-border-radius: 2px;
		-moz-border-radius: 25px;
		border-radius: 20px;
		padding:5px;
		background:#598752;
		border-radius:6px;
		text-decoration: none;
		font-weight: bold;
		border:1px solid #CCC;
		color: #fff;
		box-shadow: 0 5px 5px #508530, 0 0 0 #385E25, 0 9px 10px rgba(0, 0, 0, 0.4), 0 2px 9px rgba(255, 255, 255, 0.2) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
	}
	#item_navipro .navipro_left a:hover,#item_navipro .navipro_right a:hover{
		background:#DDDDDD;
	}
	#item_navipro .navipro_left .readonly,#item_navipro .navipro_right .readonly{
		background:#F7F7F8;
		border:1px solid #C0CBD1;
	}
	.tooltip{
		box-shadow: 5px 8px 13px #818181; 
		-webkit-box-shadow: 5px 5px 8px #818181;
		-moz-box-shadow: 5px 5px 8px #818181;
		display:none;
		position:absolute;
		display:none;
		border:1px solid #CCC; 
		border-radius:7px;
		background:#FEFFE5;
		z-index:3000;
		padding-top:9px;
		padding-bottom:9px;
	}	
	.navigation {
		padding-top :15px;
		padding-bottom :12px;
	}
	#padtip{
		padding: 13px 0px 0px 13px;
	}
	.font_name{
		font-size: 16px;
		font-weight: bold;
	}
	.des {
		color: #55D328;
		font-family: cursive;
		font-size: 15px;
		font-weight: bold;
		height: 40px;
		line-height: 1.5;
		overflow: hidden;
		padding-bottom:5px;
	}
	.price {
		padding-top :5px;
		color: #FFB200;
		font: bold 15px 'Trebuchet MS',Geneva,Kalimati,sans-serif;
	}
	.clearfix{
		clear:both;
	}
	.tip_left{
		float:left;
	}
	.tip_right{
		float:right;
	}