#product_comments_block_extra a {
    padding-right: 10px;
    text-decoration: none;
    background: url(img/bg_li_rtl.png) no-repeat scroll 99% 45% #fff;

}

#product_comments_block_extra a:hover {
    text-decoration: underline
}

#product_comments_block_extra .comments_note {
}
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
    margin: auto;
    font-size: 14px;
    font-weight: normal;
}
#product_comments_block_extra .star_content {
}

form#sendComment fieldset {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee
}
form#sendComment h3 {
    font-size: 14px;
}
#new_comment_form p.text {
    margin-bottom: 0;
    padding-bottom: 0;
}
#sendComment p.text label,
#sendComment p.textarea label {
    display: block;
    margin: 12px 0 4px;
    font-weight: bold;
    font-size: 12px;
}
#sendComment p.text input {
    padding: 0 5px;
    height: 28px;
    width: 498px;
    border: 1px solid #ccc;
    background: url(../img/bg_input.png) repeat-x 0 0 #fff;
}
#sendComment p.textarea textarea {
    height: 80px;
    width: 508px;
    border: 1px solid #ccc;
}
#sendComment p.submit {
    padding: 0;
    text-align: right
}

#sendComment p.closeform {
    float: right;
    padding: 0;
    height: 12px;
    width: 12px;
    text-indent: -5000px;
    background: url(../img/icon/delete.gif) no-repeat 0 0
}

.star {
    cursor: pointer;
    float: left;
    height: 18px;
    overflow: hidden;
    text-indent: -999em;
    top: -3px;
    width: 18px;
}
/*.star, .star a { background:url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }*/
div.star_on a {
    background-position: 0 -12px
}
div.star_hover a, div.star a:hover {
    background-position: 0 -12px
}

#product_comments_block_extra div.star {
    background: url("img/star-off.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#product_comments_block_extra div.star_on {
    background: url("img/star-on.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#product_comments_block_extra .comments_advices {
    clear: both;
    display: none;
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
    width: 585px
}
#fancybox-content {
    width: 585px;
    border-width: 0
}

#new_comment_form {
    width: 585px;
    color: #333;
    text-align: right;
    background-color: #fff
}
#new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #333
}
#new_comment_form ul.grade_content {
    list-style-type: none
}
#new_comment_form .grade_content li {
    width: 50%
}
#new_comment_form .product {
    padding: 15px
}
#new_comment_form .product img {
    float: right;
    border: 1px solid #ccc;
}
#new_comment_form .product .product_desc {
    float: right;
    margin-right: 15px;
    width: 300px;
    line-height: 18px;
    color: #666
}
#new_comment_form .product .product_desc .product_name {
    padding-bottom: 5px;
    font-size: 13px;
    color: #000
}

#new_comment_form .grade_content {
    margin: 0 0 20px 0
}
#new_comment_form .grade_content span,
#new_comment_form .grade_content span {
    display: inline-block;
    padding: 0 10px;
    width: 150px; /* 160 */
    font-weight: bold
}
#new_comment_form .grade_content .cancel {
    margin-left: 5px
}

.new_comment_form_content .intro_form {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 12px
}

#new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px;
}
#new_comment_form input {
    padding: 0 5px;
    height: 28px;
    width: 540px;
    border: 1px solid #ccc;
    background: #fff;
}
#new_comment_form textarea {
    padding: 0 5px;
    height: 80px;
    width: 540px;
    border: 1px solid #ccc;
    background: #fff;
}

#new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: left
}
#new_comment_form button {
    cursor: pointer;
    cursor: pointer;
    display: inline-block;
    padding: 4px 7px 3px 7px;
    border: 1px solid #CC9900;
    border-radius: 3px 3px 3px 3px;
    font-weight: bold;
    color: #000;
    background: url(img/bg_bt.gif) repeat-x scroll right 0 #F4B61B
}

#new_comment_form #criterions_list {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    list-style-type: none;
}

#new_comment_form #criterions_list li {
    margin-bottom: 10px;
}

#new_comment_form #criterions_list label {
    display: inline;
    float: right;
    margin: 0 60px 0 0px;
}

#new_comment_form #criterions_list .star_content {
    float: left;
    margin-left: 180px;
}

#new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
    margin: 0 0 20px 0
}

#product_comments_block_tab div.comment {
    margin: 0 0 10px 0;
    padding: 5px;
    border-bottom: 1px dotted #ccc
}

#product_comments_block_tab div.comment div.comment_author {
    float: right;
    padding-left: 25px;
    width: 140px; /* 165 */
    line-height: 18px
}
#product_comments_block_tab div.comment div.comment_author span {
    font-weight: bold;
}
#product_comments_block_tab div.comment div.comment_author span,
#product_comments_block_tab div.comment .star_content {
    float: right;
}
#product_comments_block_tab div.comment .star_content {
    margin: 0 5px 0 0px
}
#product_comments_block_tab div.star,
#product_comments_block_tab div.star_on {
    background: url(img/star.gif) no-repeat right 0 transparent
}
#product_comments_block_tab div.star_on {
    background-position: 0 -12px
}
#product_comments_block_tab .comment_author_infos {
    clear: both
}
#product_comments_block_tab .comment_author_infos em {
    color: #999
}

#product_comments_block_tab div.comment div.comment_details {
    float: right;
    overflow: hidden;
    width: 360px
}
#product_comments_block_tab div.comment_details .title_block, #product_comments_block_tab div.comment_details h4 {
    padding-bottom: 10px
}
#product_comments_block_tab div.comment_details p {
    padding-bottom: 10px
}
#product_comments_block_tab div.comment_details ul {
    list-style-type: none;
    margin: 0
}
#product_comments_block_tab div.comment_details li {
    padding: 2px 12px 2px 0px;
    background: url(img/bg_li_rtl.png) no-repeat 99% 45% #fff
}

#product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold
}

#product_comments_block_tab a:hover {
    text-decoration: underline
}

#product_comments_block_tab button.usefulness_btn {
    cursor: pointer;
    margin: 0 5px 0 0px;
    display: inline-block;
    padding: 0 2px;
    border: 1px solid #CC9900;
    border-radius: 3px 3px 3px 3px;
    color: #000;
    font-weight: bold;
    background: url("img/bg_bt.gif") repeat-x scroll right 0 #F4B61B
}
#product_comments_block_tab button.usefulness_btn:hover {
    background-position: right -50px
}
#product_comments_block_tab button.usefulness_btn:active {
    background-position: right -100px
}

#product_comments_block_tab span.report_btn {
    cursor: pointer
}
#product_comments_block_tab span.report_btn:hover {
    text-decoration: underline
}

.fl {
    float: right;
}
.fr {
    float: left;
}
#write_review {
    text-align: center;
}
.info {
    display: none;
}
#user-rate-success {
    float: right;
    padding: 15px 40px 0 0;
    color: #008000;
}