/* block top user information */
#topminibasket {
    float: left;
    margin-top: 10px;
}

#header_right #header_user {
    border-left: 0.16em solid #FFFFFF;
    float: right;
    height: 72px;
    width: 60px;
}

#header_user #header_nav {
    list-style-type: none;
    float: right;
}
/* cart */
#shopping_cart a {
    color: #838992;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: normal;
    height: 14px;
    padding: 6px 6px;
    width:56px;
}

#shopping_cart a:hover {
    color: #2A83ED;
}
#shopping_cart span {
    color: #838992;
    display: block !important;
    float: right;
    margin-right: 0;
}

#shopping_cart a:hover span {
    text-decoration: none
}

#header_user #shopping_cart .ajax_cart_quantity {
    font-weight: bold;
    font-size: 18px
}

#header_user #shopping_cart .ajax_cart_total {
    display: none !important;
}

/* account */
#header_user #your_account {
    display: none;
}

#header_user #your_account a {
    background-image: url('img/icon/my-account.gif')
}

/* user infos */
#header_user_info {
    clear: both;
    float: right;
    text-align: center;
}
.logged {
    margin-top: 4px;
}
#header_user_info .nav-item {
    clear: both;
}

#header_user_info .nav-item {
    line-height: 20px;
    font-size: 15px;
    color: #fff;
}

#header_user_info .nav-item .item-top {
    color: #fff;
    font-weight: bold;
    padding: 0;
}

#header_user_info a {
    color: #838992;
    display: inline-block;
    float: right;
    font-weight: normal;
    line-height: 23px;
    max-width: 130px;
    min-width: 26px;
    padding: 0;
    text-align: center;
    margin: 8px 3px 0 0;
    font-size: 13px;
}
#header_user_info a:hover {
    color: #2A83ED;
}

#header_user_info a.account {
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
}

*:first-child + html #header_user_info a {
    line-height: 14px;
}

#header_user_info a.login {
    line-height: 13px;
}

#header_user_info a.logout {
    /*background: url('img/icon/logout.png') no-repeat 4px 4px;*/
    padding-right: 6px;
    margin-top: -2px;
}
.header_icons {
    float: right;
    margin-right: 22px;
    padding-top: 6px;
}
.header_text {
    color: #838992;
    text-align: center;
    width: 52px;
}
#header_text:hover {
    color: #2A83ED;
}
#header_text {
    color: #838992;
    float: right;
    font-size: 12px;
    line-height: 15.25px;
    width: 69px;
}
.header_img {
    float: right;
}
.header-img-div {
    float: right;
}
.login {
    float: right;
    margin-top: 2px;
    margin-right: 10px;
}
#header-div-contact {
    margin-left: 4px;
}
.basket {
    float: right;
    margin-top: -4px;
}
.telephone {
    background: url("../../../img/telephone.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
    color: #838992;
    float: left;
    font-size: 15px;
    padding-left: 18px;
    padding-top: 5px;
}
.welcome {
    color: #808080;
    float: right;
    margin-left: 6px;
}