.fixpos {
    position: fixed;
    top: 0;
    width: 100%
}
.pagination ul {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: block;
    margin: auto;
    width: 59%;
}
.pagination ul > li {
    display: inline;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.pagination ul > li > a, .pagination ul > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}
.activepage {
    background-color: #4682B4 !important;
    color: #FFFFFF !important;
}
.p-num:hover a {
    background-color: #4682B4 !important;
    color: #FFFFFF;
}
.site-box{
    border: 1px solid;
    float: right;
    margin-left: 5px;
    min-height: 131px;
    padding: 5px;
    width: 32%;
}
.site-box > span {
    float: right;
    margin-bottom: 3px;
    text-align: center;
    width: 100%;
}
.site-box button {
    display: block;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.priceshow {
    float: right;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.loading {
    margin: 10px auto 0;
}
.other-sites{
    display: none;
}
.filter-results {
    float: right;
    margin: 30px auto;
    width: 100%;
}
#fortoppos {
    width: 95%;
}