.nav > .dropdown:hover > .dropdown-menu{
	display:block;
}
.navbar
{
	float:right;
}
.navbar .nav > li > a
{
	color: #fff;
    float: none;
    padding: 0 20px;
    text-decoration: none;
	font-size:14px;
	padding: 14px 20px 13px 20px
}
.navbar .nav > li.active
{
	background:#4D4D4D
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
{
	color:#fff
}
.dropdown-menu li > a
{
	padding-left:20px;
	position:relative;
	font-weight:normal;
	color:#fff;
	font-size:14px;
}
.navbar-inner
{
	 min-height: 45px;
}
.nav  .first-item
{
	text-align:center;
}
.nav  .first-item:hover
{
	background:#88b828;
}
.nav  .first-item a
{
	display:block;
	padding:0;
	padding:0;
	background:url(../img/icon-home.png) center center no-repeat;
}
.navbar-inner
{
	padding:0;
}
.dropdown-submenu  > .dropdown-menu 
{
    background: none repeat scroll 0 0 #4D4D4D;
    border-radius: 0;
    margin: 0;
    right: 0;
    top: 100%;
    width: 632px;
    z-index: 1000;
}
.dropdown-submenu  .dropdown-menu  li a > .caret
{	
	border-left: 5px solid #C8C8C8;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
	top:13px;
	margin:0;
    vertical-align: top;
    width: 0;
	position:absolute;
	right:0.2em
}
.dropdown-submenu  .dropdown-menu li > a
{
	background:url(../img/bg-navlitop.png) no-repeat 142px center;
    padding-right:30px;
}
#topnavigation .dropdown-submenu  .dropdown-menu li > a:hover
{
	background:url(../img/bg-navlitop.png) no-repeat 142px center #5A5A5A;
}
.dropdown-menu li > a
{
	line-height:28px;
}
.dropdown-submenu  .dropdown-menu .dropdown-submenu > .dropdown-menu
{
	left:100%;
	top:0;
	
}
.dropdown-menu > li {
    display: inline-block;
    width: 158px;
}
