/** Pager **/
.lof-spacer{
	margin-bottom: 15px;
}

.pager
{
    width: auto;
    height: 30px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px; /*border-radius: 8px; 	-moz-border-radius: 8px;*/
}
.pager div.short
{
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    width: 74px;
}
.pager div.short input
{
    width: 28px;
    height: 18px;
    border: none;
    margin-left: 8px;
    float: left;
}
.pager ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 4px;
}
.pager ul li
{
    display: inline;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 0;
    width: auto;
}
.pager ul li a
{
    text-decoration: none;
    display: inline-table;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.pager span
{
    margin-left: 4px;
    color: White;
    float: left;
}
.pager .btn
{
    display: block;
    width: 40px;
	height: 20px;
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.pager .disabled
{
    color: #A0A0A0 !important;
    text-shadow: 1px 1px 1px #FFFFFF;
}
/*green*/.green
{
    background-color: #4f7305;
}
.green.normal
{
    background-color: #588500;
    color: White;
    border: solid 1px #5f9000;
}
.green.active
{
    background-color: #344C00;
    color: #F8EB00;
    border: solid 1px #5f9000;
}
.pager.green .btn
{
    background-color: #588500;
    color: White;
    border: solid 1px #5f9000;
}
/*black*/.black
{
    background-color: #202020;
}
.black.normal
{
    background-color: #1d1d1d;
    color: #B0D551;
    border: solid 1px #000;
}
.black.active
{
    background-color: #333333;
    color: White;
    border: solid 1px #000;
}
.pager.black .btn
{
    background-color: #1d1d1d;
    color: White;
    border: solid 1px #000;
}
/*red*/.red
{
    background-color: #D50B07;
}
.red.normal
{
    background-color: #E71C18;
    color: White;
    border: solid 1px #F82723;
}
.red.active
{
    background-color: #C00D09;
    color: White;
    border: solid 1px #A90B08;
}
.pager.red .btn
{
    background-color: #E71C18;
    color: White;
    border: solid 1px #F82723;
}

/** jRating CSS **/
.jRatingAverage {
	background-color:#f62929;
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}
.jRatingColor {
	background-color:#f4c239;
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}

/** Div containing the stars **/
.jStar {
	background:	transparent url('img/stars-small.png') repeat-x;
	position:relative;
	left:0;
	z-index:3;
}

/** P containing the rate informations **/
p.jRatingInfos {
	position:		absolute;
	z-index:9999;
	background:	transparent url('img/bg_jRatingInfos.png') no-repeat;
	color:			#FFF;
	display:		none;
	width:			91px;
	height:			29px;	
	font-size:16px;
	text-align:center;
	padding-top:5px;
}
p.jRatingInfos span.maxRate {
	color:#c9c9c9;
	font-size:14px;
}

/* Like/unlike */
.lof-faq-box .helpful-link-yes{
    background: url("img/like.ico") no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.lof-faq-box .helpful-link-no{
    background: url("img/unlike.ico") no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

/* faq lof-item-box */
.lof-item-box{
    padding-bottom: 15px;
}
.lof-info{
}
.lof-info img{
    float: left;
    height: 40px;
    padding-right: 10px;
    vertical-align: middle;
    width: 40px;
}
.lof-info .name{
    float: left;
    font-size: 11px;
    font-weight: bold;
    color: #1E7EC8;
    padding-right: 5px
}
.lof-info .date{
    float: left;
    font-size: 10px;
    font-style: italic;
}
.lof-info .lof-rating-box{
    
}
.lof-info .help-text{
    float: left;
}
.lof-info .helpful{
    
}

/* lof-faqcat-box */
.lof-faq-box{
    margin-bottom: 11px;
}
.lof-faq-box h3 {
    background: url("img/header.gif") repeat scroll 0 0 transparent;
    border: 1px solid #9AC1C9;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    padding: 6px 6px 8px;
    width: auto;
    margin: 0em 0em;
}
.lof-faq-box .content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #9AC1C9 #9AC1C9;
    border-right: 1px solid #9AC1C9;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 15px;
    width: auto;
}
.lof-faq-box ul{
    list-style: none outside none;
}
.lof-faq-box li{
    float:left;
    width: 120px;
    margin-right: 11px;
    margin-bottom: 11px; 
}
.lof-faq-box li .img {
    vertical-align:middle;
    display: block;
    text-align: center;
}
.lof-faq-box img{
    vertical-align: middle;   
}
 
.lof-faq-box li .text {
    text-align: center;
}

/* form submit */
.messages {
    overflow: hidden;
    width: 100%;
}

.messages, .messages ul {
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.messages li {
    margin: 0 0 10px !important;
}

#loffaq-submit textarea.lof-error{
    background: none repeat scroll 0 0 #F8DBDB;
    border-color: #E77776;
	width: auto;
}
#loffaq-submit input.lof-error{
    background: none repeat scroll 0 0 #F8DBDB;
    border-color: #E77776;
	width: auto;
}
#loffaq-submit select.lof-error{
    background: none repeat scroll 0 0 #F8DBDB;
    border-color: #E77776;
    width: auto;
}

.lof-error {
    color: #DA0F00;
    margin: 0px;
    padding: 0px;
    width: 85%;
}
.success-msg {
    background-color: #EFF5EA;
    background-image: url("img/success.gif"); /*Error.ico, success.gif */
    border-color: #446423;
    color: #3D6611;
}
.error-msg{
    background-color: #EFF5EA;
    background-image: url("img/Error.ico"); /*Error.ico, success.gif */
    border-color: red;
    color: red;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
    background-position: 10px 9px !important;
    background-repeat: no-repeat !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 11px !important;
    font-weight: bold !important;
    min-height: 24px !important;
    padding: 8px 8px 8px 32px !important;
}

.lof-faq-submit{
    clear: both;
    color: #737373;
    font-family: Arial;
    font-size: 12px;
}
.lof-faq-submit h4.title {
    color: #1E7EC8;
    font-family: tahoma;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
}

#loffaq_captcha {
    display: block;
    float: left;
}
#loffaq_refresh {
    background: url("img/refresh.png") no-repeat scroll center center transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 22px;
    width: 50px;
}

.lof-faq-submit form .field {
    clear: both;
    padding-bottom: 15px;
}
.lof-faq-submit form .code{
    clear: both;
    padding-bottom: 15px;    
}
.lof-faq-submit form h4 {
    color: #1E7EC8;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.lof-faq-submit input, select, textarea, button{
    font-family: Verdana,Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    margin-left: 0em;
    outline: medium none;
}
/* button */
.lof-btn {
    background: url("img/left-btn.gif") no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    float: left;
    height: 28px;
    margin: 0 6px 0 0;
    padding-left: 10px;
    cursor: pointer;
}
.lof-btn span{
    background: url("img/right-btn.gif") no-repeat scroll right top transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding-right: 15px;
    text-transform: capitalize;
    top: -1px;
}
/* form search faq */
.lof-faq-box .search{
    margin-bottom: 10px;
    display: block;
    text-align: center;
    vertical-align: middle;
}
.loffaq-btn{
    
    background: url("img/overlay.png") repeat-x scroll 0 0 #222222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 6px 6px;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);*/
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    background-color: #2981E4;
    font-weight: bold;
}



.loffaq-btn:hover{
    background-color: #2575CF;
}

.lof-form .search-form .input-text{
    border: 1px solid #D1D1D1;
    clear: both;
    float: left;
    
    padding: 3px;
    width: 445px;
    margin-left: 0px;
    color:#666666;
}
/* list */
.faq-count{
    color: red;   
    margin-bottom: 10px;
}
.lof-faq{
    float: left;
    width: 100%;
}
.faq-item{
    border-bottom: 1px solid #E4E7E2;
    clear: both;
    color: #737373;
    margin-bottom: 5px;
    padding-bottom: 10px;   
}

.faq_question{
	margin-bottom: 12px;
}
.faq_answer {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    margin: 10px 0;
    padding: 20px;
}

.faq-name {
    color: #1E7EC8;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.img-question{
	background: url("img/question.gif") no-repeat scroll 0 50% transparent;
    float: left;
    height: 20px;
    width: 16px;
}
.faq-question{
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 15px;
	cursor: pointer;
}

.faq-question:hover{
	color:red;
}

.faq-question p{
	margin: 0em 0em !important;
    padding-left: 0em !important;
}

.faq-question-selected{
    background: url("img/answer.gif") no-repeat scroll 0 50% transparent;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 15px;
}

/* */
.ico {
    background: url("img/faq.ico") no-repeat scroll 0 0 transparent;
    float: left;
    height: 16px;
    width: 20px;
    cursor: pointer;
}

.lof-top-faq .image {
    background: url("img/faq.ico") no-repeat scroll 0 0 transparent;
    float: left;
    height: 16px;
    width: 30px;
    cursor: pointer;
}

.clr{
    clear: both;
}
.search_loading{
	background: url("img/loading.gif") no-repeat;
	width: 43px;
	height: 28px;
	display:block;
	text-indent:-9999px;
	float:right;
	display:none;
}