<h1 class="new-product-title1 border-title-main">{$Title}<span></span></h1>

<div class="container">
    <div class="row-fluid">
        <div id="container" style="position: relative; height: 285px;">
            {foreach from=$HotComparisonArr item=HotComparison}
                <div data-category="{$HotComparison['id_hotcompare']}">

                    {$HotComparison['name']}

                </div>
            {/foreach}
        </div>
    </div>
</div>

