div.addresses {
   position:relative;
   padding:15px;
   border:1px solid #ccc;
	font-size:12px;
   background:#f8f8f8
}

ul.address {
   list-style-type:none;
   float:right;
   position:relative;
   width:345px !important
}
#address_delivery {margin-left:35px;}
#address_invoice {margin-left:0}
#delivery_address {margin-left:65px;}

ul.address li {
	padding:0 15px;
	font-weight:bold;
	line-height:18px;
	text-transform:uppercase
}

ul.address li.address_title {
   height: 29px;
   font-weight: bold;
   line-height:29px;
   color:#fff;
    text-shadow:0 1px 0 #666;
   background:url(../../img/bg_table_th.png) repeat-x right -10px #999
}
ul.address .address_alias {
	font-weight: normal;
	text-transform: none;
}
ul.address li.address_firstname,
ul.address li.address_company {
	margin-top:8px
}

ul.address  li.address_update {
	margin-top:20px
}
ul.address  li.address_update,
ul.address li.address_delete {
	font-size:11px;
   text-transform:none
}
.address_add {
   padding:20px 0
}
.address_select {
	border:1px solid #ccc;
	width: 200px;
	margin-right: 10px;
}
label[for=id_address_delivery], label[for=id_address_invoice] {
	float: right;
	width: 225px;
}
.addressesAreEquals label {
	margin-right: 5px;
}
.addressesAreEquals input {
	float: right;
}
p.address_delivery, p.addressesAreEquals {
	padding-bottom: 14px
}
/* PAGE ADRESSES ******************************************************************************* */
.addresses ul.address {
   list-style-type:none;
   float:right;
   position:relative;
	margin:30px 0px 0 30px;
   width:345px !important
}
.addresses ul.address.alternate_item,
.addresses ul.address.last_item {margin-left:0}
.addresses ul.address li {
	padding:0 15px;
	font-weight:bold;
	line-height:18px;
	text-transform:uppercase
}
.addresses ul.address .address_title {
	margin-bottom:5px;
	height: 29px;
   font-weight: bold;
   line-height:29px;
   color:#fff;
    text-shadow:0 1px 0 #666;
   background:url(../../img/bg_table_th.png) repeat-x right -10px #999
}
.addresses ul.address .address_update {margin-top:20px}
.addresses ul.address .address_update,
.addresses ul.address .address_delete {
	font-size:11px;
   text-transform:none
}

