table#product_comparison {
	width:100%;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
#product_comparison tr.comparison_header {font-weight:bold}
#product_comparison td {
	padding:6px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	vertical-align:top
}
#product_comparison td.td_empty{
	border:none;
	background:#fff;
}
#product_comparison tr.comparison_header,
#product_comparison td.comparison_feature_even {background:#f8f8f8}

#product_comparison .product_image {
	display:block;
	text-align:center
}
#product_comparison .product_image img {border:1px solid #ccc}
#product_comparison .s_title_block {
	margin-bottom:10px;
	font-size:12px;
	color:#000;
	font-weight:bold;
	 padding-bottom: 0;
}
#product_comparison .product_desc {
	padding-bottom:5px;
	height:40px;
	color:#666
}
#product_comparison .lnk_more {
	display:block;
	margin-bottom:10px;
	padding-right:10px;
	color:#0088cc;
	background:url(../../img/arrow_right_1.png) no-repeat right 4px transparent;
}

.prices_container {height:50px}
.price_container {padding-bottom:10px}
#product_comparison .price {
	font-weight:bold;
	font-size:14px;
	color:#990000
}
.discount {
   display:inline-block;
   padding:1px 5px;
   font-size:10px;
   font-weight:bold;
   color:#fff;
   text-transform:uppercase;
	background:#9B0000
}

.comparison_availability_statut {display:none}

#product_comparison .cmp_remove {
	display:block;
	margin-bottom:10px;
	padding-left:16px;
   font-weight:bold;
	text-align:left;
	background:url(../../img/icon/delete.gif) no-repeat left 1px transparent;
}

.ajax_add_to_cart_button {
	margin-right:9px;
	padding-right:20px !important
}
.ajax_add_to_cart_button span {
   display: block;
   position: absolute;
   top: -1px;
   height: 26px;
   right: -12px;
   width: 26px;
	background: url(../../img/icon/pict_add_cart.png) no-repeat right 0 transparent
}












