
	#contact  fieldset {
		padding:0 0 15px 0;
		border:1px solid #ccc;
		background:#f8f8f8
	}
		#contact  h3 {
			margin:0 0 15px 0;
			padding:8px;
			font-size:14px;
			color:#fff;
			text-transform:uppercase;
			background:url(../../img/bg_form_h3.png) repeat-x right 0 #989898
		}
		#contact #center_column p {margin:0; padding:0 0 10px 0;}
		#contact #center_column p.desc_contact { text-align: center; padding-right: 10px; padding-left: 10px; }
		
		#contact p.text label,
		#contact p.select label,
		#contact p.select span,
		#contact p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:150px;/* 180 */
			font-size:12px;
			text-align:left
		}
		#contact p.textarea label {vertical-align:top}
		#contact p.text input,
		#contact p.select input {
			padding:0 5px;
			height:22px;
			width:260px;/* 270 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#contact p.select select {
			margin-left:10px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#contact p.textarea textarea {
			height:80px;
			width:270px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#contact p.submit input {margin-right:185px;}