#history #left_column {display:none}
#history #center_column{width:757px}
#history #center_column h1{margin-top:20px}
#history #center_column .title_block {
	margin:20px 0;
	padding:15px 20px;
	background:#ccc
}
#history #center_column .title_block  input {
	position: relative;
   top: -8px;
	float:left;
}

.info-order {
	margin-bottom:20px;
}
.info-order p {padding-bottom:10px}
.info-order p .icon {
	position:relative;
	top:2px;
	right:0
}

#order-list {
	margin-bottom:20px;
	width:100%;
	border:1px solid #999;
	border-bottom:none
}
#order-list  th {
	padding:14px 12px;
	color:#fff;
	text-transform:uppercase;
	text-shadow:0 1px 0 #000;
	background:url(../../img/bg_table_th.png) repeat-x right 0 #999
}
#order-list tr.alternate_item {background-color: #f3f3f3}
#order-list  td {
	padding:12px;
	border-left:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	font-weight:bold;
	font-size:12px;
	vertical-align:top
}
#order-list  td.history_detail {border-left:none;}

#order-list .last_item  td {border-bottom:1px solid #999}

.adresses_bloc {margin-bottom:20px}
.adresses_bloc  .item {margin-left:60px}

.detail_step_by_step {width:100%}
.detail_step_by_step tr.last_item td {border-bottom:1px solid #999}

#order-detail-content table {width:100%}
#order-detail-content table .order_qte_input {display:none}
#order-detail-content table tr.totalprice td {border-bottom:1px solid #999}
#order-detail-content table tr:nth-child(even) {background:#f3f3f3;}

#sendOrderMessage {margin-bottom:20px}
#sendOrderMessage p {padding-bottom:10px}

#returnOrderMessage .textarea textarea,
#sendOrderMessage .textarea textarea {
	width:100%;
	border:1px solid #999
}














