#identity #left_column {display:none}
#identity #center_column{width:757px}
#identity h3 {
	font-weight:normal;
	font-size:13px;
}
#identity p {
	padding-bottom:10px;
}
#identity form.std fieldset {
	margin-top:0;
	padding:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#eee;
}
#identity .std p.required {color:#333}
#identity .std p.text label,
#identity .std p.password label,
#identity .std p.select label {
	display:inline-block;
	padding-left:10px;
	width:174px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:left;
}
#identity .std p.text label sup,
#identity .std p.password label sup,
#identity .std p.select label sup {color:#990000;}
#identity .std p.text input,
#identity .std p.password input {
	padding:0 5px;
	height:20px;
	width:253px;/* 263 */
	border:1px solid #ccc;
	background:url(../../img/bg_input.png) repeat-x right 0 #fff;
}
#identity .std p.select select {
	border:1px solid #ccc;
}
#identity .std p.radio span {
	display:inline-block;
	padding-left:10px;
	width:174px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:left;
}
#identity .std p.radio input {
	padding:0 5px;
	height:auto;
	width:auto;
	border:none;
	background:none;
	position: relative;
	bottom: -3px;
}
#identity .std p.checkbox input {
	position:relative;
	top:2px;
	right:0;
	margin:0 187px 0 2px;
}
#identity .std p.submit {padding:10px 187px 20px 0px}
#identity .std p.submit .button {padding:5px 25px}
#identity .std #security_informations {
	padding:0 187px 0 0px;
	font-size:11px;
}