#maintenance {
	margin:0 auto;
	width:940px;
	font:normal 30px tahoma,Arial, Verdana, sans-serif;
	color:#333;
}
#maintenance #message {
	margin:0 20px;
	padding:50px 0px 0 310px;
	height:360px;
	background:url(../../img/bg_maintenance.png) no-repeat left 0 #fff
}