#sitemap_content {margin-right: 20px}
#sitemap_content .sitemap_block h3, 
#sitemap_content .categTree h3 {margin: 20px 0 0 0}

#sitemap_content div.sitemap_block {
   float: right;
   min-height: 120px;
   padding: 0;
   width: 33%
}
#sitemap_content div.sitemap_block ul {list-style-type:none}
#sitemap_content div.sitemap_block li a {
   display: block;
   padding: 2px 10px 2px 0px;
   color: #333;
	background: url(../../img/arrow_right_2_rtl.png) no-repeat right 4px transparent
}

#listpage_content {margin: 50px 20px 20px 0px;}
#listpage_content div.categTree {
   float: right;
   width: 33%
}
#listpage_content div.tree_top {
   padding: 3px 24px 5px 0px;
   background: url(../../img/sitemap-top.gif) no-repeat 100.5% -3px transparent
}
#listpage_content ul {list-style-type:none}
#listpage_content ul.tree li {
   margin-right: 11px;
   padding-right: 20px;
   border-right: 1px dotted #999;
   background: url(../../img/sitemap-horizontal.png) no-repeat right 10px transparent
}
#listpage_content ul.tree li.last {
   border: medium none;
   background: url(../../img/sitemap-last_rtl.gif) no-repeat 109% -2px transparent
}