#stores #center_colum label {
	display:inline-block;
	width:150px;
	font-weight:bold;
	text-align:left
}
input#addressInput {
	padding:2px 5px;
	width:300px;
	border:1px solid #ccc
}
select#radiusSelect {
	margin: 0 0px 0 5px;
	width:50px;
	border:1px solid #ccc
}

#stores_loader {
   display: none;
   margin-right: 5px
}

#locationSelect {
   visibility: hidden;
   width: 400px;
	border:1px solid #ccc
}

#stores #center_column p .button {float:left}

#map {
   margin:15px auto;
   height:375px;
   width:535px
}

#stores-table {border-bottom:1px solid #999}
#stores-table tr:nth-child(odd) {background-color: #f3f3f3;}
#stores-table td {
	border-top:1px solid #ccc;
	border-bottom:none
}
#stores-table td.distance {border-left:1px solid #999}