{if $LOFSYSTEM_CONTENT}
    <div class="lofcontent_blocks_system">{$LOFSYSTEM_CONTENT}</div>
{/if}
{if $LOFSYSTEM_SOCIAL}
    <div class="lofcontent_blocks_system">{$LOFSYSTEM_SOCIAL}</div>
{/if}
{if $LOFSYSTEM_TAGS}
    <div class="lofcontent_blocks_system">{$LOFSYSTEM_TAGS}</div>
{/if}
{if $LOFSYSTEM_PRODUCTS}
    <div class="lofcontent_blocks_system">{$LOFSYSTEM_PRODUCTS}</div>
{/if}
{if $LOFSYSTEM_COMMENTS}
    <div class="lofcontent_blocks_system">{$LOFSYSTEM_COMMENTS}</div>
{/if}
