/* Block best sellers */
#best-sellers_block_right {
    border: medium none !important;
    margin: 70px 8px 70px 0;
}
#best-sellers_block_right li {
	margin-bottom:10px;
	width:100%;
    left: -200px;
    position: relative;
  }
#best-sellers_block_right li.last_item {border:none}
#best-sellers_block_right li a.content_img {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    text-decoration: none;
    /*width: 30%;*/
}
#best-sellers_block_right li a.content_img img {
	/*border:1px solid #f0f0f0;*/
	transition: all 0.5s linear 0s;
	/*width:99%*/
}
#best-sellers_block_right li a.content_img:hover
{
	/*border: 1px solid #679712;*/
    /*border-radius: 3px 3px 3px 3px;*/
    /*box-shadow: 0 0 4px #679712;*/
	/*transition: all 0.5s linear 0s;*/
}
#best-sellers_block_right li span.number {
	display:block;
	float:left;
	margin-top:6px;
	width:20px;
	font-weight:bold;
	font-size:18px;
	color:#fff;
	text-align:center
}

#best-sellers_block_right li  a.content_img
{
	float:right;
	margin-left:10px;
}
#best-sellers_block_right li p {
	padding:0;
	line-height:18px;
	font-size:12px;
}
#best-sellers_block_right li p.product_desc a
{
	font-weight: normal;
	height:40px;
	overflow-x: hidden;
    overflow-y: hidden;
	margin-top:10px;
}
#best-sellers_block_right li  .price {
	font-size:15px;
	color:gray;
	margin-top:15px;
}
#best-sellers_block_right p.lnk {
	text-align:right;
	padding-bottom:2px;
	clear: both
}
#best-sellers_block_right .title_block a {
    color: #808080;
    font-size: 21px;
    font-weight: lighter;
    margin-right: 18px;
    }
.product-sellers h4 {
    text-align: right !important;
}
.product-sellers h4 a {
    font-size:14px !important;
    font-weight: bold !important;
    font-family: Open Sans,arial,tahoma !important;
}
.product-sellers h3{
    text-align: center;
}
.product-sellers {
    margin-top: 12px;
}