/* block top currencies */

#currencies_block_top
{
	background:#679712;
    float: right;
	height:26px;
	padding-right:8px;
	border-radius: 0 0 5px 0;
	border-style:solid;
	border-width:0px 1px 1px 0px;
	border-color:#84c114;
}
#currencies_block_top .block-cur-languages
{
	  padding:0px;
	  color:#FFF;
}
#header_right #currencies_block_top p {
	clear: left;
	padding-right:16px;
	font: 11px Arial,Verdana,sans-serif;
	color: #ccc;
	text-align: right;
	
}
#currencies_block_top ul#first-currencies li {
	margin-right: 3px
}
/*languages with jquery*/
#setCurrency {
	cursor: pointer;
	position: relative;
	top: 1px;
}
#setCurrency p {
	position: relative;
	top: 0;
	margin-left: 5px;
	padding: 0;
}
#setCurrency p img {
	padding-left: 5px;
}
#setCurrency .currencies_ul{
	display:none;
	right: -8px;
    position: absolute;
    top:18px;
    z-index: 5000;
	list-style-type:none;
	background:#679712;
	border-radius: 0 0 5px 0;
}
#setCurrency .currencies_ul_hover{
	display:block;
	z-index: 5000;
	padding:5px;
	height:auto;
    width: auto;
}
#setCurrency .currencies_ul_hover a {color:#fff;}
