#lofCatalog .block_content{
	padding: 1em 0.8em 0;
}
.lof-mod-title{
	padding-top:1px !important;
	height: 21px !important;
}
.lof-mod-title SPAN{
	overflow:hidden;
	display:inline-block;
}
.loftree ul{
	margin-left:10px;
}
.loftree li a{
	color: #374853;
	font-weight:bold;
}
.loftree li{
	list-style:none;
	background: url(images/pdfcat.png) no-repeat 0 0;	
	padding: 0 0 10px 18px !important;
}
.loftree li ul li{
	padding: 0 0 2px 18px !important;
}