#categories_block_left  li {border-bottom:1px solid #e6e6e6; padding:5px 0px 5px 0px}
	#categories_block_left  li.last {	border:none;}
		#categories_block_left  li a {
			display:block;
		}	
			#categories_block_left li ul
			{
				padding-top:4px
			}
			#categories_block_left  li ul li a {
				padding-left:0;
				background:none;
                text-transform: capitalize;
        
			}
#categories_block_left li a:hover
{
	text-decoration:none;
	color:#169EE4;
}
#categories_block_left ul li ul li
{
	padding:4px 0px 4px 10px
}
#categories_block_left li .OPEN,
#categories_block_left li .CLOSE {
	display:block;
	float:right;
	margin:5px 10px 0;
	height:9px;
	width:9px;
	cursor:pointer
}
#categories_block_left li .CLOSE {background-position:0 0}


/* footer */
.blockcategories_footer {
	padding:15px 10px;
}
.blockcategories_footer ul ul {display:none !important}
#categories_block_left li ul li a{
    background: url(img/bullet.gif)left 10px no-repeat;
    padding: 5px 0px 2px 10px;
}
#categories_block_left li ul li ul li a
{
	background:none;
}