.page
{
    width: auto;
    height: 100px;
    background: #CCCCCC;
    border: 1px solid #666666;

}
.inputtext
{
    font-family: tahoma, Arial;
    font-size: 12px;
    color: #001C4D;
    border: 1px solid #00415e;
}
.span_bold_12
{
    font-size: 12px;
    font-family: tahoma, Arial;
    font-weight: bold;
}