#module-favoriteproducts-account #left_column {display:none}
#module-favoriteproducts-account #center_column {width:757px}

#favoriteproducts_block_account .favoriteproduct {
	position:relative;
   margin-bottom: 14px;
   padding: 12px 8px;
	border: 1px solid #eee;
   border-radius: 3px 3px 3px 3px;
}

.favoriteproduct a.product_img_link {
    border: 1px solid #CCCCCC;
    display: block;
    float: right;
    margin-left: 14px;
    overflow: hidden;
    position: relative;
}

.favoriteproduct h3 {
    color: #000000;
    font-size: 13px;
    padding: 0 0 10px;
}

.favoriteproduct  p.product_desc {
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}

.favoriteproduct .remove {
	position:absolute;
	top:10px;
	left:10px
}
.favoriteproduct .remove .icon {cursor:pointer}


/* lnk fiche produit */

#usefull_link_block li#favoriteproducts_block_extra_add {
	/*padding-right:20px;*/
	cursor: pointer;
}

#usefull_link_block li#favoriteproducts_block_extra_remove {
    background-color: #0069C2;
    cursor: pointer;
}

ul#usefull_link_block li#favoriteproducts_block_extra_added {
    background-color: #0069C2;
    cursor: pointer;
    display: none;
}
ul#usefull_link_block li#favoriteproducts_block_extra_removed {
	/*padding-right:20px;*/
	cursor: pointer;
	display: none;
}
#usefull_link_block {
    background-color: #A5A5A5;
    height: 30px;
    margin-right: 7px;
    width: 145px;
}
#usefull_link_block li {
    color: #FFFFFF;
    height: 25px;
    padding-top: 5px;
}
